Repository csstools/postcss-plugins, pull requests merged in 2021-12, with the labels that each got.

#52 cleanup rollup configs
  plugins/css-blank-pseudo/package.json
  plugins/css-has-pseudo/package.json
  plugins/css-prefers-color-scheme/package.json
  plugins/postcss-base-plugin/package.json
  plugins/postcss-color-functional-notation/package.json
  plugins/postcss-focus-visible/package.json
  plugins/postcss-focus-within/package.json
  plugins/postcss-image-set-function/package.json
  plugins/postcss-lab-function/package.json
  plugins/postcss-nesting/package.json
  rollup/configs/babel-presets.js
  rollup/configs/externals.js
  rollup/default-with-browser.js
  rollup/default-with-deno.js
  rollup/default.js
  rollup/default.ts.js
  rollup/presets/browser.javascript.js
  rollup/presets/cli-javascript.js
  rollup/presets/cli-typescript.js
  rollup/presets/deno-javascript.js
  rollup/presets/package-javascript.js
  rollup/presets/package-typescript.js
  rollup/transforms/cli-hash-bang.js
Labels: plugins/css-has-pseudo, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-focus-visible, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-nesting, plugins/css-prefers-color-scheme, common-tools

#56 fix some docs and add a very minimal general readme
  CONTRIBUTING.md
  README.md
  packages/base-cli/README.md
  plugin-packs/postcss-preset-env/INSTALL.md
  plugin-packs/postcss-preset-env/README.md
  plugins/postcss-env-function/INSTALL.md
  plugins/postcss-focus-visible/README.md
  plugins/postcss-lab-function/package.json
  plugins/postcss-lab-function/test/color/README.md
Labels: plugins/postcss-env-function, plugins/postcss-focus-visible, plugins/postcss-lab-function, plugin-packs/postcss-preset-env, common-tools

#58 Fix open issues : postcss-image-set-function
  plugins/postcss-image-set-function/src/index.ts
  plugins/postcss-image-set-function/src/lib/get-image.ts
  plugins/postcss-image-set-function/src/lib/process-image-set.ts
  plugins/postcss-image-set-function/test/basic.css
  plugins/postcss-image-set-function/test/basic.expect.css
  plugins/postcss-image-set-function/test/basic.no-preserve.expect.css
Labels: plugins/postcss-image-set-function

#62 postcss-dir-pseudo-class : fix combinators and support for `:is(:dir(ltr))`
  plugins/postcss-dir-pseudo-class/.tape.js
  plugins/postcss-dir-pseudo-class/src/index.js
  plugins/postcss-dir-pseudo-class/test/basic.css
  plugins/postcss-dir-pseudo-class/test/basic.dir.expect.css
  plugins/postcss-dir-pseudo-class/test/basic.expect.css
  plugins/postcss-dir-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-dir-pseudo-class/test/basic.shadow.expect.css
  plugins/postcss-dir-pseudo-class/test/generated-selector-cases.expect.css
Labels: plugins/postcss-dir-pseudo-class

#63 Creating global `.npmrc`
  .npmrc
  CODE_OF_CONDUCT.md
  package.json
  packages/base-cli/package.json
  plugins/postcss-base-plugin/package.json
Labels: common-tools

#59 Update change logs
  plugins/css-blank-pseudo/.gitignore
  plugins/css-blank-pseudo/CHANGELOG.md
  plugins/css-blank-pseudo/package.json
  plugins/css-has-pseudo/CHANGELOG.md
  plugins/css-prefers-color-scheme/CHANGELOG.md
  plugins/postcss-base-plugin/README.md
  plugins/postcss-color-functional-notation/CHANGELOG.md
  plugins/postcss-dir-pseudo-class/CHANGELOG.md
  plugins/postcss-double-position-gradients/CHANGELOG.md
  plugins/postcss-env-function/CHANGELOG.md
  plugins/postcss-focus-visible/CHANGELOG.md
  plugins/postcss-focus-within/CHANGELOG.md
  plugins/postcss-gap-properties/CHANGELOG.md
  plugins/postcss-image-set-function/CHANGELOG.md
  plugins/postcss-lab-function/CHANGELOG.md
  plugins/postcss-logical/CHANGELOG.md
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-overflow-shorthand/CHANGELOG.md
  plugins/postcss-place/CHANGELOG.md
  plugins/postcss-pseudo-class-any-link/CHANGELOG.md
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-nesting, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugins/css-prefers-color-scheme, common-tools

#64 cleanup rollup configs
  rollup/configs/externals.js
Labels: common-tools

#71 fix infinite loop with complex gradients
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugins/postcss-double-position-gradients/CHANGELOG.md
  plugins/postcss-double-position-gradients/src/index.js
  plugins/postcss-double-position-gradients/test/basic.css
  plugins/postcss-double-position-gradients/test/basic.expect.css
  plugins/postcss-double-position-gradients/test/basic.preserve.expect.css
  plugins/postcss-double-position-gradients/test/generated-value-cases.expect.css
  plugins/postcss-double-position-gradients/test/generated-value-cases.preserve.expect.css
Labels: plugins/postcss-double-position-gradients, plugin-packs/postcss-preset-env

#73 color-functional-notation: var alpha values in rgb
  plugins/postcss-color-functional-notation/src/on-css-function.ts
  plugins/postcss-color-functional-notation/test/variables.css
  plugins/postcss-color-functional-notation/test/variables.expect.css
  plugins/postcss-color-functional-notation/test/variables.preserve-true.expect.css
Labels: plugins/postcss-color-functional-notation

#74 color-functional-notation : change log and a few more tests
  plugins/postcss-color-functional-notation/CHANGELOG.md
  plugins/postcss-color-functional-notation/test/basic.css
  plugins/postcss-color-functional-notation/test/basic.expect.css
  plugins/postcss-color-functional-notation/test/basic.preserve-true.expect.css
Labels: plugins/postcss-color-functional-notation

#77 fix css escaping in postcss-has-pseudo
  plugins/css-has-pseudo/src/index.js
  plugins/css-has-pseudo/test/basic.css
  plugins/css-has-pseudo/test/basic.expect.css
  plugins/css-has-pseudo/test/basic.preserve.expect.css
Labels: plugins/css-has-pseudo

#81 Update homepage
  plugin-packs/postcss-preset-env/package.json
Labels: plugin-packs/postcss-preset-env

#84 changelogs for #72
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugins/postcss-nesting/CHANGELOG.md
Labels: plugins/postcss-nesting, plugin-packs/postcss-preset-env

#87 color functional notation : support for alpha value with comma separated values
  plugins/postcss-color-functional-notation/CHANGELOG.md
  plugins/postcss-color-functional-notation/src/on-css-function.ts
  plugins/postcss-color-functional-notation/test/basic.css
  plugins/postcss-color-functional-notation/test/basic.expect.css
  plugins/postcss-color-functional-notation/test/basic.preserve-true.expect.css
Labels: plugins/postcss-color-functional-notation

#92 fix browser script exports
  plugins/css-blank-pseudo/CHANGELOG.md
  plugins/css-blank-pseudo/package.json
  plugins/css-has-pseudo/CHANGELOG.md
  plugins/css-has-pseudo/package.json
  plugins/css-prefers-color-scheme/CHANGELOG.md
  plugins/css-prefers-color-scheme/package.json
  rollup/presets/browser.javascript.js
Labels: plugins/css-has-pseudo, plugins/css-blank-pseudo, plugins/css-prefers-color-scheme, common-tools
