Repository csstools/postcss-plugins, pull requests merged in 2022-04, with the labels that each got.

#266 css-color-4 : percentage & number unit color components
  plugins/postcss-color-function/CHANGELOG.md
  plugins/postcss-color-function/src/on-css-function.ts
  plugins/postcss-color-function/test/basic.expect.css
  plugins/postcss-color-function/test/basic.preserve-true.expect.css
  plugins/postcss-lab-function/CHANGELOG.md
  plugins/postcss-lab-function/src/convert-lab-to-display-p3.ts
  plugins/postcss-lab-function/src/convert-lab-to-srgb.ts
  plugins/postcss-lab-function/src/on-css-function.ts
  plugins/postcss-lab-function/test/basic.css
  plugins/postcss-lab-function/test/basic.display-p3-false.expect.css
  plugins/postcss-lab-function/test/basic.display-p3-false.preserve-true.expect.css
  plugins/postcss-lab-function/test/basic.expect.css
  plugins/postcss-lab-function/test/basic.preserve-true.expect.css
  plugins/postcss-oklab-function/CHANGELOG.md
  plugins/postcss-oklab-function/src/convert-oklab-to-display-p3.ts
  plugins/postcss-oklab-function/src/convert-oklab-to-srgb.ts
  plugins/postcss-oklab-function/src/convert-oklch-to-display-p3.ts
  plugins/postcss-oklab-function/src/convert-oklch-to-srgb.ts
  plugins/postcss-oklab-function/src/on-css-function.ts
  plugins/postcss-oklab-function/test/basic.css
  plugins/postcss-oklab-function/test/basic.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.display-p3-false.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.expect.css
Labels: plugins/postcss-lab-function, plugins/postcss-color-function, plugins/postcss-oklab-function

#318 improve pseudo element handling
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/src/split-selectors/compound-selector-order.ts
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/lib/merge-selectors/compound-selector-order.js
  plugins/postcss-nesting/test/basic.css
  plugins/postcss-nesting/test/basic.expect.css
  plugins/postcss-nesting/test/basic.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/spec-examples.expect.css
  plugins/postcss-pseudo-class-any-link/CHANGELOG.md
  plugins/postcss-pseudo-class-any-link/src/compound-selector-order.js
  plugins/postcss-pseudo-class-any-link/test/basic.css
  plugins/postcss-pseudo-class-any-link/test/basic.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.preserve-false.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.sub-features-area-href.expect.css
  plugins/postcss-pseudo-class-any-link/test/generated-selector-cases.expect.css
  plugins/postcss-pseudo-class-any-link/test/generated-selector-cases.sub-features-area-href.expect.css
Labels: plugins/postcss-pseudo-class-any-link, plugins/postcss-nesting, plugins/postcss-is-pseudo-class

#322 better selector specificity calculation
  experimental/css-has-pseudo/src/index.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/specificity.ts
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-nesting/src/lib/merge-selectors/specificity.js
Labels: plugins/css-has-pseudo, plugins/postcss-nesting, experimental, plugins/postcss-is-pseudo-class

#330 fix #329
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/src/lib/transform-value-ast.ts
  plugins/postcss-custom-properties/test/basic.css
  plugins/postcss-custom-properties/test/basic.expect.css
  plugins/postcss-custom-properties/test/basic.import-is-empty.expect.css
  plugins/postcss-custom-properties/test/basic.import-override.expect.css
  plugins/postcss-custom-properties/test/basic.import-override.inverse.expect.css
  plugins/postcss-custom-properties/test/basic.import.expect.css
  plugins/postcss-custom-properties/test/basic.preserve.expect.css
Labels: plugins/postcss-custom-properties

#327 update has pseudo polyfill
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/package.json
  experimental/css-has-pseudo/test/_browser.html
  package-lock.json
Labels: plugins/css-has-pseudo, experimental

#332 Fix race condition issue of postcss-custom-properties
  plugins/postcss-custom-properties/src/index.ts
Labels: plugins/postcss-custom-properties

#333 Ignore has inside supports
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/src/index.ts
  experimental/css-has-pseudo/test/basic.css
  experimental/css-has-pseudo/test/basic.expect.css
  experimental/css-has-pseudo/test/basic.preserve.expect.css
  experimental/css-has-pseudo/test/basic.specificity-matching-name.expect.css
Labels: plugins/css-has-pseudo, experimental

#343 tweak wording
  sites/postcss-preset-env/index.njk
  sites/postcss-preset-env/postcss.config.cjs
Labels: sites/postcss-preset-env

#350 update dependencies in postcss-preset-env and csstools-cli
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/package.json
  cli/csstools-cli/src/plugins/postcss-color-function.ts
  cli/csstools-cli/src/plugins/postcss-double-position-gradients.ts
  cli/csstools-cli/src/plugins/postcss-ic-unit.ts
  cli/csstools-cli/src/plugins/postcss-oklab-function.ts
  cli/csstools-cli/src/plugins/postcss-preset-env.ts
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
Labels: plugin-packs/postcss-preset-env, cli

#352 package : selector specificity
  .github/labeler.yml
  package-lock.json
  packages/selector-specificity/.gitignore
  packages/selector-specificity/.nvmrc
  packages/selector-specificity/CHANGELOG.md
  packages/selector-specificity/LICENSE.md
  packages/selector-specificity/README.md
  packages/selector-specificity/package.json
  packages/selector-specificity/src/index.ts
  packages/selector-specificity/stryker.conf.json
  packages/selector-specificity/test/_import.mjs
  packages/selector-specificity/test/_require.cjs
  packages/selector-specificity/test/example.mjs
  packages/selector-specificity/test/test.mjs
  packages/selector-specificity/test/tests-from-bramus-specificity.mjs
  packages/selector-specificity/test/tests-from-keeganstreet-specificity.mjs
  packages/selector-specificity/tsconfig.json
Labels: common-tools

#354 add more tests from wpt and update `querySelector` polyfill
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/package.json
  experimental/css-has-pseudo/test/_browser.html
  experimental/css-has-pseudo/test/browser.css
  experimental/css-has-pseudo/test/browser.expect.css
  package-lock.json
Labels: plugins/css-has-pseudo, experimental
