Repository csstools/postcss-plugins, pull requests merged in 2022-05, with the labels that each got.

#357 package json lint error as github annotation
  .github/bin/format-package-json.mjs
  packages/postcss-tape/src/github-annotations.ts
  packages/postcss-tape/src/index.ts
Labels: common-tools

#362 Stepped Functions & Unset Value to Preset Env/CLI
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/package.json
  cli/csstools-cli/src/cli.ts
  cli/csstools-cli/src/plugins/postcss-stepped-value-functions.ts
  cli/csstools-cli/src/plugins/postcss-unset-value.ts
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/FEATURES.md
  plugin-packs/postcss-preset-env/docs/generate.mjs
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/scripts/plugins-data.json
  plugin-packs/postcss-preset-env/src/plugins/plugins-by-id.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-data.mjs
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  plugins/postcss-unset-value/package.json
  sites/postcss-preset-env/package-lock.json
  sites/postcss-preset-env/package.json
Labels: plugin-packs/postcss-preset-env, cli, sites/postcss-preset-env, plugins/postcss-unset-value

#364 any-link : improve fallbacks for area
  cli/csstools-cli/src/plugins/postcss-preset-env.ts
  plugins/postcss-pseudo-class-any-link/CHANGELOG.md
  plugins/postcss-pseudo-class-any-link/src/replace-any-link.js
  plugins/postcss-pseudo-class-any-link/test/basic.css
  plugins/postcss-pseudo-class-any-link/test/basic.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.preserve-false.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.sub-features-area-href.expect.css
  plugins/postcss-pseudo-class-any-link/test/generated-selector-cases.sub-features-area-href.expect.css
Labels: plugins/postcss-pseudo-class-any-link, cli

#373 `unset` : ignore `all` property
  plugins/postcss-unset-value/CHANGELOG.md
  plugins/postcss-unset-value/src/property-def.ts
  plugins/postcss-unset-value/test/basic.css
  plugins/postcss-unset-value/test/basic.expect.css
  plugins/postcss-unset-value/test/basic.preserve.true.expect.css
Labels: plugins/postcss-unset-value

#380 drop node 12 and node 17 from CI
  .github/workflows/test-node-without-workspaces.yml
  .github/workflows/test.yml
Labels: common-tools

#383 fix selector ordering with pseudo elements
  packages/selector-specificity/test/test.mjs
  plugins/postcss-cascade-layers/.tape.mjs
  plugins/postcss-cascade-layers/CHANGELOG.md
  plugins/postcss-cascade-layers/src/compound-selector-order.ts
  plugins/postcss-cascade-layers/src/index.ts
  plugins/postcss-cascade-layers/test/basic.color.expect.css
  plugins/postcss-cascade-layers/test/basic.css
  plugins/postcss-cascade-layers/test/basic.expect.css
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/src/split-selectors/compound-selector-order.ts
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/lib/merge-selectors/compound-selector-order.js
  plugins/postcss-nesting/test/basic.css
  plugins/postcss-nesting/test/basic.expect.css
  plugins/postcss-nesting/test/basic.no-is-pseudo-selector.expect.css
  plugins/postcss-pseudo-class-any-link/CHANGELOG.md
  plugins/postcss-pseudo-class-any-link/src/compound-selector-order.js
  plugins/postcss-pseudo-class-any-link/test/basic.css
  plugins/postcss-pseudo-class-any-link/test/basic.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.preserve-false.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.sub-features-area-href.expect.css
Labels: plugins/postcss-pseudo-class-any-link, plugins/postcss-nesting, common-tools, plugins/postcss-is-pseudo-class, plugins/postcss-cascade-layers

#384 hwb : fix grayscale conversions
  plugins/postcss-hwb-function/CHANGELOG.md
  plugins/postcss-hwb-function/src/hwb.ts
  plugins/postcss-hwb-function/test/basic.css
  plugins/postcss-hwb-function/test/basic.expect.css
  plugins/postcss-hwb-function/test/basic.preserve-true.expect.css
Labels: plugins/postcss-hwb-function

#374 postcss-preset-env : add cascade layers
  package-lock.json
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/scripts/plugins-data.json
  plugin-packs/postcss-preset-env/src/lib/ids-by-execution-order.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-by-id.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-data.mjs
  plugin-packs/postcss-preset-env/test/layers-basic.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/postcss-cascade-layers/.tape.mjs
  plugins/postcss-cascade-layers/README.md
  plugins/postcss-cascade-layers/docs/README.md
  plugins/postcss-cascade-layers/test/specificity-buckets-a.css
  plugins/postcss-cascade-layers/test/specificity-buckets-a.expect.css
  plugins/postcss-cascade-layers/test/specificity-buckets-b.css
  plugins/postcss-cascade-layers/test/specificity-buckets-b.expect.css
  plugins/postcss-nesting/.tape.mjs
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/lib/valid-atrules.js
  plugins/postcss-nesting/test/layer.css
  plugins/postcss-nesting/test/layer.expect.css
Labels: plugins/postcss-nesting, plugin-packs/postcss-preset-env, plugins/postcss-cascade-layers

#386 color functional notation : percentage values
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/postcss-color-functional-notation/CHANGELOG.md
  plugins/postcss-color-functional-notation/src/on-css-function.ts
  plugins/postcss-color-functional-notation/test/basic.css
  plugins/postcss-color-functional-notation/test/basic.expect.css
  plugins/postcss-color-functional-notation/test/basic.preserve-true.expect.css
  plugins/postcss-color-functional-notation/test/variables.css
  plugins/postcss-color-functional-notation/test/variables.expect.css
  plugins/postcss-color-functional-notation/test/variables.preserve-true.expect.css
  plugins/postcss-progressive-custom-properties/test/basic.css
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
Labels: plugins/postcss-color-functional-notation, plugin-packs/postcss-preset-env, plugins/postcss-progressive-custom-properties

#387 cascade layers : use only simple selectors
  plugin-packs/postcss-preset-env/test/layers-basic.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/postcss-cascade-layers/CHANGELOG.md
  plugins/postcss-cascade-layers/README.md
  plugins/postcss-cascade-layers/docs/README.md
  plugins/postcss-cascade-layers/src/adjust-selector-specificity.ts
  plugins/postcss-cascade-layers/test/anon-layer.expect.css
  plugins/postcss-cascade-layers/test/atrules.expect.css
  plugins/postcss-cascade-layers/test/basic.expect.css
  plugins/postcss-cascade-layers/test/important.expect.css
  plugins/postcss-cascade-layers/test/nested-complex.expect.css
  plugins/postcss-cascade-layers/test/nested.expect.css
  plugins/postcss-cascade-layers/test/specificity-buckets-a.expect.css
  plugins/postcss-cascade-layers/test/specificity-buckets-b.expect.css
  plugins/postcss-cascade-layers/test/unlayered-styles.expect.css
  plugins/postcss-cascade-layers/test/warnings.expect.css
  plugins/postcss-cascade-layers/test/warnings.with-postcss-import.expect.css
Labels: plugin-packs/postcss-preset-env, plugins/postcss-cascade-layers

#381 PostCSS Trigonometric Functions
  .github/labeler.yml
  package-lock.json
  plugins/postcss-stepped-value-functions/docs/README.md
  plugins/postcss-trigonometric-functions/.gitignore
  plugins/postcss-trigonometric-functions/.nvmrc
  plugins/postcss-trigonometric-functions/.tape.mjs
  plugins/postcss-trigonometric-functions/CHANGELOG.md
  plugins/postcss-trigonometric-functions/INSTALL.md
  plugins/postcss-trigonometric-functions/LICENSE.md
  plugins/postcss-trigonometric-functions/README.md
  plugins/postcss-trigonometric-functions/docs/README.md
  plugins/postcss-trigonometric-functions/package.json
  plugins/postcss-trigonometric-functions/src/acos.ts
  plugins/postcss-trigonometric-functions/src/asin.ts
  plugins/postcss-trigonometric-functions/src/atan.ts
  plugins/postcss-trigonometric-functions/src/atan2.ts
  plugins/postcss-trigonometric-functions/src/cos.ts
  plugins/postcss-trigonometric-functions/src/index.ts
  plugins/postcss-trigonometric-functions/src/sin.ts
  plugins/postcss-trigonometric-functions/src/tan.ts
  plugins/postcss-trigonometric-functions/src/utils.ts
  plugins/postcss-trigonometric-functions/test/_import.mjs
  plugins/postcss-trigonometric-functions/test/_require.cjs
  plugins/postcss-trigonometric-functions/test/basic.css
  plugins/postcss-trigonometric-functions/test/basic.expect.css
  plugins/postcss-trigonometric-functions/test/basic.preserve-true.expect.css
  plugins/postcss-trigonometric-functions/test/examples/example.css
  plugins/postcss-trigonometric-functions/test/examples/example.expect.css
  plugins/postcss-trigonometric-functions/test/examples/example.preserve-true.expect.css
  plugins/postcss-trigonometric-functions/test/wpt.css
  plugins/postcss-trigonometric-functions/test/wpt.expect.css
  plugins/postcss-trigonometric-functions/tsconfig.json
Labels: common-tools, plugins/postcss-stepped-value-functions

#396 update the cli
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/package.json
  cli/csstools-cli/src/cli.ts
  cli/csstools-cli/src/plugins/postcss-cascade-layers.ts
  cli/csstools-cli/src/plugins/postcss-trigonometric-functions.ts
  package-lock.json
Labels: cli

#397 fix stage select not working
  sites/postcss-preset-env/package-lock.json
  sites/postcss-preset-env/postcss.config.cjs
  sites/postcss-preset-env/src/static/js/features/index.js
Labels: sites/postcss-preset-env

#398 site : build without npm run all
  sites/postcss-preset-env/package.json
Labels: sites/postcss-preset-env

#399 Adding PostCSS Trigonometric Functions to PostCSS Preset Env
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/scripts/plugins-data.json
  plugin-packs/postcss-preset-env/src/lib/ids-by-execution-order.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-by-id.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-data.mjs
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  rollup/configs/externals.js
Labels: plugin-packs/postcss-preset-env, common-tools
