Repository csstools/postcss-plugins, pull requests merged in 2022-01, with the labels that each got.

#103 add plugin id help for config's
  plugin-packs/postcss-preset-env/.tape.js
  plugin-packs/postcss-preset-env/src/index.js
  plugin-packs/postcss-preset-env/src/lib/plugin-id-help.js
  plugin-packs/postcss-preset-env/src/lib/plugins-by-id.js
  plugin-packs/postcss-preset-env/test/insert.after.expect.css
  plugin-packs/postcss-preset-env/test/unknown-feature.css
  plugin-packs/postcss-preset-env/test/unknown-feature.expect.css
Labels: plugin-packs/postcss-preset-env

#119 preset-env : fix after/before and export tests
  plugin-packs/postcss-preset-env/.tape.js
  plugin-packs/postcss-preset-env/src/index.js
  plugin-packs/postcss-preset-env/test/insert.after.exec.expect.css
  plugin-packs/postcss-preset-env/test/insert.after.expect.css
  plugin-packs/postcss-preset-env/test/insert.after.match-result.expect.css
  plugin-packs/postcss-preset-env/test/insert.after.match-source.expect.css
  plugin-packs/postcss-preset-env/test/insert.baseline.expect.css
  plugin-packs/postcss-preset-env/test/insert.before.expect.css
  plugin-packs/postcss-preset-env/test/insert.before.match-result.expect.css
  plugin-packs/postcss-preset-env/test/insert.before.match-source.expect.css
  plugin-packs/postcss-preset-env/test/insert.css
Labels: plugin-packs/postcss-preset-env

#128 css-has-pseudo : specificity and hover
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/README-BROWSER.md
  experimental/css-has-pseudo/README-POSTCSS.md
  experimental/css-has-pseudo/README.md
  experimental/css-has-pseudo/TODO.md
  experimental/css-has-pseudo/src/browser.js
  experimental/css-has-pseudo/src/index.js
  experimental/css-has-pseudo/test/_browser.html
  experimental/css-has-pseudo/test/basic.css
  experimental/css-has-pseudo/test/basic.expect.css
  experimental/css-has-pseudo/test/basic.preserve.expect.css
  experimental/css-has-pseudo/test/browser.expect.css
  experimental/css-has-pseudo/test/generated-selector-cases.expect.css
Labels: plugins/css-has-pseudo, experimental

#129 improve specificity calculation
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/src/index.js
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/lib/merge-selectors/specificity.js
Labels: plugins/css-has-pseudo, plugins/postcss-nesting, experimental

#133 Fix Interop Issue with Import and Custom Properties
  package-lock.json
  plugins/postcss-custom-properties/.tape.js
  plugins/postcss-custom-properties/package.json
  plugins/postcss-custom-properties/src/index.js
  plugins/postcss-custom-properties/test/import.css
  plugins/postcss-custom-properties/test/import.expect.css
  plugins/postcss-custom-properties/test/import.js
  plugins/postcss-custom-properties/test/imported-file.css
Labels: plugins/postcss-custom-properties

#135 PostCSS Custom Properties – add tests for variables with `url()`
  plugins/postcss-custom-properties/test/basic.css
  plugins/postcss-custom-properties/test/basic.expect.css
  plugins/postcss-custom-properties/test/basic.import-is-empty.expect.css
  plugins/postcss-custom-properties/test/basic.import-override.expect.css
  plugins/postcss-custom-properties/test/basic.import.expect.css
  plugins/postcss-custom-properties/test/basic.preserve.expect.css
  plugins/postcss-custom-properties/test/export-properties.css
  plugins/postcss-custom-properties/test/export-properties.js
  plugins/postcss-custom-properties/test/export-properties.json
  plugins/postcss-custom-properties/test/export-properties.mjs
  plugins/postcss-custom-properties/test/export-properties.scss
Labels: plugins/postcss-custom-properties

#130 `:is()` pseudo class function
  .github/labeler.yml
  package-lock.json
  packages/generate-test-cases/src/generate.mjs
  packages/generate-test-cases/src/index.mjs
  packages/generate-test-cases/src/selector-class-function.mjs
  plugins/postcss-is-pseudo/.gitignore
  plugins/postcss-is-pseudo/.nvmrc
  plugins/postcss-is-pseudo/.tape.js
  plugins/postcss-is-pseudo/CHANGELOG.md
  plugins/postcss-is-pseudo/INSTALL.md
  plugins/postcss-is-pseudo/LICENSE.md
  plugins/postcss-is-pseudo/README.md
  plugins/postcss-is-pseudo/package.json
  plugins/postcss-is-pseudo/src/index.ts
  plugins/postcss-is-pseudo/src/split-selectors/complex.ts
  plugins/postcss-is-pseudo/src/split-selectors/compound-selector-order.ts
  plugins/postcss-is-pseudo/src/split-selectors/specificity.ts
  plugins/postcss-is-pseudo/src/split-selectors/split-selectors.ts
  plugins/postcss-is-pseudo/stryker.conf.json
  plugins/postcss-is-pseudo/test/_import.mjs
  plugins/postcss-is-pseudo/test/_require.cjs
  plugins/postcss-is-pseudo/test/basic.css
  plugins/postcss-is-pseudo/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo/test/basic.expect.css
  plugins/postcss-is-pseudo/test/basic.oncomplex.skip.expect.css
  plugins/postcss-is-pseudo/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo/test/basic.preserve.expect.css
  plugins/postcss-is-pseudo/test/example.css
  plugins/postcss-is-pseudo/test/example.expect.css
  plugins/postcss-is-pseudo/test/generated-selector-class-function-cases.css
  plugins/postcss-is-pseudo/test/generated-selector-class-function-cases.expect.css
  plugins/postcss-is-pseudo/tsconfig.json
Labels: plugins/postcss-is-pseudo

#136 `:has()` pseudo : more docs, tests and add typings
  experimental/css-has-pseudo/.gitignore
  experimental/css-has-pseudo/.tape.js
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/README-BROWSER.md
  experimental/css-has-pseudo/README-POSTCSS.md
  experimental/css-has-pseudo/README.md
  experimental/css-has-pseudo/TODO.md
  experimental/css-has-pseudo/package.json
  experimental/css-has-pseudo/src/encode/extract.mjs
  experimental/css-has-pseudo/src/encode/test.mjs
  experimental/css-has-pseudo/src/index.ts
  experimental/css-has-pseudo/test/_browser.html
  experimental/css-has-pseudo/test/_browser.mjs
  experimental/css-has-pseudo/test/basic.specificity-matching-name.expect.css
  experimental/css-has-pseudo/test/browser.css
  experimental/css-has-pseudo/test/browser.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.after.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.after.preserve.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.before.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.before.preserve.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.css
  experimental/css-has-pseudo/test/plugin-order-nesting.after.expect.css
  experimental/css-has-pseudo/test/plugin-order-nesting.after.preserve.expect.css
  experimental/css-has-pseudo/test/plugin-order-nesting.before.expect.css
  experimental/css-has-pseudo/test/plugin-order-nesting.before.preserve.expect.css
  experimental/css-has-pseudo/test/plugin-order-nesting.css
  experimental/css-has-pseudo/tsconfig.json
  rollup/default.js
Labels: plugins/css-has-pseudo, common-tools, experimental

#148 fix postcss 8.2.x compat
  experimental/css-has-pseudo/src/index.ts
  package-lock.json
  plugins/css-has-pseudo/CHANGELOG.md
  plugins/css-has-pseudo/src/index.js
  plugins/postcss-dir-pseudo-class/CHANGELOG.md
  plugins/postcss-dir-pseudo-class/src/index.js
  plugins/postcss-logical/CHANGELOG.md
  plugins/postcss-logical/src/lib/clone-rule.js
  plugins/postcss-logical/src/lib/transform-transition.js
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-logical, experimental

#150 preset-env : always run plugins with side effects, ignoring browser lists
  plugin-packs/postcss-preset-env/.tape.js
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/src/index.js
  plugin-packs/postcss-preset-env/src/lib/plugins-with-side-effects.js
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/import.ch88.expect.css
Labels: plugin-packs/postcss-preset-env

#152 fix cssdb badges
  plugins/postcss-color-functional-notation/README.md
  plugins/postcss-color-hex-alpha/README.md
  plugins/postcss-color-rebeccapurple/README.md
  plugins/postcss-custom-properties/README.md
  plugins/postcss-dir-pseudo-class/README.md
  plugins/postcss-double-position-gradients/README.md
  plugins/postcss-env-function/README.md
  plugins/postcss-focus-visible/README.md
  plugins/postcss-focus-within/README.md
  plugins/postcss-gap-properties/README.md
  plugins/postcss-image-set-function/README.md
  plugins/postcss-is-pseudo/README.md
  plugins/postcss-lab-function/README.md
  plugins/postcss-logical/README.md
  plugins/postcss-nesting/README.md
  plugins/postcss-overflow-shorthand/README.md
  plugins/postcss-place/README.md
  plugins/postcss-pseudo-class-any-link/README.md
Labels: plugins/postcss-dir-pseudo-class, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-custom-properties, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-color-hex-alpha, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-nesting, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugins/postcss-is-pseudo

#154 fix custom properties node 12/14
  plugins/postcss-custom-properties/tsconfig.json
Labels: plugins/postcss-custom-properties

#155 correctly apply babel to typescript files
  plugins/postcss-custom-properties/src/lib/get-custom-properties-from-imports.ts
  plugins/postcss-custom-properties/tsconfig.json
  rollup/presets/cli-typescript.js
  rollup/presets/package-typescript.js
Labels: plugins/postcss-custom-properties, common-tools

#157 postcss-preset-env : detect a lot more shapes and types for importFrom/exportTo
  plugin-packs/postcss-preset-env/.tape.js
  plugin-packs/postcss-preset-env/src/lib/plugins-with-side-effects.js
  plugin-packs/postcss-preset-env/test/import.ch87.array.expect.css
  plugin-packs/postcss-preset-env/test/import.ch87.expect.css
  plugin-packs/postcss-preset-env/test/import.ch87.incorrect-options.expect.css
Labels: plugin-packs/postcss-preset-env

#158 postcss-is-pseudo-class : rename
  .github/labeler.yml
  package-lock.json
  plugins/postcss-is-pseudo-class/.gitignore
  plugins/postcss-is-pseudo-class/.nvmrc
  plugins/postcss-is-pseudo-class/.tape.js
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/INSTALL.md
  plugins/postcss-is-pseudo-class/LICENSE.md
  plugins/postcss-is-pseudo-class/README.md
  plugins/postcss-is-pseudo-class/package.json
  plugins/postcss-is-pseudo-class/src/index.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/compound-selector-order.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/specificity.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/split-selectors.ts
  plugins/postcss-is-pseudo-class/stryker.conf.json
  plugins/postcss-is-pseudo-class/test/_import.mjs
  plugins/postcss-is-pseudo-class/test/_require.cjs
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.skip.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-is-pseudo-class/test/example.css
  plugins/postcss-is-pseudo-class/test/example.expect.css
  plugins/postcss-is-pseudo-class/test/generated-selector-class-function-cases.css
  plugins/postcss-is-pseudo-class/test/generated-selector-class-function-cases.expect.css
  plugins/postcss-is-pseudo-class/tsconfig.json
  plugins/postcss-is-pseudo/CHANGELOG.md
Labels: plugins/postcss-is-pseudo-class

#159 add `postcss-is-pseudo-class` to `postcss-preset-env` and `cli`
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/README.md
  cli/csstools-cli/package.json
  cli/csstools-cli/src/cli.ts
  cli/csstools-cli/src/plugins/postcss-is-pseudo-class.ts
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/src/lib/ids-by-execution-order.js
  plugin-packs/postcss-preset-env/src/lib/plugins-by-id.js
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  rollup/configs/externals.js
Labels: plugin-packs/postcss-preset-env, common-tools, cli

#149 document autoprefixer grid edge case
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#161 custom properties : plugin reset on exit
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/src/index.ts
Labels: plugins/postcss-custom-properties

#164 cli : emit warnings
  cli/csstools-cli/CHANGELOG.md
  packages/base-cli/src/io-fs-to-fs.ts
  packages/base-cli/src/io-fs-to-stdout.ts
  packages/base-cli/src/io-stdin-to-fs.ts
  packages/base-cli/src/io-stdin-to-stdout.ts
Labels: common-tools, cli

#163 Adding debug option
  .eslintrc.json
  .github/ISSUE_TEMPLATE/css-issue.yml
  cli/csstools-cli/CHANGELOG.md
  package-lock.json
  package.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/src/index.js
  plugin-packs/postcss-preset-env/src/lib/log-helper.js
Labels: plugin-packs/postcss-preset-env, common-tools, cli

#172 postcss-is-pseudo-class : selector order
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/src/split-selectors/compound-selector-order.ts
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.skip.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-is-pseudo-class/test/generated-selector-class-function-cases.expect.css
Labels: plugins/postcss-is-pseudo-class

#167 Disable javascript features
  plugin-packs/postcss-preset-env/.tape.js
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/src/index.js
  plugin-packs/postcss-preset-env/src/lib/log-features-list.js
  plugin-packs/postcss-preset-env/src/lib/plugins-with-client-side.js
  plugin-packs/postcss-preset-env/test/disable-client-side-polyfills.css
  plugin-packs/postcss-preset-env/test/disable-client-side-polyfills.disabled.expect.css
  plugin-packs/postcss-preset-env/test/disable-client-side-polyfills.expect.css
Labels: plugin-packs/postcss-preset-env

#166 postcss tape crafted for this repo
  UPDATING_POSTCSS.md
  package-lock.json
  packages/postcss-tape/.gitignore
  packages/postcss-tape/LICENSE.md
  packages/postcss-tape/README.md
  packages/postcss-tape/package.json
  packages/postcss-tape/src/format-asserts.ts
  packages/postcss-tape/src/github-annotations.ts
  packages/postcss-tape/src/index.ts
  packages/postcss-tape/src/noop-plugin.ts
  packages/postcss-tape/test-self/basic.before-after.expect.code
  packages/postcss-tape/test-self/basic.before-after.expect.log
  packages/postcss-tape/test-self/basic.break-css.expect.code
  packages/postcss-tape/test-self/basic.break-css.expect.log
  packages/postcss-tape/test-self/basic.broken-sourcemap.expect.code
  packages/postcss-tape/test-self/basic.broken-sourcemap.expect.log
  packages/postcss-tape/test-self/basic.expect.code
  packages/postcss-tape/test-self/basic.expect.log
  packages/postcss-tape/test-self/basic.postcss-8-3.expect.code
  packages/postcss-tape/test-self/basic.postcss-8-3.expect.log
  packages/postcss-tape/test-self/basic.with-diff-in-expect.expect.code
  packages/postcss-tape/test-self/basic.with-diff-in-expect.expect.log
  packages/postcss-tape/test-self/basic.with-warnings.expect.code
  packages/postcss-tape/test-self/basic.with-warnings.expect.log
  packages/postcss-tape/test-self/basic.without-expect.expect.code
  packages/postcss-tape/test-self/basic.without-expect.expect.log
  packages/postcss-tape/test-self/test.sh
  packages/postcss-tape/test/_a-plugin.mjs
  packages/postcss-tape/test/basic.before-after.expect.css
  packages/postcss-tape/test/basic.before-after.mjs
  packages/postcss-tape/test/basic.break-css.expect.css
  packages/postcss-tape/test/basic.break-css.mjs
  packages/postcss-tape/test/basic.broken-sourcemap.expect.css
  packages/postcss-tape/test/basic.broken-sourcemap.mjs
  packages/postcss-tape/test/basic.css
  packages/postcss-tape/test/basic.expect.css
  packages/postcss-tape/test/basic.mjs
  packages/postcss-tape/test/basic.postcss-8-3.expect.css
  packages/postcss-tape/test/basic.postcss-8-3.mjs
  packages/postcss-tape/test/basic.with-diff-in-expect.expect.css
  packages/postcss-tape/test/basic.with-diff-in-expect.mjs
  packages/postcss-tape/test/basic.with-multiple-warnings.expect.css
  packages/postcss-tape/test/basic.with-one-missing-warning.expect.css
  packages/postcss-tape/test/basic.with-one-unexpected-warning.expect.css
  packages/postcss-tape/test/basic.with-one-warning.expect.css
  packages/postcss-tape/test/basic.with-warnings.mjs
  packages/postcss-tape/test/basic.without-expect.mjs
  packages/postcss-tape/tsconfig.json
  plugins/postcss-base-plugin/.tape.mjs
  plugins/postcss-base-plugin/package.json
  plugins/postcss-custom-properties/.tape.cjs
  plugins/postcss-custom-properties/.tape.mjs
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/package.json
  plugins/postcss-custom-properties/src/lib/get-custom-properties-from-imports.ts
  plugins/postcss-custom-properties/test/import-properties-2.mjs
  plugins/postcss-custom-properties/test/import.js
  plugins/postcss-nesting/.tape.mjs
  plugins/postcss-nesting/package.json
  rollup/configs/externals.js
Labels: plugins/postcss-custom-properties, plugins/postcss-nesting, common-tools

#182 apply new test suite to more plugins and sourcemap fixes
  packages/postcss-tape/src/index.ts
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugins/css-blank-pseudo/.tape.mjs
  plugins/css-blank-pseudo/package.json
  plugins/postcss-image-set-function/.tape.mjs
  plugins/postcss-image-set-function/CHANGELOG.md
  plugins/postcss-image-set-function/package.json
  plugins/postcss-image-set-function/src/lib/get-media.ts
  plugins/postcss-image-set-function/src/lib/process-image-set.ts
  plugins/postcss-nesting/.tape.mjs
Labels: plugins/css-blank-pseudo, plugins/postcss-image-set-function, plugin-packs/postcss-preset-env

#184 postcss-hwb-function
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-hwb-function/.gitignore
  plugins/postcss-hwb-function/.nvmrc
  plugins/postcss-hwb-function/.tape.mjs
  plugins/postcss-hwb-function/CHANGELOG.md
  plugins/postcss-hwb-function/INSTALL.md
  plugins/postcss-hwb-function/LICENSE.md
  plugins/postcss-hwb-function/README.md
  plugins/postcss-hwb-function/package.json
  plugins/postcss-hwb-function/src/has-supports-at-rule-ancestor.ts
  plugins/postcss-hwb-function/src/hwb.ts
  plugins/postcss-hwb-function/src/index.ts
  plugins/postcss-hwb-function/src/on-css-function.ts
  plugins/postcss-hwb-function/test/_import.mjs
  plugins/postcss-hwb-function/test/_require.cjs
  plugins/postcss-hwb-function/test/basic.css
  plugins/postcss-hwb-function/test/basic.expect.css
  plugins/postcss-hwb-function/test/basic.preserve-true.expect.css
  plugins/postcss-hwb-function/test/variables.css
  plugins/postcss-hwb-function/test/variables.expect.css
  plugins/postcss-hwb-function/test/variables.preserve-true.expect.css
  plugins/postcss-hwb-function/tsconfig.json
Labels: plugins/postcss-hwb-function

#188 better ci matrix
  .github/workflows/test.yml
  packages/postcss-tape/src/index.ts
  packages/postcss-tape/test-self/basic.without-expect.expect.log
  plugins/postcss-custom-properties/.tape.mjs
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/src/lib/get-custom-properties-from-imports.ts
  rollup/configs/externals.js
Labels: plugins/postcss-custom-properties, common-tools

#185 Removing Can I Use Lite
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/src/index.js
  plugin-packs/postcss-preset-env/src/lib/get-options-for-browsers-by-feature.js
  plugin-packs/postcss-preset-env/src/lib/get-unsupported-browsers-by-feature.js
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
Labels: plugin-packs/postcss-preset-env

#189 flip disableClientSidePolyfills
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/src/index.js
Labels: plugin-packs/postcss-preset-env

#193 add a shortcut to rewrite expect files and log warnings
  packages/postcss-tape/src/format-asserts.ts
  packages/postcss-tape/src/index.ts
  packages/postcss-tape/test-self/basic.with-warnings.expect.log
  plugin-packs/postcss-preset-env/package.json
  plugins/css-blank-pseudo/package.json
  plugins/postcss-base-plugin/package.json
  plugins/postcss-custom-properties/package.json
  plugins/postcss-hwb-function/package.json
  plugins/postcss-image-set-function/package.json
  plugins/postcss-nesting/package.json
  plugins/postcss-pseudo-class-any-link/package.json
Labels: plugins/css-blank-pseudo, plugins/postcss-pseudo-class-any-link, plugins/postcss-custom-properties, plugins/postcss-image-set-function, plugins/postcss-nesting, plugin-packs/postcss-preset-env, common-tools, plugins/postcss-hwb-function

#196 Opacity percent feature
  package-lock.json
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/src/lib/plugins-by-id.js
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
Labels: plugin-packs/postcss-preset-env

#197 Updating badges
  README.md
  cli/csstools-cli/README.md
  experimental/css-has-pseudo/README-BROWSER.md
  experimental/css-has-pseudo/README-POSTCSS.md
  experimental/css-has-pseudo/README.md
  plugin-packs/postcss-preset-env/README.md
  plugins/css-blank-pseudo/README-BROWSER.md
  plugins/css-blank-pseudo/README-POSTCSS.md
  plugins/css-blank-pseudo/README.md
  plugins/css-has-pseudo/README-BROWSER.md
  plugins/css-has-pseudo/README-POSTCSS.md
  plugins/css-has-pseudo/README.md
  plugins/css-prefers-color-scheme/README-BROWSER.md
  plugins/css-prefers-color-scheme/README-POSTCSS.md
  plugins/css-prefers-color-scheme/README.md
  plugins/postcss-color-functional-notation/README.md
  plugins/postcss-color-hex-alpha/README.md
  plugins/postcss-color-rebeccapurple/README.md
  plugins/postcss-custom-properties/README.md
  plugins/postcss-dir-pseudo-class/README.md
  plugins/postcss-double-position-gradients/README.md
  plugins/postcss-env-function/README.md
  plugins/postcss-focus-visible/README.md
  plugins/postcss-focus-within/README.md
  plugins/postcss-gap-properties/README.md
  plugins/postcss-hwb-function/README.md
  plugins/postcss-image-set-function/README.md
  plugins/postcss-is-pseudo-class/README.md
  plugins/postcss-lab-function/README.md
  plugins/postcss-logical/README.md
  plugins/postcss-nesting/README.md
  plugins/postcss-overflow-shorthand/README.md
  plugins/postcss-place/README.md
  plugins/postcss-pseudo-class-any-link/README.md
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-custom-properties, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-color-hex-alpha, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-nesting, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugin-packs/postcss-preset-env, plugins/css-prefers-color-scheme, cli, experimental, plugins/postcss-is-pseudo-class, plugins/postcss-hwb-function

#198 Adding PostCSS clamp
  package-lock.json
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/src/lib/plugins-by-id.js
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  rollup/configs/externals.js
Labels: plugin-packs/postcss-preset-env, common-tools

#199 postcss-is-pseudo-class : better warnings and skip
  package-lock.json
  packages/postcss-tape/src/index.ts
  plugin-packs/postcss-preset-env/src/lib/get-options-for-browsers-by-feature.js
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugins/postcss-is-pseudo-class/.tape.mjs
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/README.md
  plugins/postcss-is-pseudo-class/package.json
  plugins/postcss-is-pseudo-class/src/index.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex/README.md
  plugins/postcss-is-pseudo-class/src/split-selectors/complex/child-adjacent-child.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex/is-in-compound.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/split-selectors.ts
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.skip.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-is-pseudo-class/test/generated-selector-class-function-cases.expect.css
Labels: plugin-packs/postcss-preset-env, common-tools, plugins/postcss-is-pseudo-class

#200 PostCSS Font Format Keywords
  .github/labeler.yml
  package-lock.json
  plugins/postcss-font-format-keywords/.gitignore
  plugins/postcss-font-format-keywords/.nvmrc
  plugins/postcss-font-format-keywords/.tape.mjs
  plugins/postcss-font-format-keywords/CHANGELOG.md
  plugins/postcss-font-format-keywords/INSTALL.md
  plugins/postcss-font-format-keywords/LICENSE.md
  plugins/postcss-font-format-keywords/README.md
  plugins/postcss-font-format-keywords/package.json
  plugins/postcss-font-format-keywords/src/index.ts
  plugins/postcss-font-format-keywords/test/_import.mjs
  plugins/postcss-font-format-keywords/test/_require.cjs
  plugins/postcss-font-format-keywords/test/basic.css
  plugins/postcss-font-format-keywords/test/basic.expect.css
  plugins/postcss-font-format-keywords/test/basic.preserve-true.expect.css
  plugins/postcss-font-format-keywords/tsconfig.json
Labels: plugins/postcss-font-format-keywords

#203 Postcss normalize display values
  .github/labeler.yml
  package-lock.json
  plugins/postcss-normalize-display-values/.gitignore
  plugins/postcss-normalize-display-values/.nvmrc
  plugins/postcss-normalize-display-values/.tape.mjs
  plugins/postcss-normalize-display-values/CHANGELOG.md
  plugins/postcss-normalize-display-values/INSTALL.md
  plugins/postcss-normalize-display-values/LICENSE.md
  plugins/postcss-normalize-display-values/README.md
  plugins/postcss-normalize-display-values/package.json
  plugins/postcss-normalize-display-values/src/index.ts
  plugins/postcss-normalize-display-values/src/mappings.ts
  plugins/postcss-normalize-display-values/test/_import.mjs
  plugins/postcss-normalize-display-values/test/_require.cjs
  plugins/postcss-normalize-display-values/test/basic.css
  plugins/postcss-normalize-display-values/test/basic.expect.css
  plugins/postcss-normalize-display-values/test/basic.preserve-false.expect.css
  plugins/postcss-normalize-display-values/tsconfig.json
Labels: plugins/postcss-normalize-display-values

#205 Integrate font & display plugins
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/package.json
  cli/csstools-cli/src/cli.ts
  cli/csstools-cli/src/plugins/postcss-font-format-keywords.ts
  cli/csstools-cli/src/plugins/postcss-normalize-display-values.ts
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/src/lib/plugins-by-id.js
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  rollup/configs/externals.js
Labels: plugin-packs/postcss-preset-env, common-tools, cli

#212 postcss-is-pseudo-class : browser tests and transform in 2 stages
  plugins/postcss-is-pseudo-class/.tape.mjs
  plugins/postcss-is-pseudo-class/package.json
  plugins/postcss-is-pseudo-class/src/index.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex/child-adjacent-child.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex/is-in-compound.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/compound-selector-order.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/split-selectors.ts
  plugins/postcss-is-pseudo-class/test/_browser.html
  plugins/postcss-is-pseudo-class/test/_browser.mjs
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-is-pseudo-class/test/browser.css
  plugins/postcss-is-pseudo-class/test/browser.expect.css
  plugins/postcss-is-pseudo-class/test/complex.css
  plugins/postcss-is-pseudo-class/test/complex.expect.css
  plugins/postcss-is-pseudo-class/test/generated-selector-class-function-cases.expect.css
Labels: plugins/postcss-is-pseudo-class

#211 postcss-preset-env: filter features by implementation status
  packages/postcss-tape/src/index.ts
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/src/client-side-polyfills/plugins.mjs
  plugin-packs/postcss-preset-env/src/index.js
  plugin-packs/postcss-preset-env/src/lib/feature-is-inserted-or-has-plugin.mjs
  plugin-packs/postcss-preset-env/src/lib/feature-is-less.mjs
  plugin-packs/postcss-preset-env/src/lib/format-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/get-options-for-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/get-transformed-insertions.js
  plugin-packs/postcss-preset-env/src/lib/get-transformed-insertions.mjs
  plugin-packs/postcss-preset-env/src/lib/get-unsupported-browsers-by-feature.js
  plugin-packs/postcss-preset-env/src/lib/get-unsupported-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/ids-by-execution-order.mjs
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugin-packs/postcss-preset-env/src/lib/prepare-features-list.mjs
  plugin-packs/postcss-preset-env/src/lib/shared-options.mjs
  plugin-packs/postcss-preset-env/src/lib/stage.mjs
  plugin-packs/postcss-preset-env/src/log/features-list.mjs
  plugin-packs/postcss-preset-env/src/log/helper.mjs
  plugin-packs/postcss-preset-env/src/own-keys/keys.mjs
  plugin-packs/postcss-preset-env/src/patch/postcss-system-ui-font-family.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugin-id-help.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-by-id.mjs
  plugin-packs/postcss-preset-env/src/side-effects/plugins.mjs
  plugin-packs/postcss-preset-env/src/side-effects/write-to-exports.mjs
  plugin-packs/postcss-preset-env/src/test/lib/feature-is-inserted-or-has-plugin.mjs
  plugin-packs/postcss-preset-env/src/test/lib/feature-is-less.mjs
  plugin-packs/postcss-preset-env/src/test/lib/format-staged-feature.mjs
  plugin-packs/postcss-preset-env/src/test/lib/get-unsupported-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/client-side.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/cssdb-fixture.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/list-features.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/no-options.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/preserve.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/stage-0.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/vendor-implementations.mjs
  plugin-packs/postcss-preset-env/src/test/lib/prepare-features-list.mjs
  plugin-packs/postcss-preset-env/src/test/lib/stage.mjs
  plugin-packs/postcss-preset-env/src/test/lib/transformed-insertions.mjs
  plugin-packs/postcss-preset-env/src/test/log/test-logger.mjs
  plugin-packs/postcss-preset-env/src/test/test.mjs
  plugin-packs/postcss-preset-env/src/util/clamp.mjs
  plugin-packs/postcss-preset-env/src/util/int-or-zero.mjs
  plugin-packs/postcss-preset-env/stryker.conf.json
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  plugin-packs/postcss-preset-env/test/insert.after.match-result.no-array.expect.css
  rollup/configs/externals.js
Labels: plugin-packs/postcss-preset-env, common-tools

#213 postcss-preset-env: pin some features to stage: 1
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
Labels: plugin-packs/postcss-preset-env

#207 Adding more to the README
  plugin-packs/postcss-preset-env/README.md
Labels: documentation, plugin-packs/postcss-preset-env

#217 postcss-preset-env : make logger a class instance
  plugin-packs/postcss-preset-env/src/index.js
  plugin-packs/postcss-preset-env/src/lib/format-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/get-options-for-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugin-packs/postcss-preset-env/src/lib/stage.mjs
  plugin-packs/postcss-preset-env/src/log/features-list.mjs
  plugin-packs/postcss-preset-env/src/log/helper.mjs
  plugin-packs/postcss-preset-env/src/test/lib/format-staged-feature.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/client-side.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/no-options.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/preserve.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/stage-0.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/vendor-implementations.mjs
  plugin-packs/postcss-preset-env/src/test/lib/stage.mjs
  plugin-packs/postcss-preset-env/src/test/log/test-logger.mjs
Labels: plugin-packs/postcss-preset-env
