Repository csstools/postcss-plugins, pull requests merged in 2022-06, with the labels that each got.

#412 custom selectors : fix interop with nesting
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  plugin-packs/postcss-preset-env/test/generated-custom-exports.css
  plugin-packs/postcss-preset-env/test/generated-custom-exports.js
  plugin-packs/postcss-preset-env/test/generated-custom-exports.json
  plugin-packs/postcss-preset-env/test/generated-custom-exports.mjs
  plugins/postcss-custom-selectors/CHANGELOG.md
  plugins/postcss-custom-selectors/src/index.js
  plugins/postcss-custom-selectors/src/transform-rule.js
  plugins/postcss-custom-selectors/src/transform-rules.js
  plugins/postcss-custom-selectors/test/basic.preserve.expect.css
Labels: plugins/postcss-custom-selectors, plugin-packs/postcss-preset-env

#425 Add migrated plugins to CLI and update PostCSS Preset Env
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/package.json
  cli/csstools-cli/src/cli.ts
  cli/csstools-cli/src/plugins/postcss-attribute-case-insensitive.ts
  cli/csstools-cli/src/plugins/postcss-custom-media.ts
  cli/csstools-cli/src/plugins/postcss-custom-selectors.ts
  cli/csstools-cli/src/plugins/postcss-selector-not.ts
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/FEATURES.md
  plugin-packs/postcss-preset-env/package.json
Labels: plugin-packs/postcss-preset-env, cli

#426 Add `compare()` function to `selector-specificity`
  packages/selector-specificity/README.md
  packages/selector-specificity/package.json
  packages/selector-specificity/src/index.ts
  packages/selector-specificity/test/_import.mjs
  packages/selector-specificity/test/_require.cjs
  packages/selector-specificity/test/test-compare.mjs
Labels: common-tools

#428 Add selector compare & refactor packages to use the new named export
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/src/index.ts
  packages/selector-specificity/CHANGELOG.md
  packages/selector-specificity/README.md
  packages/selector-specificity/package.json
  packages/selector-specificity/src/index.ts
  packages/selector-specificity/test/_import.mjs
  packages/selector-specificity/test/_require.cjs
  packages/selector-specificity/test/example.mjs
  packages/selector-specificity/test/test-compare.mjs
  packages/selector-specificity/test/test.mjs
  packages/selector-specificity/test/tests-from-bramus-specificity.mjs
  packages/selector-specificity/test/tests-from-keeganstreet-specificity.mjs
  plugins/postcss-cascade-layers/CHANGELOG.md
  plugins/postcss-cascade-layers/src/index.ts
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/src/split-selectors/split-selectors.ts
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/lib/merge-selectors/specificity.js
Labels: plugins/css-has-pseudo, plugins/postcss-nesting, common-tools, experimental, plugins/postcss-is-pseudo-class, plugins/postcss-cascade-layers

#430 declare postcss-value-parser as a dependency
  package-lock.json
  plugins/postcss-custom-media/CHANGELOG.md
  plugins/postcss-custom-media/package.json
Labels: plugins/postcss-custom-media

#427 custom selectors : allow any ident
  plugins/postcss-custom-selectors/.tape.cjs
  plugins/postcss-custom-selectors/.tape.mjs
  plugins/postcss-custom-selectors/CHANGELOG.md
  plugins/postcss-custom-selectors/src/custom-selectors-from-root.js
  plugins/postcss-custom-selectors/src/import-from.js
  plugins/postcss-custom-selectors/src/index.js
  plugins/postcss-custom-selectors/src/selectors-ast-from-selectors-string.js
  plugins/postcss-custom-selectors/test/complex.css
  plugins/postcss-custom-selectors/test/complex.expect.css
Labels: plugins/postcss-custom-selectors

#437 e2e : webpack config
  .github/workflows/test.yml
  e2e/webpack/bundle-through/package-lock.json
  e2e/webpack/postcss-loader/.gitignore
  e2e/webpack/postcss-loader/index.js
  e2e/webpack/postcss-loader/package.json
  e2e/webpack/postcss-loader/styles.css
  e2e/webpack/postcss-loader/webpack.config.js
Labels: common-tools

#440 selector-specificity : fix exceptions on `:nth-child`
  packages/selector-specificity/CHANGELOG.md
  packages/selector-specificity/src/index.ts
  packages/selector-specificity/test/test.mjs
Labels: common-tools

#438 cors docs
  .github/bin/generate-docs/cors-template.md
  .github/bin/generate-docs/readme.mjs
  plugins/postcss-attribute-case-insensitive/docs/README.md
  plugins/postcss-base-plugin/docs/README.md
  plugins/postcss-cascade-layers/docs/README.md
  plugins/postcss-color-function/docs/README.md
  plugins/postcss-color-hex-alpha/docs/README.md
  plugins/postcss-color-rebeccapurple/docs/README.md
  plugins/postcss-custom-media/docs/README.md
  plugins/postcss-custom-selectors/docs/README.md
  plugins/postcss-design-tokens/docs/README.md
  plugins/postcss-gradients-interpolation-method/docs/README.md
  plugins/postcss-selector-not/docs/README.md
  plugins/postcss-stepped-value-functions/docs/README.md
  plugins/postcss-trigonometric-functions/docs/README.md
Labels: plugins/postcss-attribute-case-insensitive, plugins/postcss-custom-media, plugins/postcss-custom-selectors, plugins/postcss-color-hex-alpha, plugins/postcss-selector-not, common-tools, plugins/postcss-color-function, plugins/postcss-cascade-layers, plugins/postcss-gradients-interpolation-method, plugins/postcss-stepped-value-functions, plugins/postcss-trigonometric-functions

#462 has pseudo : chores
  experimental/css-has-pseudo/package.json
  experimental/css-has-pseudo/src/browser.js
  package-lock.json
Labels: plugins/css-has-pseudo, experimental

#471 Change PostCSS version strategy
  .github/bin/format-package-json.mjs
  UPDATING_POSTCSS.md
  experimental/css-has-pseudo/package.json
  package-lock.json
  packages/selector-specificity/package.json
  plugin-packs/postcss-preset-env/package.json
  plugins/css-blank-pseudo/package.json
  plugins/css-has-pseudo/package.json
  plugins/css-prefers-color-scheme/package.json
  plugins/postcss-attribute-case-insensitive/package.json
  plugins/postcss-base-plugin/package.json
  plugins/postcss-cascade-layers/package.json
  plugins/postcss-color-function/package.json
  plugins/postcss-color-functional-notation/package.json
  plugins/postcss-color-hex-alpha/package.json
  plugins/postcss-color-rebeccapurple/package.json
  plugins/postcss-custom-media/package.json
  plugins/postcss-custom-properties/package.json
  plugins/postcss-custom-selectors/package.json
  plugins/postcss-design-tokens/package.json
  plugins/postcss-dir-pseudo-class/package.json
  plugins/postcss-double-position-gradients/package.json
  plugins/postcss-env-function/package.json
  plugins/postcss-focus-visible/package.json
  plugins/postcss-focus-within/package.json
  plugins/postcss-font-format-keywords/package.json
  plugins/postcss-gap-properties/package.json
  plugins/postcss-gradients-interpolation-method/package.json
  plugins/postcss-hwb-function/package.json
  plugins/postcss-ic-unit/package.json
  plugins/postcss-image-set-function/package.json
  plugins/postcss-is-pseudo-class/package.json
  plugins/postcss-lab-function/package.json
  plugins/postcss-logical/package.json
  plugins/postcss-nesting/package.json
  plugins/postcss-normalize-display-values/package.json
  plugins/postcss-oklab-function/package.json
  plugins/postcss-overflow-shorthand/package.json
  plugins/postcss-place/package.json
  plugins/postcss-progressive-custom-properties/package.json
  plugins/postcss-pseudo-class-any-link/package.json
  plugins/postcss-selector-not/package.json
  plugins/postcss-stepped-value-functions/package.json
  plugins/postcss-trigonometric-functions/package.json
  plugins/postcss-unset-value/package.json
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-attribute-case-insensitive, plugins/postcss-custom-media, plugins/postcss-custom-properties, plugins/postcss-custom-selectors, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-color-hex-alpha, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-nesting, plugins/postcss-selector-not, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugin-packs/postcss-preset-env, plugins/css-prefers-color-scheme, common-tools, experimental, plugins/postcss-is-pseudo-class, plugins/postcss-hwb-function, plugins/postcss-font-format-keywords, plugins/postcss-normalize-display-values, plugins/postcss-color-function, plugins/postcss-progressive-custom-properties, plugins/postcss-oklab-function, plugins/postcss-cascade-layers, plugins/postcss-ic-unit, plugins/postcss-unset-value, plugins/postcss-gradients-interpolation-method, plugins/postcss-stepped-value-functions, plugins/postcss-trigonometric-functions

#436 prefers color scheme
  package-lock.json
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/client-side-polyfills.stage-1.expect.css
  plugin-packs/postcss-preset-env/test/disable-client-side-polyfills.disabled.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/css-prefers-color-scheme/.gitignore
  plugins/css-prefers-color-scheme/.tape.mjs
  plugins/css-prefers-color-scheme/CHANGELOG.md
  plugins/css-prefers-color-scheme/README-BROWSER.md
  plugins/css-prefers-color-scheme/README-POSTCSS.md
  plugins/css-prefers-color-scheme/README.md
  plugins/css-prefers-color-scheme/docs/README.md
  plugins/css-prefers-color-scheme/package.json
  plugins/css-prefers-color-scheme/src/browser-global.js
  plugins/css-prefers-color-scheme/src/browser.js
  plugins/css-prefers-color-scheme/src/cli.js
  plugins/css-prefers-color-scheme/src/index.js
  plugins/css-prefers-color-scheme/src/index.ts
  plugins/css-prefers-color-scheme/test/_browser-no-polyfill.html
  plugins/css-prefers-color-scheme/test/_browser.html
  plugins/css-prefers-color-scheme/test/_browser.mjs
  plugins/css-prefers-color-scheme/test/basic.color-index.expect.css
  plugins/css-prefers-color-scheme/test/basic.css
  plugins/css-prefers-color-scheme/test/basic.expect.css
  plugins/css-prefers-color-scheme/test/basic.preserve.expect.css
  plugins/css-prefers-color-scheme/test/basic.preserve.false.expect.css
  plugins/css-prefers-color-scheme/test/browser.css
  plugins/css-prefers-color-scheme/test/browser.expect.css
  plugins/css-prefers-color-scheme/test/examples/example.css
  plugins/css-prefers-color-scheme/test/examples/example.expect.css
  plugins/css-prefers-color-scheme/test/examples/example.preserve-false.expect.css
  plugins/css-prefers-color-scheme/test/index.html
  plugins/css-prefers-color-scheme/tsconfig.json
Labels: plugin-packs/postcss-preset-env, plugins/css-prefers-color-scheme

#476 postcss-preset-env : site - wording and keywords
  sites/postcss-preset-env/index.njk
Labels: sites/postcss-preset-env

#480 site : use cascade layers
  sites/postcss-preset-env/package-lock.json
  sites/postcss-preset-env/src/static/css/styles.css
Labels: sites/postcss-preset-env

#477 check licenses
  .github/bin/detect-executable-files/detect-executable-files.sh
  .github/bin/detect-executable-files/to-github-annotations.mjs
  .github/bin/format-package-json.mjs
  .github/bin/license/allowed.mjs
  .github/bin/license/check-license.mjs
  .github/bin/license/get-files.mjs
  .github/bin/license/parse-license-field.mjs
  package.json
Labels: common-tools

#484 `op_mini` : correctly transform when only `op_mini all` is set
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/src/lib/get-unsupported-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/test/lib/get-unsupported-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/client-side.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/no-options.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/preserve.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/stage-0.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/vendor-implementations.mjs
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
Labels: plugin-packs/postcss-preset-env

#485 update tests
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
Labels: plugin-packs/postcss-preset-env

#498 postcss-nesting : preserve semicolon
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/lib/nest-rule-within-rule.js
  plugins/postcss-nesting/src/lib/shift-nodes-before-parent.js
  plugins/postcss-nesting/test/at-rule.expect.css
  plugins/postcss-nesting/test/at-rule.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/basic.css
  plugins/postcss-nesting/test/basic.expect.css
  plugins/postcss-nesting/test/basic.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/complex.expect.css
  plugins/postcss-nesting/test/complex.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/container.expect.css
  plugins/postcss-nesting/test/container.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/deno/test.js
  plugins/postcss-nesting/test/document.expect.css
  plugins/postcss-nesting/test/document.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/empty.expect.css
  plugins/postcss-nesting/test/empty.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/ignore.expect.css
  plugins/postcss-nesting/test/ignore.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/layer.expect.css
  plugins/postcss-nesting/test/media.expect.css
  plugins/postcss-nesting/test/media.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/spec-examples.expect.css
  plugins/postcss-nesting/test/spec-examples.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/supports.expect.css
  plugins/postcss-nesting/test/supports.no-is-pseudo-selector.expect.css
Labels: plugins/postcss-nesting, plugin-packs/postcss-preset-env

#483 cascade layers : docs review
  plugins/postcss-cascade-layers/README.md
Labels: plugins/postcss-cascade-layers

#500 css-has-pseudo : make the experimental plugin a noop
  experimental/css-has-pseudo/.tape.mjs
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/INSTALL-POSTCSS.md
  experimental/css-has-pseudo/README-BROWSER.md
  experimental/css-has-pseudo/README-POSTCSS.md
  experimental/css-has-pseudo/README.md
  experimental/css-has-pseudo/package.json
  experimental/css-has-pseudo/src/browser.js
  experimental/css-has-pseudo/src/encode/decode.mjs
  experimental/css-has-pseudo/src/encode/encode.mjs
  experimental/css-has-pseudo/src/encode/extract.mjs
  experimental/css-has-pseudo/src/encode/test.mjs
  experimental/css-has-pseudo/src/index.ts
  experimental/css-has-pseudo/test/_browser.html
  experimental/css-has-pseudo/test/_browser.mjs
  experimental/css-has-pseudo/test/basic.expect.css
Labels: plugins/css-has-pseudo, experimental

#503 Fix typo
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#501 css-blank-pseudo : code review
  plugins/css-blank-pseudo/INSTALL.md
  plugins/css-blank-pseudo/README.md
  plugins/css-blank-pseudo/docs/README.md
  plugins/css-blank-pseudo/package.json
  plugins/css-blank-pseudo/test/_browser.html
  plugins/css-blank-pseudo/test/_browser.mjs
  plugins/css-blank-pseudo/test/_browser_replace.html
  plugins/css-blank-pseudo/test/_valid-replacements.mjs
Labels: plugins/css-blank-pseudo

#486 CSS Blank Pseudo
  plugins/css-blank-pseudo/.gitignore
  plugins/css-blank-pseudo/.tape.mjs
  plugins/css-blank-pseudo/CHANGELOG.md
  plugins/css-blank-pseudo/INSTALL.md
  plugins/css-blank-pseudo/README-BROWSER.md
  plugins/css-blank-pseudo/README-POSTCSS.md
  plugins/css-blank-pseudo/README.md
  plugins/css-blank-pseudo/docs/README.md
  plugins/css-blank-pseudo/package.json
  plugins/css-blank-pseudo/src/browser-global.js
  plugins/css-blank-pseudo/src/browser.js
  plugins/css-blank-pseudo/src/cli.js
  plugins/css-blank-pseudo/src/index.ts
  plugins/css-blank-pseudo/src/is-valid-replacement.mjs
  plugins/css-blank-pseudo/test/_browser.html
  plugins/css-blank-pseudo/test/_browser.mjs
  plugins/css-blank-pseudo/test/_browser_replace.html
  plugins/css-blank-pseudo/test/_valid-replacements.mjs
  plugins/css-blank-pseudo/test/basic.wrong-replacewith.expect.css
  plugins/css-blank-pseudo/test/browser.css
  plugins/css-blank-pseudo/test/browser.expect.css
  plugins/css-blank-pseudo/test/browser.replacewith.expect.css
  plugins/css-blank-pseudo/test/examples/example.css
  plugins/css-blank-pseudo/test/examples/example.expect.css
  plugins/css-blank-pseudo/test/examples/example.preserve-false.expect.css
  plugins/css-blank-pseudo/test/examples/example.preserve-true.expect.css
  plugins/css-blank-pseudo/test/examples/example.replacewith.expect.css
  plugins/css-blank-pseudo/tsconfig.json
Labels: plugins/css-blank-pseudo

#511 postcss-nesting : partially revert 10.1.9 and fix #510
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/lib/merge-selectors/merge-selectors.js
  plugins/postcss-nesting/test/pseudo-element.css
  plugins/postcss-nesting/test/pseudo-element.expect.css
Labels: plugins/postcss-nesting
