Repository csstools/postcss-plugins, pull requests merged in 2022-03, with the labels that each got.

#280 readme templating
  .editorconfig
  .github/bin/fail-on-changes.sh
  .github/bin/generate-docs/install-template.md
  .github/bin/generate-docs/readme.mjs
  .github/bin/install-and-test-all-packages.sh
  .github/bin/new-plugin.mjs
  package.json
  plugins/css-blank-pseudo/INSTALL.md
  plugins/css-has-pseudo/INSTALL.md
  plugins/css-prefers-color-scheme/INSTALL.md
  plugins/postcss-base-plugin/.tape.mjs
  plugins/postcss-base-plugin/INSTALL.md
  plugins/postcss-base-plugin/README.md
  plugins/postcss-base-plugin/docs/README.md
  plugins/postcss-base-plugin/package.json
  plugins/postcss-base-plugin/src/cli.ts
  plugins/postcss-base-plugin/src/index.ts
  plugins/postcss-base-plugin/test/examples/example.css
  plugins/postcss-base-plugin/test/examples/example.expect.css
  plugins/postcss-base-plugin/test/examples/example.preserve-true.expect.css
  plugins/postcss-color-function/.tape.mjs
  plugins/postcss-color-function/INSTALL.md
  plugins/postcss-color-function/README.md
  plugins/postcss-color-function/docs/README.md
  plugins/postcss-color-function/package.json
  plugins/postcss-color-function/test/examples/example.css
  plugins/postcss-color-function/test/examples/example.expect.css
  plugins/postcss-color-function/test/examples/example.preserve-true.expect.css
  plugins/postcss-color-function/test/examples/example.preserve-true.progressive-false.expect.css
  plugins/postcss-color-function/tsconfig.json
  plugins/postcss-color-functional-notation/INSTALL.md
  plugins/postcss-color-hex-alpha/INSTALL.md
  plugins/postcss-color-rebeccapurple/INSTALL.md
  plugins/postcss-custom-properties/INSTALL.md
  plugins/postcss-dir-pseudo-class/INSTALL.md
  plugins/postcss-double-position-gradients/INSTALL.md
  plugins/postcss-env-function/INSTALL.md
  plugins/postcss-focus-visible/INSTALL.md
  plugins/postcss-focus-within/INSTALL.md
  plugins/postcss-font-format-keywords/INSTALL.md
  plugins/postcss-gap-properties/INSTALL.md
  plugins/postcss-hwb-function/INSTALL.md
  plugins/postcss-ic-unit/INSTALL.md
  plugins/postcss-image-set-function/INSTALL.md
  plugins/postcss-is-pseudo-class/INSTALL.md
  plugins/postcss-lab-function/INSTALL.md
  plugins/postcss-logical/INSTALL.md
  plugins/postcss-nesting/INSTALL.md
  plugins/postcss-normalize-display-values/INSTALL.md
  plugins/postcss-oklab-function/INSTALL.md
  plugins/postcss-overflow-shorthand/INSTALL.md
  plugins/postcss-place/INSTALL.md
  plugins/postcss-progressive-custom-properties/INSTALL.md
  plugins/postcss-pseudo-class-any-link/INSTALL.md
  plugins/postcss-unset-value/INSTALL.md
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-custom-properties, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-color-hex-alpha, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-nesting, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugins/css-prefers-color-scheme, common-tools, plugins/postcss-is-pseudo-class, plugins/postcss-hwb-function, plugins/postcss-font-format-keywords, plugins/postcss-normalize-display-values, plugins/postcss-color-function, plugins/postcss-progressive-custom-properties, plugins/postcss-oklab-function, plugins/postcss-ic-unit, plugins/postcss-unset-value

#286 better clean
  .github/bin/clean.sh
  .gitignore
  package.json
Labels: common-tools

#288 postcss-nesting : fix #285
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/lib/cleanup-parent.js
  plugins/postcss-nesting/src/lib/shift-nodes-before-parent.js
  plugins/postcss-nesting/test/basic.css
  plugins/postcss-nesting/test/basic.expect.css
  plugins/postcss-nesting/test/basic.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/spec-examples.expect.css
  plugins/postcss-nesting/test/spec-examples.no-is-pseudo-selector.expect.css
Labels: plugins/postcss-nesting

#289 various fixes
  plugins/postcss-double-position-gradients/CHANGELOG.md
  plugins/postcss-double-position-gradients/src/index.ts
  plugins/postcss-double-position-gradients/test/basic.css
  plugins/postcss-double-position-gradients/test/basic.expect.css
  plugins/postcss-double-position-gradients/test/basic.preserve.expect.css
  plugins/postcss-gradients-interpolation-method/CHANGELOG.md
  plugins/postcss-gradients-interpolation-method/package.json
  plugins/postcss-progressive-custom-properties/CHANGELOG.md
  plugins/postcss-progressive-custom-properties/generate/color-mix.mjs
  plugins/postcss-progressive-custom-properties/generate/color.mjs
  plugins/postcss-progressive-custom-properties/generate/matcher-for-value.mjs
  plugins/postcss-progressive-custom-properties/generate/matchers.mjs
  plugins/postcss-progressive-custom-properties/src/match.ts
  plugins/postcss-progressive-custom-properties/src/matchers.ts
  plugins/postcss-progressive-custom-properties/test/basic.css
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
Labels: plugins/postcss-double-position-gradients, plugins/postcss-progressive-custom-properties, plugins/postcss-gradients-interpolation-method

#299 fix gamut mapping and powerless color components
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugins/postcss-color-function/CHANGELOG.md
  plugins/postcss-color-function/src/convert-a98-rgb-to-srgb.ts
  plugins/postcss-color-function/src/convert-cie-xyz-50-to-srgb.ts
  plugins/postcss-color-function/src/convert-cie-xyz-65-to-srgb.ts
  plugins/postcss-color-function/src/convert-display-p3-to-srgb.ts
  plugins/postcss-color-function/src/convert-prophoto-rgb-to-srgb.ts
  plugins/postcss-color-function/src/convert-rec2020-to-srgb.ts
  plugins/postcss-color-function/src/convert-srgb-linear-to-srgb.ts
  plugins/postcss-color-function/src/convert-srgb-to-srgb.ts
  plugins/postcss-color-function/src/css-color-4/map-gamut.ts
  plugins/postcss-color-function/test/basic.expect.css
  plugins/postcss-color-function/test/basic.preserve-true.expect.css
  plugins/postcss-lab-function/CHANGELOG.md
  plugins/postcss-lab-function/src/convert-lab-to-display-p3.ts
  plugins/postcss-lab-function/src/convert-lab-to-srgb.ts
  plugins/postcss-lab-function/src/convert-lch-to-display-p3.ts
  plugins/postcss-lab-function/src/convert-lch-to-srgb.ts
  plugins/postcss-lab-function/src/css-color-4/map-gamut.ts
  plugins/postcss-lab-function/test/basic.display-p3-false.expect.css
  plugins/postcss-lab-function/test/basic.display-p3-false.preserve-true.expect.css
  plugins/postcss-lab-function/test/basic.expect.css
  plugins/postcss-lab-function/test/basic.preserve-true.expect.css
  plugins/postcss-oklab-function/.tape.mjs
  plugins/postcss-oklab-function/CHANGELOG.md
  plugins/postcss-oklab-function/src/convert-oklab-to-display-p3.ts
  plugins/postcss-oklab-function/src/convert-oklab-to-srgb.ts
  plugins/postcss-oklab-function/src/convert-oklch-to-display-p3.ts
  plugins/postcss-oklab-function/src/convert-oklch-to-srgb.ts
  plugins/postcss-oklab-function/src/css-color-4/map-gamut.ts
  plugins/postcss-oklab-function/test/basic.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.display-p3-false.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.expect.css
Labels: plugins/postcss-lab-function, plugin-packs/postcss-preset-env, plugins/postcss-color-function, plugins/postcss-oklab-function

#308 postcss-preset-env : readme - fix list of ids link
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#305 add deprecation notices
  plugin-packs/postcss-preset-env/.tape.mjs
  plugins/postcss-custom-properties/.tape.cjs
  plugins/postcss-custom-properties/.tape.mjs
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/README.md
  plugins/postcss-custom-properties/src/index.ts
  plugins/postcss-env-function/.tape.cjs
  plugins/postcss-env-function/CHANGELOG.md
  plugins/postcss-env-function/README.md
  plugins/postcss-env-function/src/index.js
Labels: plugins/postcss-env-function, plugins/postcss-custom-properties

#313 postcss-preset-env : more documentation and a few fixes
  .eslintrc.json
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/FEATURES.md
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/docs/FEATURES.md
  plugin-packs/postcss-preset-env/docs/generate.mjs
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugin-packs/postcss-preset-env/src/patch/postcss-clamp.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugin-id-help.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-by-id.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/vendor-implementations.mjs
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  sites/postcss-preset-env/src/components/FeatureListElement.astro
Labels: plugin-packs/postcss-preset-env, sites/postcss-preset-env

#314 Enable funding
  .github/FUNDING.yml
  .github/bin/format-package-json.mjs
  cli/csstools-cli/package.json
  experimental/css-has-pseudo/package.json
  packages/base-cli/package.json
  packages/generate-test-cases/package.json
  packages/postcss-tape/package.json
  plugin-packs/postcss-preset-env/package.json
  plugins/css-blank-pseudo/package.json
  plugins/css-has-pseudo/package.json
  plugins/css-prefers-color-scheme/package.json
  plugins/postcss-base-plugin/package.json
  plugins/postcss-color-function/package.json
  plugins/postcss-color-functional-notation/package.json
  plugins/postcss-color-hex-alpha/package.json
  plugins/postcss-color-rebeccapurple/package.json
  plugins/postcss-custom-properties/package.json
  plugins/postcss-dir-pseudo-class/package.json
  plugins/postcss-double-position-gradients/package.json
  plugins/postcss-env-function/package.json
  plugins/postcss-focus-visible/package.json
  plugins/postcss-focus-within/package.json
  plugins/postcss-font-format-keywords/package.json
  plugins/postcss-gap-properties/package.json
  plugins/postcss-gradients-interpolation-method/package.json
  plugins/postcss-hwb-function/package.json
  plugins/postcss-ic-unit/package.json
  plugins/postcss-image-set-function/package.json
  plugins/postcss-is-pseudo-class/package.json
  plugins/postcss-lab-function/package.json
  plugins/postcss-logical/package.json
  plugins/postcss-nesting/package.json
  plugins/postcss-normalize-display-values/package.json
  plugins/postcss-oklab-function/package.json
  plugins/postcss-overflow-shorthand/package.json
  plugins/postcss-place/package.json
  plugins/postcss-progressive-custom-properties/package.json
  plugins/postcss-pseudo-class-any-link/package.json
  plugins/postcss-unset-value/package.json
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-custom-properties, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-color-hex-alpha, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-nesting, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugin-packs/postcss-preset-env, plugins/css-prefers-color-scheme, common-tools, cli, experimental, plugins/postcss-is-pseudo-class, plugins/postcss-hwb-function, plugins/postcss-font-format-keywords, plugins/postcss-normalize-display-values, plugins/postcss-color-function, plugins/postcss-progressive-custom-properties, plugins/postcss-oklab-function, plugins/postcss-ic-unit, plugins/postcss-unset-value, plugins/postcss-gradients-interpolation-method

#315 postcss-tape : update error message for broken source maps
  packages/postcss-tape/src/index.ts
  packages/postcss-tape/test-self/basic.broken-sourcemap.expect.log
Labels: common-tools
