Repository csstools/postcss-plugins, pull requests merged in 2022-07, with the labels that each got.

#513 Updating Focus Visible
  package-lock.json
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/client-side-polyfills.stage-1.expect.css
  plugin-packs/postcss-preset-env/test/client-side-polyfills.stage-2.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/css-blank-pseudo/src/index.ts
  plugins/postcss-focus-visible/.gitignore
  plugins/postcss-focus-visible/.tape.mjs
  plugins/postcss-focus-visible/CHANGELOG.md
  plugins/postcss-focus-visible/README.md
  plugins/postcss-focus-visible/docs/README.md
  plugins/postcss-focus-visible/package.json
  plugins/postcss-focus-visible/src/index.ts
  plugins/postcss-focus-visible/test/_browser.html
  plugins/postcss-focus-visible/test/_browser.mjs
  plugins/postcss-focus-visible/test/basic.css
  plugins/postcss-focus-visible/test/basic.expect.css
  plugins/postcss-focus-visible/test/basic.preserve.expect.css
  plugins/postcss-focus-visible/test/basic.replacewith.expect.css
  plugins/postcss-focus-visible/test/browser.css
  plugins/postcss-focus-visible/test/browser.expect.css
  plugins/postcss-focus-visible/test/examples/example.css
  plugins/postcss-focus-visible/test/examples/example.expect.css
  plugins/postcss-focus-visible/test/examples/example.preserve-false.expect.css
  plugins/postcss-focus-visible/test/examples/example.preserve-true.expect.css
  plugins/postcss-focus-visible/test/examples/example.replacewith.expect.css
  plugins/postcss-focus-visible/test/generated-selector-cases.expect.css
Labels: plugins/css-blank-pseudo, plugins/postcss-focus-visible, plugin-packs/postcss-preset-env

#517 case insensitive matching
  plugins/css-blank-pseudo/CHANGELOG.md
  plugins/css-blank-pseudo/src/index.ts
  plugins/css-blank-pseudo/test/basic.css
  plugins/css-blank-pseudo/test/basic.expect.css
  plugins/css-blank-pseudo/test/basic.preserve.expect.css
  plugins/css-blank-pseudo/test/basic.replacewith.expect.css
  plugins/css-blank-pseudo/test/basic.wrong-replacewith.expect.css
  plugins/css-has-pseudo/CHANGELOG.md
  plugins/css-has-pseudo/src/index.ts
  plugins/css-has-pseudo/src/is-guarded-by-at-supports.ts
  plugins/css-has-pseudo/test/browser.css
  plugins/css-has-pseudo/test/browser.expect.css
  plugins/css-prefers-color-scheme/CHANGELOG.md
  plugins/css-prefers-color-scheme/src/index.ts
  plugins/css-prefers-color-scheme/test/browser.css
  plugins/css-prefers-color-scheme/test/browser.expect.css
Labels: plugins/css-has-pseudo, plugins/css-blank-pseudo, plugins/css-prefers-color-scheme

#516 Updating Focus Within
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/client-side-polyfills.stage-1.expect.css
  plugin-packs/postcss-preset-env/test/client-side-polyfills.stage-2.expect.css
  plugin-packs/postcss-preset-env/test/disable-client-side-polyfills.disabled.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugins/css-blank-pseudo/src/browser.js
  plugins/postcss-focus-visible/README.md
  plugins/postcss-focus-visible/docs/README.md
  plugins/postcss-focus-visible/src/index.ts
  plugins/postcss-focus-visible/test/basic.css
  plugins/postcss-focus-visible/test/basic.expect.css
  plugins/postcss-focus-visible/test/basic.preserve.expect.css
  plugins/postcss-focus-visible/test/basic.replacewith.expect.css
  plugins/postcss-focus-visible/test/browser.expect.css
  plugins/postcss-focus-visible/test/examples/example.expect.css
  plugins/postcss-focus-visible/test/examples/example.preserve-true.expect.css
  plugins/postcss-focus-visible/test/examples/example.replacewith.expect.css
  plugins/postcss-focus-within/.gitignore
  plugins/postcss-focus-within/.tape.mjs
  plugins/postcss-focus-within/CHANGELOG.md
  plugins/postcss-focus-within/README.md
  plugins/postcss-focus-within/docs/README.md
  plugins/postcss-focus-within/package.json
  plugins/postcss-focus-within/src/browser-global.js
  plugins/postcss-focus-within/src/browser.js
  plugins/postcss-focus-within/src/index.ts
  plugins/postcss-focus-within/src/is-valid-replacement.mjs
  plugins/postcss-focus-within/test/_browser.html
  plugins/postcss-focus-within/test/_browser.mjs
  plugins/postcss-focus-within/test/_browser_replace.html
  plugins/postcss-focus-within/test/basic.css
  plugins/postcss-focus-within/test/basic.expect.css
  plugins/postcss-focus-within/test/basic.preserve.expect.css
  plugins/postcss-focus-within/test/basic.replacewith.expect.css
  plugins/postcss-focus-within/test/browser.css
  plugins/postcss-focus-within/test/browser.expect.css
  plugins/postcss-focus-within/test/browser.replacewith.expect.css
  plugins/postcss-focus-within/test/examples/example.css
  plugins/postcss-focus-within/test/examples/example.expect.css
  plugins/postcss-focus-within/test/examples/example.preserve-false.expect.css
  plugins/postcss-focus-within/test/examples/example.replacewith.expect.css
  plugins/postcss-focus-within/test/generated-selector-cases.expect.css
Labels: plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-focus-visible, plugin-packs/postcss-preset-env

#519 postcss-blank : browser compat
  plugins/css-blank-pseudo/src/browser.js
  plugins/css-blank-pseudo/test/_browser.html
Labels: plugins/css-blank-pseudo

#520 postcss-focus-within : browser compat
  plugins/postcss-focus-within/src/browser.js
  plugins/postcss-focus-within/test/_browser.html
Labels: plugins/postcss-focus-within

#524 Adding global class to CSS Blank
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/client-side-polyfills.stage-1.expect.css
  plugin-packs/postcss-preset-env/test/disable-client-side-polyfills.disabled.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/css-blank-pseudo/README.md
  plugins/css-blank-pseudo/docs/README.md
  plugins/css-blank-pseudo/src/browser.js
  plugins/css-blank-pseudo/src/index.ts
  plugins/css-blank-pseudo/test/basic.expect.css
  plugins/css-blank-pseudo/test/basic.preserve.expect.css
  plugins/css-blank-pseudo/test/basic.replacewith.expect.css
  plugins/css-blank-pseudo/test/browser.expect.css
  plugins/css-blank-pseudo/test/browser.replacewith.expect.css
  plugins/css-blank-pseudo/test/examples/example.expect.css
  plugins/css-blank-pseudo/test/examples/example.preserve-false.expect.css
  plugins/css-blank-pseudo/test/examples/example.replacewith.expect.css
  plugins/postcss-focus-within/README.md
  plugins/postcss-focus-within/docs/README.md
Labels: plugins/css-blank-pseudo, plugins/postcss-focus-within, plugin-packs/postcss-preset-env

#526 no space parens
  .eslintrc.json
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugins/css-has-pseudo/src/index.js
  plugins/postcss-design-tokens/src/data-formats/style-dictionary/v3/group.ts
  plugins/postcss-nesting/src/lib/merge-selectors/compound-selector-order.js
  plugins/postcss-pseudo-class-any-link/src/index.js
  plugins/postcss-stepped-value-functions/src/round.ts
  plugins/postcss-trigonometric-functions/src/index.ts
  plugins/postcss-trigonometric-functions/src/utils.ts
Labels: plugins/css-has-pseudo, plugins/postcss-pseudo-class-any-link, plugins/postcss-nesting, plugin-packs/postcss-preset-env, plugins/postcss-stepped-value-functions, plugins/postcss-trigonometric-functions

#525 css has pseudo : pseudo element support and .js-has-pseudo class
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/client-side-polyfills.stage-1.expect.css
  plugin-packs/postcss-preset-env/test/client-side-polyfills.stage-2.expect.css
  plugin-packs/postcss-preset-env/test/disable-client-side-polyfills.disabled.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/css-has-pseudo/.tape.mjs
  plugins/css-has-pseudo/src/browser.js
  plugins/css-has-pseudo/src/index.ts
  plugins/css-has-pseudo/test/_browser.html
  plugins/css-has-pseudo/test/_browser.mjs
  plugins/css-has-pseudo/test/basic.css
  plugins/css-has-pseudo/test/basic.expect.css
  plugins/css-has-pseudo/test/basic.preserve.expect.css
  plugins/css-has-pseudo/test/basic.specificity-matching-name.expect.css
  plugins/css-has-pseudo/test/browser.css
  plugins/css-has-pseudo/test/browser.expect.css
  plugins/css-has-pseudo/test/examples/example.expect.css
  plugins/css-has-pseudo/test/examples/example.preserve-false.expect.css
  plugins/css-has-pseudo/test/generated-selector-cases.expect.css
  plugins/css-has-pseudo/test/plugin-order-logical.after.expect.css
  plugins/css-has-pseudo/test/plugin-order-logical.after.preserve.expect.css
  plugins/css-has-pseudo/test/plugin-order-logical.before.expect.css
  plugins/css-has-pseudo/test/plugin-order-logical.before.preserve.expect.css
  plugins/css-has-pseudo/test/plugin-order-nesting.after.expect.css
  plugins/css-has-pseudo/test/plugin-order-nesting.after.preserve.expect.css
  plugins/css-has-pseudo/test/plugin-order-nesting.before.expect.css
  plugins/css-has-pseudo/test/plugin-order-nesting.before.preserve.expect.css
Labels: plugins/css-has-pseudo, plugin-packs/postcss-preset-env

#528 flip enableClientSidePolyfills
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/preserve.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/stage-0.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/vendor-implementations.mjs
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/enable-client-side-polyfills.css
  plugin-packs/postcss-preset-env/test/enable-client-side-polyfills.enabled.expect.css
  plugin-packs/postcss-preset-env/test/enable-client-side-polyfills.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
Labels: plugin-packs/postcss-preset-env

#541 postcss-gap-properties: fix detection of `display: grid`
  plugins/postcss-gap-properties/CHANGELOG.md
  plugins/postcss-gap-properties/src/index.js
  plugins/postcss-gap-properties/test/basic.css
  plugins/postcss-gap-properties/test/basic.expect.css
  plugins/postcss-gap-properties/test/basic.preserve-false.expect.css
Labels: plugins/postcss-gap-properties

#558 add : disablePolyfillReadyClass
  plugins/css-blank-pseudo/.tape.mjs
  plugins/css-blank-pseudo/CHANGELOG.md
  plugins/css-blank-pseudo/README.md
  plugins/css-blank-pseudo/docs/README.md
  plugins/css-blank-pseudo/src/index.ts
  plugins/css-blank-pseudo/test/basic.disable-polyfill-ready-class.expect.css
  plugins/css-blank-pseudo/test/examples/example.disable-polyfill-ready-class.expect.css
  plugins/css-has-pseudo/README.md
  plugins/css-prefers-color-scheme/README.md
  plugins/postcss-focus-visible/.tape.mjs
  plugins/postcss-focus-visible/CHANGELOG.md
  plugins/postcss-focus-visible/README.md
  plugins/postcss-focus-visible/docs/README.md
  plugins/postcss-focus-visible/src/index.ts
  plugins/postcss-focus-visible/test/basic.disable-polyfill-ready-class.expect.css
  plugins/postcss-focus-visible/test/examples/example.disable-polyfill-ready-class.expect.css
  plugins/postcss-focus-within/.tape.mjs
  plugins/postcss-focus-within/CHANGELOG.md
  plugins/postcss-focus-within/README.md
  plugins/postcss-focus-within/docs/README.md
  plugins/postcss-focus-within/src/index.ts
  plugins/postcss-focus-within/test/basic.disable-polyfill-ready-class.expect.css
  plugins/postcss-focus-within/test/examples/example.disable-polyfill-ready-class.expect.css
Labels: plugins/css-has-pseudo, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-focus-visible, plugins/css-prefers-color-scheme
