Repository csstools/postcss-plugins, pull requests merged in 2022-11, with the labels that each got.

#683 postcss-nesting: fix pseudo's and allow ampersand everywhere
  experimental/postcss-nesting/.tape.mjs
  experimental/postcss-nesting/CHANGELOG.md
  experimental/postcss-nesting/README.md
  experimental/postcss-nesting/src/index.ts
  experimental/postcss-nesting/src/lib/ampersand-to-scope.ts
  experimental/postcss-nesting/src/lib/merge-selectors/merge-selectors.ts
  experimental/postcss-nesting/test/ampersand-everywhere.css
  experimental/postcss-nesting/test/ampersand-everywhere.expect.css
  experimental/postcss-nesting/test/examples/example.css
  experimental/postcss-nesting/test/examples/example.expect.css
  experimental/postcss-nesting/test/ignore.expect.css
  experimental/postcss-nesting/test/relative-selectors.expect.css
Labels: plugins/postcss-nesting, experimental

#684 postcss-scope-pseudo-class
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  packages/generate-test-cases/src/index.mjs
  plugins/postcss-scope-pseudo-class/.gitignore
  plugins/postcss-scope-pseudo-class/.nvmrc
  plugins/postcss-scope-pseudo-class/.tape.mjs
  plugins/postcss-scope-pseudo-class/CHANGELOG.md
  plugins/postcss-scope-pseudo-class/INSTALL.md
  plugins/postcss-scope-pseudo-class/LICENSE.md
  plugins/postcss-scope-pseudo-class/README.md
  plugins/postcss-scope-pseudo-class/docs/README.md
  plugins/postcss-scope-pseudo-class/package.json
  plugins/postcss-scope-pseudo-class/src/index.ts
  plugins/postcss-scope-pseudo-class/test/_import.mjs
  plugins/postcss-scope-pseudo-class/test/_require.cjs
  plugins/postcss-scope-pseudo-class/test/basic.css
  plugins/postcss-scope-pseudo-class/test/basic.expect.css
  plugins/postcss-scope-pseudo-class/test/basic.preserve-true.expect.css
  plugins/postcss-scope-pseudo-class/test/examples/example.css
  plugins/postcss-scope-pseudo-class/test/examples/example.expect.css
  plugins/postcss-scope-pseudo-class/test/examples/example.preserve-true.expect.css
  plugins/postcss-scope-pseudo-class/test/generated-selector-cases.css
  plugins/postcss-scope-pseudo-class/test/generated-selector-cases.expect.css
  plugins/postcss-scope-pseudo-class/tsconfig.json
Labels: common-tools, plugins/postcss-scope-pseudo-class

#631 add authoring guidelines
  AUTHORING_GUIDELINES.md
  CONTRIBUTING.md
  package.json
  sites/package.json
  sites/postcss-preset-env/README.md
Labels: sites/postcss-preset-env

#692 postcss-custom-media : update docs
  plugins/postcss-custom-media/.tape.mjs
  plugins/postcss-custom-media/README.md
  plugins/postcss-custom-media/docs/README.md
  plugins/postcss-custom-media/test/examples/complex.css
  plugins/postcss-custom-media/test/examples/complex.expect.css
  plugins/postcss-custom-media/test/examples/false.css
  plugins/postcss-custom-media/test/examples/false.expect.css
  plugins/postcss-custom-media/test/examples/true.css
  plugins/postcss-custom-media/test/examples/true.expect.css
Labels: plugins/postcss-custom-media

#695 postcss-preset-env v8 : tweaks before next alpha
  package-lock.json
  packages/css-parser-algorithms/README.md
  packages/css-parser-algorithms/package.json
  packages/media-query-list-parser/README.md
  packages/media-query-list-parser/package.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugins/postcss-custom-media/package.json
Labels: plugins/postcss-custom-media, plugin-packs/postcss-preset-env

#696 design-tokens : clarify docs
  plugins/postcss-design-tokens/.tape.mjs
  plugins/postcss-design-tokens/README.md
  plugins/postcss-design-tokens/docs/README.md
  plugins/postcss-design-tokens/test/examples/example-conditional.brand-2.expect.css
  plugins/postcss-design-tokens/test/examples/example-conditional.css
  plugins/postcss-design-tokens/test/examples/example-conditional.dark.expect.css
  plugins/postcss-design-tokens/test/examples/example-conditional.expect.css
  plugins/postcss-design-tokens/test/examples/tokens-brand-1.json
  plugins/postcss-design-tokens/test/examples/tokens-brand-2.json
Labels: plugins/postcss-design-tokens

#698 wrap calls to selector parser in try/catch
  plugins/css-blank-pseudo/.tape.mjs
  plugins/css-blank-pseudo/CHANGELOG.md
  plugins/css-blank-pseudo/src/index.ts
  plugins/css-blank-pseudo/test/invalid-selector.css
  plugins/css-blank-pseudo/test/invalid-selector.expect.css
  plugins/css-has-pseudo/CHANGELOG.md
  plugins/css-has-pseudo/src/index.ts
  plugins/postcss-attribute-case-insensitive/.tape.mjs
  plugins/postcss-attribute-case-insensitive/CHANGELOG.md
  plugins/postcss-attribute-case-insensitive/src/index.ts
  plugins/postcss-attribute-case-insensitive/test/invalid-selector.css
  plugins/postcss-attribute-case-insensitive/test/invalid-selector.expect.css
  plugins/postcss-cascade-layers/CHANGELOG.md
  plugins/postcss-cascade-layers/src/index.ts
  plugins/postcss-custom-selectors/.tape.mjs
  plugins/postcss-custom-selectors/CHANGELOG.md
  plugins/postcss-custom-selectors/src/custom-selectors-from-root.ts
  plugins/postcss-custom-selectors/src/index.ts
  plugins/postcss-custom-selectors/src/transform-rule.ts
  plugins/postcss-custom-selectors/test/invalid-selector.css
  plugins/postcss-custom-selectors/test/invalid-selector.expect.css
  plugins/postcss-extract/CHANGELOG.md
  plugins/postcss-extract/src/select-nodes.ts
  plugins/postcss-focus-visible/CHANGELOG.md
  plugins/postcss-focus-visible/src/index.ts
  plugins/postcss-focus-within/CHANGELOG.md
  plugins/postcss-focus-within/src/index.ts
  plugins/postcss-nesting/.tape.mjs
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/src/index.ts
  plugins/postcss-nesting/src/lib/atrule-within-rule.ts
  plugins/postcss-nesting/src/lib/nest-rule-within-rule.ts
  plugins/postcss-nesting/src/lib/rule-within-rule.ts
  plugins/postcss-nesting/src/lib/walk-func.ts
  plugins/postcss-nesting/src/lib/walk.ts
  plugins/postcss-nesting/test/invalid-selector.css
  plugins/postcss-nesting/test/invalid-selector.expect.css
  plugins/postcss-pseudo-class-any-link/CHANGELOG.md
  plugins/postcss-pseudo-class-any-link/src/replace-any-link.js
  plugins/postcss-scope-pseudo-class/CHANGELOG.md
  plugins/postcss-scope-pseudo-class/src/index.ts
  plugins/postcss-selector-not/CHANGELOG.md
  plugins/postcss-selector-not/src/index.ts
Labels: plugins/css-has-pseudo, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-attribute-case-insensitive, plugins/postcss-custom-selectors, plugins/postcss-focus-visible, plugins/postcss-nesting, plugins/postcss-selector-not, plugins/postcss-cascade-layers, plugins/postcss-extract, plugins/postcss-scope-pseudo-class

#699 postcss-media-queries-aspect-ratio-number-values
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-media-queries-aspect-ratio-number-values/.gitignore
  plugins/postcss-media-queries-aspect-ratio-number-values/.nvmrc
  plugins/postcss-media-queries-aspect-ratio-number-values/.tape.mjs
  plugins/postcss-media-queries-aspect-ratio-number-values/CHANGELOG.md
  plugins/postcss-media-queries-aspect-ratio-number-values/INSTALL.md
  plugins/postcss-media-queries-aspect-ratio-number-values/LICENSE.md
  plugins/postcss-media-queries-aspect-ratio-number-values/README.md
  plugins/postcss-media-queries-aspect-ratio-number-values/docs/README.md
  plugins/postcss-media-queries-aspect-ratio-number-values/package.json
  plugins/postcss-media-queries-aspect-ratio-number-values/src/index.ts
  plugins/postcss-media-queries-aspect-ratio-number-values/src/transform-media-feature-value.ts
  plugins/postcss-media-queries-aspect-ratio-number-values/src/transform-media-query-list.ts
  plugins/postcss-media-queries-aspect-ratio-number-values/test/_import.mjs
  plugins/postcss-media-queries-aspect-ratio-number-values/test/_require.cjs
  plugins/postcss-media-queries-aspect-ratio-number-values/test/basic.css
  plugins/postcss-media-queries-aspect-ratio-number-values/test/basic.expect.css
  plugins/postcss-media-queries-aspect-ratio-number-values/test/basic.preserve-true.expect.css
  plugins/postcss-media-queries-aspect-ratio-number-values/test/examples/example.css
  plugins/postcss-media-queries-aspect-ratio-number-values/test/examples/example.expect.css
  plugins/postcss-media-queries-aspect-ratio-number-values/test/examples/example.preserve-true.expect.css
  plugins/postcss-media-queries-aspect-ratio-number-values/test/invalid.css
  plugins/postcss-media-queries-aspect-ratio-number-values/test/invalid.expect.css
  plugins/postcss-media-queries-aspect-ratio-number-values/tsconfig.json
Labels: common-tools

#703 update dependencies
  e2e/package-lock.json
  package-lock.json
  sites/package.json
  sites/postcss-preset-env/package.json
  sites/postcss-preset-env/rollup.config.mjs
Labels: sites/postcss-preset-env

#707 postcss-nesting: group declarations
  experimental/postcss-nesting/.tape.mjs
  experimental/postcss-nesting/CHANGELOG.md
  experimental/postcss-nesting/package.json
  experimental/postcss-nesting/src/lib/atrule-within-atrule.ts
  experimental/postcss-nesting/src/lib/atrule-within-rule.ts
  experimental/postcss-nesting/src/lib/group-declarations.ts
  experimental/postcss-nesting/src/lib/merge-selectors/merge-selectors.ts
  experimental/postcss-nesting/src/lib/rule-within-rule.ts
  experimental/postcss-nesting/test/basic.expect.css
  experimental/postcss-nesting/test/direct.expect.css
  experimental/postcss-nesting/test/invalid-selector.expect.css
  experimental/postcss-nesting/test/mixin-declaration.expect.css
  experimental/postcss-nesting/test/spec-examples.expect.css
  package-lock.json
Labels: plugins/postcss-nesting, experimental

#709 postcss-custom-media: avoid complex generated CSS in more cases
  packages/media-query-list-parser/src/nodes/media-condition.ts
  plugins/postcss-custom-media/CHANGELOG.md
  plugins/postcss-custom-media/src/transform-at-media/transform-at-media.ts
  plugins/postcss-custom-media/test/basic-after-v9.css
  plugins/postcss-custom-media/test/basic-after-v9.expect.css
  plugins/postcss-custom-media/test/basic-after-v9.preserve.expect.css
  plugins/postcss-custom-media/test/basic.expect.css
  plugins/postcss-custom-media/test/complex.expect.css
  plugins/postcss-custom-media/test/list.expect.css
  plugins/postcss-custom-media/test/true-false.expect.css
Labels: plugins/postcss-custom-media

#716 Improving Browser Polyfills docs for Next.js
  plugins/css-blank-pseudo/README.md
  plugins/css-blank-pseudo/docs/README.md
  plugins/css-has-pseudo/README.md
  plugins/css-has-pseudo/docs/README.md
  plugins/css-prefers-color-scheme/README.md
  plugins/css-prefers-color-scheme/docs/README.md
  plugins/postcss-focus-within/README.md
  plugins/postcss-focus-within/docs/README.md
Labels: plugins/css-has-pseudo, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/css-prefers-color-scheme

#728 update dependencies
  e2e/package-lock.json
  package-lock.json
  sites/postcss-preset-env/package-lock.json
  sites/postcss-preset-env/package.json
Labels: sites/postcss-preset-env

#717 design-tokens : add support for at rules
  package-lock.json
  plugins/postcss-design-tokens/.tape.mjs
  plugins/postcss-design-tokens/CHANGELOG.md
  plugins/postcss-design-tokens/README.md
  plugins/postcss-design-tokens/docs/README.md
  plugins/postcss-design-tokens/package.json
  plugins/postcss-design-tokens/src/index.ts
  plugins/postcss-design-tokens/src/parse-component-values.ts
  plugins/postcss-design-tokens/src/transform.ts
  plugins/postcss-design-tokens/src/values.ts
  plugins/postcss-design-tokens/test/at-rule-error.css
  plugins/postcss-design-tokens/test/at-rule-error.expect.css
  plugins/postcss-design-tokens/test/at-rule.css
  plugins/postcss-design-tokens/test/at-rule.expect.css
  plugins/postcss-design-tokens/test/basic.css
  plugins/postcss-design-tokens/test/basic.expect.css
  plugins/postcss-design-tokens/test/examples/example.css
  plugins/postcss-design-tokens/test/examples/example.expect.css
  plugins/postcss-design-tokens/test/examples/example.rootFontSize-20.expect.css
  plugins/postcss-design-tokens/test/examples/tokens.json
  plugins/postcss-design-tokens/test/tokens/basic.json
Labels: plugins/postcss-design-tokens

#724 document how parallel builders can affect plugins
  .github/bin/generate-docs/install-template.md
  .github/bin/generate-docs/install.mjs
  experimental/postcss-nesting/INSTALL.md
  plugins/css-blank-pseudo/INSTALL.md
  plugins/css-has-pseudo/INSTALL.md
  plugins/css-prefers-color-scheme/INSTALL.md
  plugins/postcss-attribute-case-insensitive/INSTALL.md
  plugins/postcss-base-plugin/INSTALL.md
  plugins/postcss-cascade-layers/INSTALL.md
  plugins/postcss-cascade-layers/package.json
  plugins/postcss-color-function/INSTALL.md
  plugins/postcss-color-functional-notation/INSTALL.md
  plugins/postcss-color-hex-alpha/INSTALL.md
  plugins/postcss-color-rebeccapurple/INSTALL.md
  plugins/postcss-conditional-values/INSTALL.md
  plugins/postcss-conditional-values/package.json
  plugins/postcss-custom-media/INSTALL.md
  plugins/postcss-custom-media/package.json
  plugins/postcss-custom-properties/INSTALL.md
  plugins/postcss-custom-properties/package.json
  plugins/postcss-custom-selectors/INSTALL.md
  plugins/postcss-custom-selectors/package.json
  plugins/postcss-design-tokens/INSTALL.md
  plugins/postcss-design-tokens/package.json
  plugins/postcss-dir-pseudo-class/INSTALL.md
  plugins/postcss-double-position-gradients/INSTALL.md
  plugins/postcss-env-function/INSTALL.md
  plugins/postcss-extract/INSTALL.md
  plugins/postcss-focus-visible/INSTALL.md
  plugins/postcss-focus-within/INSTALL.md
  plugins/postcss-font-format-keywords/INSTALL.md
  plugins/postcss-gap-properties/INSTALL.md
  plugins/postcss-gradients-interpolation-method/INSTALL.md
  plugins/postcss-hwb-function/INSTALL.md
  plugins/postcss-ic-unit/INSTALL.md
  plugins/postcss-image-set-function/INSTALL.md
  plugins/postcss-is-pseudo-class/INSTALL.md
  plugins/postcss-lab-function/INSTALL.md
  plugins/postcss-logical/INSTALL.md
  plugins/postcss-media-queries-aspect-ratio-number-values/INSTALL.md
  plugins/postcss-nested-calc/INSTALL.md
  plugins/postcss-nesting/INSTALL.md
  plugins/postcss-normalize-display-values/INSTALL.md
  plugins/postcss-oklab-function/INSTALL.md
  plugins/postcss-overflow-shorthand/INSTALL.md
  plugins/postcss-place/INSTALL.md
  plugins/postcss-progressive-custom-properties/INSTALL.md
  plugins/postcss-pseudo-class-any-link/INSTALL.md
  plugins/postcss-scope-pseudo-class/INSTALL.md
  plugins/postcss-selector-not/INSTALL.md
  plugins/postcss-stepped-value-functions/INSTALL.md
  plugins/postcss-text-decoration-shorthand/INSTALL.md
  plugins/postcss-trigonometric-functions/INSTALL.md
  plugins/postcss-unset-value/INSTALL.md
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-attribute-case-insensitive, plugins/postcss-custom-media, plugins/postcss-custom-properties, plugins/postcss-custom-selectors, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-color-hex-alpha, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-nesting, plugins/postcss-selector-not, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugins/css-prefers-color-scheme, common-tools, experimental, plugins/postcss-is-pseudo-class, plugins/postcss-hwb-function, plugins/postcss-font-format-keywords, plugins/postcss-normalize-display-values, plugins/postcss-color-function, plugins/postcss-progressive-custom-properties, plugins/postcss-oklab-function, plugins/postcss-cascade-layers, plugins/postcss-ic-unit, plugins/postcss-unset-value, plugins/postcss-gradients-interpolation-method, plugins/postcss-stepped-value-functions, plugins/postcss-trigonometric-functions, plugins/postcss-nested-calc, plugins/postcss-text-decoration-shorthand, plugins/postcss-design-tokens, plugins/postcss-color-rebeccapurple, plugins/postcss-extract, plugins/postcss-scope-pseudo-class, plugins/media-queries-aspect-ratio-number-values

#737 Improve performance of control comments in `postcss-custom-properties`
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/src/lib/get-custom-properties-from-root.ts
  plugins/postcss-custom-properties/src/lib/is-ignored.ts
  plugins/postcss-custom-properties/src/lib/transform-properties.ts
Labels: plugins/postcss-custom-properties
