Repository csstools/postcss-plugins, pull requests merged in 2022-02, with the labels that each got.

#222 ci : add e2e tests for bundling `postcss-preset-env` with webpack
  .github/workflows/test.yml
  .gitignore
  e2e/webpack/bundle-through/.gitignore
  e2e/webpack/bundle-through/index.cjs
  e2e/webpack/bundle-through/index.mjs
  e2e/webpack/bundle-through/package-lock.json
  e2e/webpack/bundle-through/package.json
  e2e/webpack/bundle-through/webpack.config.js
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/src/lib/format-feature.mjs
  plugins/css-blank-pseudo/CHANGELOG.md
  plugins/css-has-pseudo/CHANGELOG.md
  plugins/postcss-base-plugin/package.json
  plugins/postcss-color-functional-notation/CHANGELOG.md
  plugins/postcss-color-functional-notation/package.json
  plugins/postcss-color-hex-alpha/CHANGELOG.md
  plugins/postcss-color-hex-alpha/package.json
  plugins/postcss-color-rebeccapurple/package.json
  plugins/postcss-dir-pseudo-class/CHANGELOG.md
  plugins/postcss-dir-pseudo-class/package.json
  plugins/postcss-dir-pseudo-class/src/index.js
  plugins/postcss-double-position-gradients/CHANGELOG.md
  plugins/postcss-double-position-gradients/package.json
  plugins/postcss-double-position-gradients/src/index.js
  plugins/postcss-env-function/CHANGELOG.md
  plugins/postcss-env-function/package.json
  plugins/postcss-focus-visible/CHANGELOG.md
  plugins/postcss-focus-visible/package.json
  plugins/postcss-focus-within/CHANGELOG.md
  plugins/postcss-focus-within/package.json
  plugins/postcss-gap-properties/CHANGELOG.md
  plugins/postcss-gap-properties/package.json
  plugins/postcss-gap-properties/src/index.js
  plugins/postcss-image-set-function/CHANGELOG.md
  plugins/postcss-image-set-function/package.json
  plugins/postcss-lab-function/CHANGELOG.md
  plugins/postcss-lab-function/package.json
  plugins/postcss-logical/CHANGELOG.md
  plugins/postcss-logical/package.json
  plugins/postcss-overflow-shorthand/CHANGELOG.md
  plugins/postcss-overflow-shorthand/package.json
  plugins/postcss-place/CHANGELOG.md
  plugins/postcss-place/package.json
  plugins/postcss-pseudo-class-any-link/CHANGELOG.md
  plugins/postcss-pseudo-class-any-link/package.json
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-color-hex-alpha, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugin-packs/postcss-preset-env, common-tools

#191 css has pseudo : visitedness
  experimental/css-has-pseudo/.tape.js
  experimental/css-has-pseudo/.tape.mjs
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/package.json
  experimental/css-has-pseudo/src/index.ts
  experimental/css-has-pseudo/test/_browser.html
  experimental/css-has-pseudo/test/basic.css
  experimental/css-has-pseudo/test/basic.expect.css
  experimental/css-has-pseudo/test/basic.preserve.expect.css
  experimental/css-has-pseudo/test/basic.specificity-matching-name.expect.css
  experimental/css-has-pseudo/test/browser.css
  experimental/css-has-pseudo/test/browser.expect.css
  packages/postcss-tape/src/index.ts
Labels: plugins/css-has-pseudo, common-tools, experimental

#229 postcss-progressive-custom-properties
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-progressive-custom-properties/.gitignore
  plugins/postcss-progressive-custom-properties/.nvmrc
  plugins/postcss-progressive-custom-properties/.tape.mjs
  plugins/postcss-progressive-custom-properties/CHANGELOG.md
  plugins/postcss-progressive-custom-properties/INSTALL.md
  plugins/postcss-progressive-custom-properties/LICENSE.md
  plugins/postcss-progressive-custom-properties/README.md
  plugins/postcss-progressive-custom-properties/package.json
  plugins/postcss-progressive-custom-properties/src/index.ts
  plugins/postcss-progressive-custom-properties/test/_import.mjs
  plugins/postcss-progressive-custom-properties/test/_require.cjs
  plugins/postcss-progressive-custom-properties/test/basic.css
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
  plugins/postcss-progressive-custom-properties/test/example.css
  plugins/postcss-progressive-custom-properties/test/example.expect.css
  plugins/postcss-progressive-custom-properties/tsconfig.json
Labels: plugins/postcss-progressive-custom-properties

#226 postcss-color-function
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-color-function/.gitignore
  plugins/postcss-color-function/.nvmrc
  plugins/postcss-color-function/.tape.mjs
  plugins/postcss-color-function/CHANGELOG.md
  plugins/postcss-color-function/INSTALL.md
  plugins/postcss-color-function/LICENSE.md
  plugins/postcss-color-function/README.md
  plugins/postcss-color-function/package.json
  plugins/postcss-color-function/src/convert-a98-rgb-to-srgb.ts
  plugins/postcss-color-function/src/convert-cie-xyz-50-to-srgb.ts
  plugins/postcss-color-function/src/convert-cie-xyz-65-to-srgb.ts
  plugins/postcss-color-function/src/convert-display-p3-to-srgb.ts
  plugins/postcss-color-function/src/convert-prophoto-rgb-to-srgb.ts
  plugins/postcss-color-function/src/convert-rec2020-to-srgb.ts
  plugins/postcss-color-function/src/convert-srgb-linear-to-srgb.ts
  plugins/postcss-color-function/src/convert-srgb-to-srgb.ts
  plugins/postcss-color-function/src/css-color-4/LICENSE.md
  plugins/postcss-color-function/src/css-color-4/conversions.ts
  plugins/postcss-color-function/src/css-color-4/deltaEOK.ts
  plugins/postcss-color-function/src/css-color-4/map-gamut.ts
  plugins/postcss-color-function/src/css-color-4/multiply-matrices.ts
  plugins/postcss-color-function/src/css-color-4/utilities.ts
  plugins/postcss-color-function/src/has-fallback-decl.ts
  plugins/postcss-color-function/src/has-supports-at-rule-ancestor.ts
  plugins/postcss-color-function/src/index.ts
  plugins/postcss-color-function/src/modified-value.ts
  plugins/postcss-color-function/src/on-css-function.ts
  plugins/postcss-color-function/test/_import.mjs
  plugins/postcss-color-function/test/_require.cjs
  plugins/postcss-color-function/test/basic.css
  plugins/postcss-color-function/test/basic.expect.css
  plugins/postcss-color-function/test/basic.preserve-true.expect.css
  plugins/postcss-color-function/test/lab-function-interop.css
  plugins/postcss-color-function/test/lab-function-interop.expect.css
  plugins/postcss-color-function/test/lab-function-interop.preserve.false.expect.css
  plugins/postcss-color-function/test/variables.css
  plugins/postcss-color-function/test/variables.expect.css
  plugins/postcss-color-function/test/variables.preserve-true.expect.css
  plugins/postcss-color-function/test/variables.preserve-true.progressive-false.expect.css
  plugins/postcss-color-function/tsconfig.json
  rollup/configs/externals.js
Labels: common-tools, plugins/postcss-color-function

#243 postcss-color-function : fix percentage handling
  plugins/postcss-color-function/CHANGELOG.md
  plugins/postcss-color-function/src/index.ts
  plugins/postcss-color-function/src/on-css-function.ts
  plugins/postcss-color-function/test/basic.css
  plugins/postcss-color-function/test/basic.expect.css
  plugins/postcss-color-function/test/basic.preserve-true.expect.css
Labels: plugins/postcss-color-function

#227 postcss-oklab-function
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-oklab-function/.gitignore
  plugins/postcss-oklab-function/.nvmrc
  plugins/postcss-oklab-function/.tape.mjs
  plugins/postcss-oklab-function/CHANGELOG.md
  plugins/postcss-oklab-function/INSTALL.md
  plugins/postcss-oklab-function/LICENSE.md
  plugins/postcss-oklab-function/README.md
  plugins/postcss-oklab-function/package.json
  plugins/postcss-oklab-function/src/convert-oklab-to-display-p3.ts
  plugins/postcss-oklab-function/src/convert-oklab-to-srgb.ts
  plugins/postcss-oklab-function/src/convert-oklch-to-display-p3.ts
  plugins/postcss-oklab-function/src/convert-oklch-to-srgb.ts
  plugins/postcss-oklab-function/src/css-color-4/LICENSE.md
  plugins/postcss-oklab-function/src/css-color-4/conversions.ts
  plugins/postcss-oklab-function/src/css-color-4/deltaEOK.ts
  plugins/postcss-oklab-function/src/css-color-4/map-gamut.ts
  plugins/postcss-oklab-function/src/css-color-4/multiply-matrices.ts
  plugins/postcss-oklab-function/src/css-color-4/utilities.ts
  plugins/postcss-oklab-function/src/has-fallback-decl.ts
  plugins/postcss-oklab-function/src/has-supports-at-rule-ancestor.ts
  plugins/postcss-oklab-function/src/index.ts
  plugins/postcss-oklab-function/src/modified-values.ts
  plugins/postcss-oklab-function/src/on-css-function.ts
  plugins/postcss-oklab-function/test/_import.mjs
  plugins/postcss-oklab-function/test/_require.cjs
  plugins/postcss-oklab-function/test/basic.css
  plugins/postcss-oklab-function/test/basic.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.display-p3-false.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.expect.css
  plugins/postcss-oklab-function/test/variables.css
  plugins/postcss-oklab-function/test/variables.expect.css
  plugins/postcss-oklab-function/test/variables.preserve-true.display-p3-false.expect.css
  plugins/postcss-oklab-function/test/variables.preserve-true.expect.css
  plugins/postcss-oklab-function/tsconfig.json
Labels: plugins/postcss-oklab-function

#246 postcss-progressive-custom-properties : use ast matching
  package-lock.json
  plugins/postcss-color-function/test/variables.preserve-true.expect.css
  plugins/postcss-oklab-function/test/variables.expect.css
  plugins/postcss-oklab-function/test/variables.preserve-true.display-p3-false.expect.css
  plugins/postcss-oklab-function/test/variables.preserve-true.expect.css
  plugins/postcss-progressive-custom-properties/CHANGELOG.md
  plugins/postcss-progressive-custom-properties/README.md
  plugins/postcss-progressive-custom-properties/generate/color.mjs
  plugins/postcss-progressive-custom-properties/generate/font-size.mjs
  plugins/postcss-progressive-custom-properties/generate/matcher-for-value.mjs
  plugins/postcss-progressive-custom-properties/generate/matchers.mjs
  plugins/postcss-progressive-custom-properties/package.json
  plugins/postcss-progressive-custom-properties/src/index.ts
  plugins/postcss-progressive-custom-properties/src/match.ts
  plugins/postcss-progressive-custom-properties/src/matchers.ts
  plugins/postcss-progressive-custom-properties/src/support-conditions-from-values.ts
  plugins/postcss-progressive-custom-properties/test/basic.css
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
  plugins/postcss-progressive-custom-properties/test/example.expect.css
Labels: plugins/postcss-color-function, plugins/postcss-progressive-custom-properties, plugins/postcss-oklab-function

#248 postcss-preset-env : website - system ui font
  sites/postcss-preset-env/src/components/BaseHead.astro
  sites/postcss-preset-env/src/styles/_fonts.css
  sites/postcss-preset-env/src/styles/_global.css
  sites/postcss-preset-env/src/styles/pages/_features.css
  sites/postcss-preset-env/src/styles/style.css
Labels: sites/postcss-preset-env

#249 PostCSS IC Unit
  .github/labeler.yml
  package-lock.json
  plugins/postcss-ic-unit/.gitignore
  plugins/postcss-ic-unit/.nvmrc
  plugins/postcss-ic-unit/.tape.mjs
  plugins/postcss-ic-unit/CHANGELOG.md
  plugins/postcss-ic-unit/INSTALL.md
  plugins/postcss-ic-unit/LICENSE.md
  plugins/postcss-ic-unit/README.md
  plugins/postcss-ic-unit/package.json
  plugins/postcss-ic-unit/src/has-supports-at-rule-ancestor.ts
  plugins/postcss-ic-unit/src/index.ts
  plugins/postcss-ic-unit/test/_import.mjs
  plugins/postcss-ic-unit/test/_require.cjs
  plugins/postcss-ic-unit/test/basic.css
  plugins/postcss-ic-unit/test/basic.expect.css
  plugins/postcss-ic-unit/test/basic.preserve-true.expect.css
  plugins/postcss-ic-unit/test/variables.css
  plugins/postcss-ic-unit/test/variables.expect.css
  plugins/postcss-ic-unit/test/variables.preserve-true.expect.css
  plugins/postcss-ic-unit/test/variables.preserve-true.progressive-false.expect.css
  plugins/postcss-ic-unit/tsconfig.json
  plugins/postcss-normalize-display-values/README.md
Labels: common-tools, plugins/postcss-normalize-display-values, plugins/postcss-ic-unit

#262 Clamp upgrading
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
Labels: plugin-packs/postcss-preset-env

#263 Astro workaround
  sites/postcss-preset-env/.gitignore
  sites/postcss-preset-env/netlify.toml
  sites/postcss-preset-env/package.json
  sites/postcss-preset-env/scripts/cssdb-version-generator.mjs
  sites/postcss-preset-env/src/pages/features.astro
Labels: sites/postcss-preset-env

#265 postcss-preset-env : website - design tokens
  sites/postcss-preset-env/src/components/CopyToClipboard.astro
  sites/postcss-preset-env/src/styles/_global.css
  sites/postcss-preset-env/src/styles/_nav.css
  sites/postcss-preset-env/src/styles/base/media-queries.css
  sites/postcss-preset-env/src/styles/base/utilities.css
  sites/postcss-preset-env/src/styles/base/variables.css
  sites/postcss-preset-env/src/styles/pages/_features.css
  sites/postcss-preset-env/src/styles/pages/_landing.css
  sites/postcss-preset-env/src/styles/pages/_playground.css
  sites/postcss-preset-env/src/styles/style.css
Labels: sites/postcss-preset-env

#264 postcss-unset-value
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/bin/new-plugin.mjs
  .github/labeler.yml
  package-lock.json
  packages/generate-test-cases/src/index.mjs
  plugins/postcss-unset-value/.gitignore
  plugins/postcss-unset-value/.nvmrc
  plugins/postcss-unset-value/.tape.mjs
  plugins/postcss-unset-value/CHANGELOG.md
  plugins/postcss-unset-value/INSTALL.md
  plugins/postcss-unset-value/LICENSE.md
  plugins/postcss-unset-value/README.md
  plugins/postcss-unset-value/generate/property-def.mjs
  plugins/postcss-unset-value/package.json
  plugins/postcss-unset-value/src/index.ts
  plugins/postcss-unset-value/src/property-def.ts
  plugins/postcss-unset-value/test/_import.mjs
  plugins/postcss-unset-value/test/_require.cjs
  plugins/postcss-unset-value/test/basic.css
  plugins/postcss-unset-value/test/basic.expect.css
  plugins/postcss-unset-value/test/basic.preserve.true.expect.css
  plugins/postcss-unset-value/test/example.css
  plugins/postcss-unset-value/test/example.expect.css
  plugins/postcss-unset-value/test/generated-value-cases.css
  plugins/postcss-unset-value/test/generated-value-cases.expect.css
  plugins/postcss-unset-value/tsconfig.json
Labels: common-tools, plugins/postcss-unset-value

#272 Removing Astro Workaround
  sites/postcss-preset-env/.gitignore
  sites/postcss-preset-env/package-lock.json
  sites/postcss-preset-env/package.json
  sites/postcss-preset-env/scripts/cssdb-version-generator.mjs
  sites/postcss-preset-env/src/components/FeatureListElement.astro
  sites/postcss-preset-env/src/components/FeatureNavElement.astro
  sites/postcss-preset-env/src/pages/features.astro
Labels: sites/postcss-preset-env

#276 css-has-pseudo : base36 encoding
  experimental/css-has-pseudo/CHANGELOG.md
  experimental/css-has-pseudo/src/browser.js
  experimental/css-has-pseudo/src/encode/decode.mjs
  experimental/css-has-pseudo/src/encode/encode.mjs
  experimental/css-has-pseudo/src/encode/extract.mjs
  experimental/css-has-pseudo/src/encode/test.mjs
  experimental/css-has-pseudo/src/index.ts
  experimental/css-has-pseudo/test/_browser.html
  experimental/css-has-pseudo/test/basic.expect.css
  experimental/css-has-pseudo/test/basic.preserve.expect.css
  experimental/css-has-pseudo/test/basic.specificity-matching-name.expect.css
  experimental/css-has-pseudo/test/browser.css
  experimental/css-has-pseudo/test/browser.expect.css
  experimental/css-has-pseudo/test/generated-selector-cases.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.after.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.after.preserve.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.before.expect.css
  experimental/css-has-pseudo/test/plugin-order-logical.before.preserve.expect.css
  experimental/css-has-pseudo/test/plugin-order-nesting.after.expect.css
  experimental/css-has-pseudo/test/plugin-order-nesting.after.preserve.expect.css
  experimental/css-has-pseudo/test/plugin-order-nesting.before.expect.css
  experimental/css-has-pseudo/test/plugin-order-nesting.before.preserve.expect.css
Labels: plugins/css-has-pseudo, experimental

#278 fix selector order in pseudo :is
  plugins/postcss-is-pseudo-class/.tape.mjs
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/src/split-selectors/compound-selector-order.ts
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-is-pseudo-class/test/generated-selector-class-function-cases.expect.css
  plugins/postcss-nesting/src/lib/merge-selectors/compound-selector-order.js
  plugins/postcss-nesting/test/basic.css
  plugins/postcss-nesting/test/basic.expect.css
  plugins/postcss-nesting/test/basic.no-is-pseudo-selector.expect.css
  plugins/postcss-pseudo-class-any-link/src/compound-selector-order.js
Labels: plugins/postcss-pseudo-class-any-link, plugins/postcss-nesting, plugins/postcss-is-pseudo-class
