Repository csstools/postcss-plugins, pull requests merged in 2023-07, with the labels that each got.

#1033 update powerless component handling to latest specification text
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/color-data.d.ts
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/src/functions/color-normalize-channel-values.ts
  packages/css-color-parser/src/functions/lab-normalize-channel-values.ts
  packages/css-color-parser/src/functions/lch-normalize-channel-values.ts
  packages/css-color-parser/src/functions/oklab-normalize-channel-values.ts
  packages/css-color-parser/src/functions/oklch-normalize-channel-values.ts
  packages/css-color-parser/src/functions/three-channel-space-separated.ts
  packages/css-color-parser/src/serialize/p3.ts
  packages/css-color-parser/src/serialize/rgb.ts
  packages/css-color-parser/test/basic/basic.mjs
  packages/css-color-parser/test/wpt/color-computed-lab.mjs
  plugins/postcss-color-mix-function/test/basic.expect.css
  plugins/postcss-color-mix-function/test/basic.preserve-true.expect.css
  plugins/postcss-color-mix-function/test/basic.with-cloned-rules.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.preserve-false.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.with-cloned-rules.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.preserve-false.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.preserve-true.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.preserve-true.progressive-false.expect.css
  plugins/postcss-lab-function/test/basic.expect.css
  plugins/postcss-lab-function/test/basic.preserve-true.expect.css
  plugins/postcss-lab-function/test/basic.with-cloned-rules.expect.css
  plugins/postcss-oklab-function/test/basic.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.expect.css
Labels: plugins/postcss-lab-function, common-tools, plugins/postcss-oklab-function, plugins/postcss-gradients-interpolation-method, plugins/postcss-color-mix-function

#1025 allow number values in `hwb` and use number values for RCS in `hwb` and `hsl`
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/src/functions/hwb-normalize-channel-values.ts
  packages/css-color-parser/test/basic/hwb.mjs
  packages/css-color-parser/test/basic/relative-color.mjs
  packages/css-color-parser/test/test.mjs
  packages/css-color-parser/test/wpt/color-computed-relative-color.mjs
  packages/css-color-parser/test/wpt/color-invalid-relative-color.mjs
Labels: common-tools

#1034 Update `css-color-parser` to latest specification
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/color-data.d.ts
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/src/functions/color-normalize-channel-values.ts
  packages/css-color-parser/src/functions/hwb-normalize-channel-values.ts
  packages/css-color-parser/src/functions/lab-normalize-channel-values.ts
  packages/css-color-parser/src/functions/lch-normalize-channel-values.ts
  packages/css-color-parser/src/functions/oklab-normalize-channel-values.ts
  packages/css-color-parser/src/functions/oklch-normalize-channel-values.ts
  packages/css-color-parser/src/functions/three-channel-space-separated.ts
  packages/css-color-parser/src/serialize/p3.ts
  packages/css-color-parser/src/serialize/rgb.ts
  packages/css-color-parser/test/basic/basic.mjs
  packages/css-color-parser/test/basic/hwb.mjs
  packages/css-color-parser/test/basic/relative-color.mjs
  packages/css-color-parser/test/test.mjs
  packages/css-color-parser/test/wpt/color-computed-lab.mjs
  packages/css-color-parser/test/wpt/color-computed-relative-color.mjs
  packages/css-color-parser/test/wpt/color-invalid-relative-color.mjs
  plugins/postcss-color-mix-function/test/basic.expect.css
  plugins/postcss-color-mix-function/test/basic.preserve-true.expect.css
  plugins/postcss-color-mix-function/test/basic.with-cloned-rules.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.preserve-false.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.with-cloned-rules.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.preserve-false.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.preserve-true.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.preserve-true.progressive-false.expect.css
  plugins/postcss-lab-function/test/basic.expect.css
  plugins/postcss-lab-function/test/basic.preserve-true.expect.css
  plugins/postcss-lab-function/test/basic.with-cloned-rules.expect.css
  plugins/postcss-oklab-function/test/basic.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.expect.css
Labels: plugins/postcss-lab-function, common-tools, plugins/postcss-oklab-function, plugins/postcss-gradients-interpolation-method, plugins/postcss-color-mix-function

#1012 Add `env` option to control setting the browserslist environment
  cli/csstools-cli/README.md
  cli/csstools-cli/dist/cli.cjs
  cli/csstools-cli/src/plugins/postcss-preset-env.ts
  e2e/browserslist/package-json/index.mjs
  e2e/browserslist/package-json/package.json
  e2e/browserslist/package-json/use-plugin-option.mjs
  e2e/package-lock.json
  e2e/postcss-cli/commonjs/package.json
  e2e/postcss-cli/esm/package.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/dist/options.d.ts
  plugin-packs/postcss-preset-env/src/index.ts
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugin-packs/postcss-preset-env/src/options.ts
Labels: plugin-packs/postcss-preset-env, cli, e2e

#1024 document prefered plugin order
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#1042 fix browserslist support queries
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/src/lib/browsers-with-supports-stats.mjs
  plugin-packs/postcss-preset-env/src/lib/format-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/get-options-for-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/get-unsupported-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugin-packs/postcss-preset-env/src/test/lib/get-unsupported-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/client-side.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/no-options.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/preserve.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/stage-0.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/vendor-implementations.mjs
  plugin-packs/postcss-preset-env/test/basic.supports-query.expect.css
  sites/postcss-preset-env/src/static/js/playground.js
Labels: plugin-packs/postcss-preset-env, sites/postcss-preset-env

#972 `css-tokenizer` : latest specification
  package-lock.json
  packages/css-calc/CHANGELOG.md
  packages/css-calc/dist/index.cjs
  packages/css-calc/dist/index.mjs
  packages/css-calc/src/util/minus-zero.ts
  packages/css-calc/test/additional/mod-rem-infinity.mjs
  packages/css-calc/test/postcss-calc/tests.mjs
  packages/css-calc/test/wpt/round-function.mjs
  packages/css-calc/test/wpt/signs-abs-computed.mjs
  packages/css-tokenizer/CHANGELOG.md
  packages/css-tokenizer/dist/checks/three-code-points-would-start-unicode-range.d.ts
  packages/css-tokenizer/dist/code-points/code-points.d.ts
  packages/css-tokenizer/dist/code-points/ranges.d.ts
  packages/css-tokenizer/dist/consume/unicode-range-token.d.ts
  packages/css-tokenizer/dist/index.cjs
  packages/css-tokenizer/dist/index.mjs
  packages/css-tokenizer/dist/interfaces/code-point-reader.d.ts
  packages/css-tokenizer/dist/interfaces/token.d.ts
  packages/css-tokenizer/dist/reader.d.ts
  packages/css-tokenizer/dist/tokenizer.d.ts
  packages/css-tokenizer/package.json
  packages/css-tokenizer/src/checks/matches-url-ident.ts
  packages/css-tokenizer/src/checks/three-code-points-would-start-unicode-range.ts
  packages/css-tokenizer/src/code-points/code-points.ts
  packages/css-tokenizer/src/code-points/ranges.ts
  packages/css-tokenizer/src/consume/escaped-code-point.ts
  packages/css-tokenizer/src/consume/hash-token.ts
  packages/css-tokenizer/src/consume/ident-like-token.ts
  packages/css-tokenizer/src/consume/numeric-token.ts
  packages/css-tokenizer/src/consume/string-token.ts
  packages/css-tokenizer/src/consume/unicode-range-token.ts
  packages/css-tokenizer/src/consume/url-token.ts
  packages/css-tokenizer/src/interfaces/code-point-reader.ts
  packages/css-tokenizer/src/interfaces/token.ts
  packages/css-tokenizer/src/reader.ts
  packages/css-tokenizer/src/tokenizer.ts
  packages/css-tokenizer/src/util/mutations.ts
  packages/css-tokenizer/test/code-points/code-points.mjs
  packages/css-tokenizer/test/code-points/ranges.mjs
  packages/css-tokenizer/test/complex/at-media-params.mjs
  packages/css-tokenizer/test/css-tokenizer-tests/test.mjs
  packages/css-tokenizer/test/fuzz/0001.mjs
  packages/css-tokenizer/test/test-reader.mjs
  packages/css-tokenizer/test/test.mjs
  packages/css-tokenizer/test/token/basic.mjs
  packages/css-tokenizer/test/token/numeric.mjs
  packages/css-tokenizer/test/token/unicode-range.mjs
  packages/css-tokenizer/test/wpt/decimal-points-in-numbers.mjs
  packages/css-tokenizer/test/wpt/inclusive-ranges.mjs
  packages/media-query-list-parser/test/cases/mf-range/0015.expect.json
  packages/media-query-list-parser/test/cases/specification-examples/0007.expect.json
  plugins/postcss-trigonometric-functions/test/basic.css
  plugins/postcss-trigonometric-functions/test/basic.expect.css
  plugins/postcss-trigonometric-functions/test/basic.preserve-true.expect.css
Labels: common-tools, plugins/postcss-trigonometric-functions

#1057 update cssdb
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.supports-query.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
Labels: plugin-packs/postcss-preset-env

#1058 update the site
  e2e/package-lock.json
  sites/package-lock.json
Labels: e2e

#1059 nesting: `@starting-style`
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/dist/index.cjs
  plugins/postcss-nesting/dist/index.mjs
  plugins/postcss-nesting/src/lib/valid-atrules.ts
  plugins/postcss-nesting/test/basic.css
  plugins/postcss-nesting/test/basic.expect.css
  plugins/postcss-nesting/test/basic.no-is-pseudo-selector.expect.css
Labels: plugins/postcss-nesting
