Repository csstools/postcss-plugins, pull requests merged in 2023-03, with the labels that each got.

#882 postcss-preset-env : improve debug output
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/src/log/helper.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/client-side.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/no-options.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/preserve.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/stage-0.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/vendor-implementations.mjs
Labels: plugin-packs/postcss-preset-env

#884 update dependencies
  .github/bin/install-and-test-all-packages.sh
  .github/bin/license/check-license.mjs
  .github/bin/list-workspaces/list-workspaces.mjs
  .github/bin/util/get-files.mjs
  .github/workflows/MAINTENANCE.md
  package-lock.json
  package.json
  plugins/css-has-pseudo/dist/browser-global.js.map
  plugins/css-has-pseudo/dist/browser.cjs.map
  plugins/css-has-pseudo/dist/browser.mjs.map
Labels: plugins/css-has-pseudo, common-tools

#890 update dependencies
  .github/bin/license/allowed.mjs
  .github/bin/release-plan/release-plan.mjs
  e2e/browserslist/package-json/index.mjs
  e2e/browserslist/package-json/package.json
  e2e/package-lock.json
  package-lock.json
  packages/postcss-tape/CHANGELOG.md
  packages/postcss-tape/package.json
  plugins/postcss-todo-or-die/.tape.mjs
  sites/package-lock.json
  sites/package.json
  sites/postcss-preset-env/package.json
Labels: common-tools, sites/postcss-preset-env, e2e

#891 update dependencies
  e2e/package-lock.json
  e2e/typescript/commonjs/package.json
  e2e/typescript/esm--node-next/package.json
  e2e/typescript/esm/package.json
  package-lock.json
  package.json
  sites/package-lock.json
  sites/postcss-preset-env/package.json
Labels: sites/postcss-preset-env, e2e

#894 selector-specificity : view-transition pseudos
  packages/selector-specificity/CHANGELOG.md
  packages/selector-specificity/dist/index.cjs
  packages/selector-specificity/dist/index.d.ts
  packages/selector-specificity/dist/index.mjs
  packages/selector-specificity/src/index.ts
  packages/selector-specificity/test/test.mjs
  packages/selector-specificity/test/tests-from-bramus-specificity.mjs
Labels: common-tools

#895 postcss-gradient-stop-increments
  experimental/postcss-gradient-stop-increments/.gitignore
  experimental/postcss-gradient-stop-increments/.nvmrc
  experimental/postcss-gradient-stop-increments/.tape.mjs
  experimental/postcss-gradient-stop-increments/CHANGELOG.md
  experimental/postcss-gradient-stop-increments/INSTALL.md
  experimental/postcss-gradient-stop-increments/LICENSE.md
  experimental/postcss-gradient-stop-increments/README.md
  experimental/postcss-gradient-stop-increments/dist/index.cjs
  experimental/postcss-gradient-stop-increments/dist/index.d.ts
  experimental/postcss-gradient-stop-increments/dist/index.mjs
  experimental/postcss-gradient-stop-increments/docs/README.md
  experimental/postcss-gradient-stop-increments/package.json
  experimental/postcss-gradient-stop-increments/src/index.ts
  experimental/postcss-gradient-stop-increments/test/_import.mjs
  experimental/postcss-gradient-stop-increments/test/_require.cjs
  experimental/postcss-gradient-stop-increments/test/basic.css
  experimental/postcss-gradient-stop-increments/test/basic.expect.css
  experimental/postcss-gradient-stop-increments/test/examples/example.css
  experimental/postcss-gradient-stop-increments/test/examples/example.expect.css
  experimental/postcss-gradient-stop-increments/test/examples/example.preserve-true.expect.css
  experimental/postcss-gradient-stop-increments/tsconfig.json
  package-lock.json
Labels: experimental

#899 packages & css-color-parser : improve docs and a few extra tests
  packages/cascade-layer-name-parser/README.md
  packages/color-helpers/README.md
  packages/css-calc/README.md
  packages/css-color-parser/README.md
  packages/css-color-parser/test/basic/color-function.mjs
  packages/css-color-parser/test/basic/color-mix-function.mjs
  packages/css-color-parser/test/test.mjs
  packages/css-parser-algorithms/README.md
  packages/css-tokenizer/README.md
  packages/media-query-list-parser/README.md
  packages/selector-specificity/README.md
Labels: common-tools

#902 update dependencies
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  plugins/postcss-design-tokens/dist/index.cjs
  plugins/postcss-design-tokens/dist/index.mjs
Labels: plugin-packs/postcss-preset-env, plugins/postcss-design-tokens

#903 `postcss-preset-env` : add `color-mix`
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/dist/plugins/plugins-options.d.ts
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/scripts/plugins-data.json
  plugin-packs/postcss-preset-env/src/lib/ids-by-execution-order.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-by-id.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-data.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-options.ts
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  rollup/configs/externals.mjs
Labels: plugin-packs/postcss-preset-env, common-tools

#904 add `color-mix` to the site in examples and the playground
  sites/package-lock.json
  sites/package.json
  sites/postcss-preset-env/index.njk
  sites/postcss-preset-env/package.json
  sites/postcss-preset-env/src/static/js/playground.js
Labels: sites/postcss-preset-env

#906 Update README.md
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#911 fix(README): link to css-has-pseudo plugin
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#915 add `@csstools/postcss-media-minmax` to `postcss-preset-env`
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/dist/plugins/plugins-options.d.ts
  plugin-packs/postcss-preset-env/dist/types/postcss-media-minmax/plugin-options.d.ts
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/scripts/plugins-data.json
  plugin-packs/postcss-preset-env/src/plugins/plugins-by-id.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-data.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-options.ts
  plugin-packs/postcss-preset-env/src/types/postcss-media-minmax/index.d.ts
  plugin-packs/postcss-preset-env/src/types/postcss-media-minmax/plugin-options.ts
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/postcss-color-mix-function/package.json
  plugins/postcss-media-queries-aspect-ratio-number-values/package.json
  plugins/postcss-scope-pseudo-class/package.json
  rollup/configs/externals.mjs
  sites/postcss-preset-env/src/static/js/playground.js
Labels: plugin-packs/postcss-preset-env, common-tools, sites/postcss-preset-env, plugins/postcss-scope-pseudo-class, plugins/media-queries-aspect-ratio-number-values, plugins/postcss-color-mix-function
