Repository csstools/postcss-plugins, pull requests merged in 2023-08, with the labels that each got.

#1066 Ensure `env` parameter is checked when building default options
  e2e/browserslist/package-json/index.mjs
  e2e/browserslist/package-json/package.json
  e2e/browserslist/package-json/use-plugin-option.mjs
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/src/lib/format-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/get-options-for-browsers-by-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugin-packs/postcss-preset-env/src/test/lib/format-staged-feature.mjs
Labels: plugin-packs/postcss-preset-env, e2e

#1067 add access checking to release planner
  .github/bin/release-plan/npm-can-publish.mjs
  .github/bin/release-plan/release-plan.mjs
Labels: common-tools

#1072 use faster fs methods
  .github/bin/format-package-json.mjs
  .github/bin/generate-docs/install.mjs
  .github/bin/generate-docs/readme.mjs
  .github/bin/license/check-license.mjs
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  package.json
  packages/media-query-list-parser/test/util/run-test-custom-media.mjs
  packages/media-query-list-parser/test/util/run-test.mjs
  packages/postcss-tape/dist/index.cjs
  packages/postcss-tape/dist/index.mjs
  packages/postcss-tape/src/index.ts
  rollup/default.mjs
Labels: common-tools

#1070 split release plan
  .github/bin/release-plan/commit.mjs
  .github/bin/release-plan/npm-can-publish.mjs
  .github/bin/release-plan/npm-whoami.mjs
  .github/bin/release-plan/prepare-current-release-plan.mjs
  .github/bin/release-plan/prepare-next-release-plan.mjs
  .github/bin/release-plan/release-plan.mjs
  .github/bin/release-plan/run-and-print-debug-on-fail.mjs
Labels: common-tools

#1062 display multiple suggestions when a config has an unknown feature
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugin-id-help.mjs
Labels: plugin-packs/postcss-preset-env

#1076 Fix typo
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#1080 fix module resolution
  plugins/postcss-design-tokens/.tape.mjs
  plugins/postcss-design-tokens/CHANGELOG.md
  plugins/postcss-design-tokens/README.md
  plugins/postcss-design-tokens/dist/index.cjs
  plugins/postcss-design-tokens/dist/index.mjs
  plugins/postcss-design-tokens/docs/README.md
  plugins/postcss-design-tokens/src/data-formats/parse-import.ts
  plugins/postcss-design-tokens/test/imported-double-slash.css
  plugins/postcss-design-tokens/test/imported-double-slash.expect.css
  plugins/postcss-design-tokens/test/imported.css
  plugins/postcss-global-data/.tape.mjs
  plugins/postcss-global-data/CHANGELOG.md
  plugins/postcss-global-data/dist/index.cjs
  plugins/postcss-global-data/dist/index.mjs
  plugins/postcss-global-data/src/parse-import.ts
Labels: plugins/postcss-design-tokens, plugins/postcss-global-data

#1081 `postcss-minify`
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-minify/.gitignore
  plugins/postcss-minify/.nvmrc
  plugins/postcss-minify/.tape.mjs
  plugins/postcss-minify/CHANGELOG.md
  plugins/postcss-minify/INSTALL.md
  plugins/postcss-minify/LICENSE.md
  plugins/postcss-minify/README.md
  plugins/postcss-minify/dist/index.cjs
  plugins/postcss-minify/dist/index.d.ts
  plugins/postcss-minify/dist/index.mjs
  plugins/postcss-minify/docs/README.md
  plugins/postcss-minify/package.json
  plugins/postcss-minify/src/index.ts
  plugins/postcss-minify/test/_import.mjs
  plugins/postcss-minify/test/_require.cjs
  plugins/postcss-minify/test/basic.css
  plugins/postcss-minify/test/basic.expect.css
  plugins/postcss-minify/test/bootstrap.css
  plugins/postcss-minify/test/bootstrap.expect.css
  plugins/postcss-minify/test/examples/example.css
  plugins/postcss-minify/test/examples/example.expect.css
  plugins/postcss-minify/test/examples/example.preserve-true.expect.css
  plugins/postcss-minify/test/preset-env-basic.css
  plugins/postcss-minify/test/preset-env-basic.expect.css
  plugins/postcss-minify/tsconfig.json
Labels: common-tools, plugins/postcss-minify

#1082 `postcss-rebase-url`
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-rebase-url/.gitignore
  plugins/postcss-rebase-url/.nvmrc
  plugins/postcss-rebase-url/.tape.mjs
  plugins/postcss-rebase-url/CHANGELOG.md
  plugins/postcss-rebase-url/INSTALL.md
  plugins/postcss-rebase-url/LICENSE.md
  plugins/postcss-rebase-url/README.md
  plugins/postcss-rebase-url/dist/index.cjs
  plugins/postcss-rebase-url/dist/index.d.ts
  plugins/postcss-rebase-url/dist/index.mjs
  plugins/postcss-rebase-url/dist/normalized-dir.d.ts
  plugins/postcss-rebase-url/dist/serialize-string.d.ts
  plugins/postcss-rebase-url/docs/README.md
  plugins/postcss-rebase-url/package.json
  plugins/postcss-rebase-url/src/index.ts
  plugins/postcss-rebase-url/src/normalized-dir.ts
  plugins/postcss-rebase-url/src/rebase.d.ts
  plugins/postcss-rebase-url/src/rebase.mjs
  plugins/postcss-rebase-url/src/serialize-string.ts
  plugins/postcss-rebase-url/test/_import.mjs
  plugins/postcss-rebase-url/test/_require.cjs
  plugins/postcss-rebase-url/test/basic.css
  plugins/postcss-rebase-url/test/basic.expect.css
  plugins/postcss-rebase-url/test/examples/example.css
  plugins/postcss-rebase-url/test/examples/example.expect.css
  plugins/postcss-rebase-url/test/examples/imports/basic.css
  plugins/postcss-rebase-url/test/images/green.png
  plugins/postcss-rebase-url/test/imports/basic.css
  plugins/postcss-rebase-url/test/imports/green.png
  plugins/postcss-rebase-url/test/unit/basic.mjs
  plugins/postcss-rebase-url/test/unit/ignored.mjs
  plugins/postcss-rebase-url/test/unit/index.mjs
  plugins/postcss-rebase-url/test/unit/unexpected-urls.mjs
  plugins/postcss-rebase-url/tsconfig.json
Labels: common-tools, plugins/postcss-rebase-url

#1091 css-color : bug fixes
  packages/color-helpers/CHANGELOG.md
  packages/color-helpers/dist/index.cjs
  packages/color-helpers/dist/index.mjs
  packages/color-helpers/src/conversions/srgb-to-hsl.ts
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/color-data.d.ts
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.d.ts
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/dist/serialize/oklch.d.ts
  packages/css-color-parser/dist/serialize/with-alpha.d.ts
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/src/functions/color-mix.ts
  packages/css-color-parser/src/index.ts
  packages/css-color-parser/src/serialize/oklch.ts
  packages/css-color-parser/src/serialize/p3.ts
  packages/css-color-parser/src/serialize/rgb.ts
  packages/css-color-parser/src/serialize/with-alpha.ts
  packages/css-color-parser/test/basic/color-mix-function-oklch.mjs
  packages/css-color-parser/test/basic/color-mix-function.mjs
  packages/css-color-parser/test/test.mjs
  packages/css-color-parser/test/util/serialize.mjs
  packages/css-color-parser/test/wpt/color-computed-color-mix-function.mjs
  plugins/postcss-gradients-interpolation-method/test/basic.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.preserve-false.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.with-cloned-rules.expect.css
Labels: common-tools, plugins/postcss-gradients-interpolation-method

#1092 `postcss-minify` : make it a bit faster and the output a bit smaller
  plugins/postcss-minify/.tape.mjs
  plugins/postcss-minify/README.md
  plugins/postcss-minify/dist/index.cjs
  plugins/postcss-minify/dist/index.mjs
  plugins/postcss-minify/src/index.ts
  plugins/postcss-minify/test/basic.css
  plugins/postcss-minify/test/basic.expect.css
  plugins/postcss-minify/test/bootstrap.expect.css
  plugins/postcss-minify/test/examples/example.css
  plugins/postcss-minify/test/examples/example.expect.css
  plugins/postcss-minify/test/examples/example.preserve-true.expect.css
  plugins/postcss-minify/test/preset-env-basic.expect.css
Labels: plugins/postcss-minify

#1097 css-color-parser : allow color channels to be normalized individually
  packages/css-color-parser/dist/functions/color-normalize-channel-values.d.ts
  packages/css-color-parser/dist/functions/hsl-normalize-channel-values.d.ts
  packages/css-color-parser/dist/functions/hwb-normalize-channel-values.d.ts
  packages/css-color-parser/dist/functions/lab-normalize-channel-values.d.ts
  packages/css-color-parser/dist/functions/lch-normalize-channel-values.d.ts
  packages/css-color-parser/dist/functions/normalize-channel-values.d.ts
  packages/css-color-parser/dist/functions/oklab-normalize-channel-values.d.ts
  packages/css-color-parser/dist/functions/oklch-normalize-channel-values.d.ts
  packages/css-color-parser/dist/functions/rgb-normalize-channel-values.d.ts
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/functions/color-normalize-channel-values.ts
  packages/css-color-parser/src/functions/color.ts
  packages/css-color-parser/src/functions/hsl-normalize-channel-values.ts
  packages/css-color-parser/src/functions/hwb-normalize-channel-values.ts
  packages/css-color-parser/src/functions/lab-normalize-channel-values.ts
  packages/css-color-parser/src/functions/lch-normalize-channel-values.ts
  packages/css-color-parser/src/functions/normalize-channel-values.ts
  packages/css-color-parser/src/functions/oklab-normalize-channel-values.ts
  packages/css-color-parser/src/functions/oklch-normalize-channel-values.ts
  packages/css-color-parser/src/functions/rgb-normalize-channel-values.ts
  packages/css-color-parser/src/functions/rgb.ts
  packages/css-color-parser/src/functions/three-channel-legacy-syntax.ts
  packages/css-color-parser/src/functions/three-channel-space-separated.ts
  packages/css-color-parser/test/wpt/color-mix-out-of-gamut.mjs
  packages/css-color-parser/test/wpt/index.mjs
Labels: common-tools
