Repository csstools/postcss-plugins, pull requests merged in 2023-06, with the labels that each got.

#993 fix `media-query-list-parser` walker for media feature values
  packages/media-query-list-parser/CHANGELOG.md
  packages/media-query-list-parser/dist/index.cjs
  packages/media-query-list-parser/dist/index.mjs
  packages/media-query-list-parser/dist/nodes/media-feature-value.d.ts
  packages/media-query-list-parser/dist/nodes/media-in-parens.d.ts
  packages/media-query-list-parser/src/nodes/media-feature-value.ts
  packages/media-query-list-parser/src/nodes/media-in-parens.ts
Labels: common-tools

#994 site : shareable playground
  sites/postcss-preset-env/src/static/js/playground.js
Labels: sites/postcss-preset-env

#995 Fix value calculation for `hue` components in relative color syntax.
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/test/basic/relative-color.mjs
  packages/css-color-parser/test/wpt/color-invalid-relative-color.mjs
  plugins/postcss-relative-color-syntax/CHANGELOG.md
  plugins/postcss-relative-color-syntax/test/basic.css
  plugins/postcss-relative-color-syntax/test/basic.preserve-true.expect.css
Labels: common-tools, plugins/postcss-relative-color-syntax

#997 `plugins-stylelint/no-at-nest-rule`
  .github/bin/format-package-json.mjs
  .github/bin/license/allowed.mjs
  .github/bin/license/check-license.mjs
  .github/bin/license/parse-license-field.mjs
  .github/labeler.yml
  .gitignore
  e2e/typescript/commonjs/tsconfig.json
  package-lock.json
  package.json
  plugins-stylelint/README.md
  plugins-stylelint/no-at-nest-rule/CHANGELOG.md
  plugins-stylelint/no-at-nest-rule/LICENSE
  plugins-stylelint/no-at-nest-rule/README.md
  plugins-stylelint/no-at-nest-rule/index.js
  plugins-stylelint/no-at-nest-rule/index.test.js
  plugins-stylelint/no-at-nest-rule/package.json
Labels: common-tools, e2e, stylelint-plugin

#1004 Fix building postcss-preset-env on Windows
  plugin-packs/postcss-preset-env/scripts/generate-plugins-data.mjs
Labels: plugin-packs/postcss-preset-env

#1005 On Windows, spawn npm with shell: true
  .github/bin/release-plan/commit.mjs
  .github/bin/release-plan/docs.mjs
  .github/bin/release-plan/npm-install.mjs
  .github/bin/release-plan/npm-publish.mjs
  .github/bin/release-plan/npm-version.mjs
Labels: common-tools

#1006 media queries : fix parsing of range queries with double equal signs
  packages/media-query-list-parser/CHANGELOG.md
  packages/media-query-list-parser/dist/index.cjs
  packages/media-query-list-parser/dist/index.mjs
  packages/media-query-list-parser/src/nodes/media-feature-comparison.ts
  packages/media-query-list-parser/test/cases/mf-range/0020.expect.json
  packages/media-query-list-parser/test/cases/mf-range/0020.mjs
  packages/media-query-list-parser/test/test.mjs
Labels: common-tools

#1008 Link to dependencies from changelogs
  .github/bin/release-plan/release-plan.mjs
Labels: common-tools

#1009 blog post : license change
  sites/postcss-preset-env/blog/license-change.md
Labels: sites/postcss-preset-env

#1010 Clarify add-to-changelog logic
  .github/bin/release-plan/add-to-changelog.mjs
Labels: common-tools

#1022 add `sourceIndices` helper function
  packages/css-parser-algorithms/CHANGELOG.md
  packages/css-parser-algorithms/dist/index.cjs
  packages/css-parser-algorithms/dist/index.d.ts
  packages/css-parser-algorithms/dist/index.mjs
  packages/css-parser-algorithms/dist/util/source-indices.d.ts
  packages/css-parser-algorithms/src/index.ts
  packages/css-parser-algorithms/src/util/source-indices.ts
  packages/css-parser-algorithms/test/cases/source-indices/0001.mjs
  packages/css-parser-algorithms/test/test.mjs
Labels: common-tools
