Repository csstools/postcss-plugins, pull requests merged in 2023-02, with the labels that each got.

#826 group support rules with the same params
  package-lock.json
  plugins/postcss-color-function/test/variables.preserve-true.expect.css
  plugins/postcss-ic-unit/test/variables.preserve-true.expect.css
  plugins/postcss-lab-function/test/variables.display-p3-false.preserve-true.expect.css
  plugins/postcss-lab-function/test/variables.expect.css
  plugins/postcss-oklab-function/test/variables.expect.css
  plugins/postcss-oklab-function/test/variables.preserve-true.display-p3-false.expect.css
  plugins/postcss-progressive-custom-properties/CHANGELOG.md
  plugins/postcss-progressive-custom-properties/dist/index.cjs
  plugins/postcss-progressive-custom-properties/dist/index.mjs
  plugins/postcss-progressive-custom-properties/src/index.ts
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
Labels: plugins/postcss-lab-function, plugins/postcss-color-function, plugins/postcss-progressive-custom-properties, plugins/postcss-oklab-function, plugins/postcss-ic-unit

#828 postcss-is-pseudo-class : fix `:not` pseudo interaction
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/postcss-import/styles.expect.css
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/dist/index.cjs
  plugins/postcss-is-pseudo-class/dist/index.mjs
  plugins/postcss-is-pseudo-class/dist/split-selectors/always-valid.d.ts
  plugins/postcss-is-pseudo-class/src/index.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/always-valid.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/split-selectors.ts
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.no-warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-is-pseudo-class/test/browser.expect.css
  plugins/postcss-is-pseudo-class/test/example.expect.css
  plugins/postcss-is-pseudo-class/test/generated-selector-class-function-cases.expect.css
  plugins/postcss-is-pseudo-class/test/pseudo-element.no-warning.expect.css
  plugins/postcss-is-pseudo-class/test/pseudo-element.warning.expect.css
Labels: plugin-packs/postcss-preset-env, plugins/postcss-is-pseudo-class

#830 bump site
  sites/postcss-preset-env/index.njk
  sites/postcss-preset-env/src/static/js/playground.js
Labels: sites/postcss-preset-env

#831 release plan : increment version from 0.0.0
  .github/bin/new-plugin.mjs
  .github/bin/release-plan/npm-version.mjs
Labels: common-tools

#809 todo-or-die
  package-lock.json
  plugins/postcss-todo-or-die/.gitignore
  plugins/postcss-todo-or-die/.nvmrc
  plugins/postcss-todo-or-die/.tape.mjs
  plugins/postcss-todo-or-die/CHANGELOG.md
  plugins/postcss-todo-or-die/INSTALL.md
  plugins/postcss-todo-or-die/LICENSE.md
  plugins/postcss-todo-or-die/README.md
  plugins/postcss-todo-or-die/dist/died.d.ts
  plugins/postcss-todo-or-die/dist/index.cjs
  plugins/postcss-todo-or-die/dist/index.d.ts
  plugins/postcss-todo-or-die/dist/index.mjs
  plugins/postcss-todo-or-die/dist/match/before-date.d.ts
  plugins/postcss-todo-or-die/dist/match/browserslist.d.ts
  plugins/postcss-todo-or-die/dist/match/if.d.ts
  plugins/postcss-todo-or-die/dist/match/not.d.ts
  plugins/postcss-todo-or-die/dist/parse/before-data.d.ts
  plugins/postcss-todo-or-die/dist/parse/browserslist.d.ts
  plugins/postcss-todo-or-die/dist/parse/if.d.ts
  plugins/postcss-todo-or-die/dist/parse/not.d.ts
  plugins/postcss-todo-or-die/docs/README.md
  plugins/postcss-todo-or-die/package.json
  plugins/postcss-todo-or-die/src/died.ts
  plugins/postcss-todo-or-die/src/index.ts
  plugins/postcss-todo-or-die/src/match/before-date.ts
  plugins/postcss-todo-or-die/src/match/browserslist.ts
  plugins/postcss-todo-or-die/src/match/if.ts
  plugins/postcss-todo-or-die/src/match/not.ts
  plugins/postcss-todo-or-die/src/parse/before-data.ts
  plugins/postcss-todo-or-die/src/parse/browserslist.ts
  plugins/postcss-todo-or-die/src/parse/if.ts
  plugins/postcss-todo-or-die/src/parse/not.ts
  plugins/postcss-todo-or-die/test/_import.mjs
  plugins/postcss-todo-or-die/test/_require.cjs
  plugins/postcss-todo-or-die/test/basic.css
  plugins/postcss-todo-or-die/test/basic.expect.css
  plugins/postcss-todo-or-die/test/before-date-001.css
  plugins/postcss-todo-or-die/test/before-date-001.expect.css
  plugins/postcss-todo-or-die/test/browserslist-001.css
  plugins/postcss-todo-or-die/test/browserslist-001.expect.css
  plugins/postcss-todo-or-die/test/examples/example.css
  plugins/postcss-todo-or-die/test/examples/example.expect.css
  plugins/postcss-todo-or-die/test/issue-open.css
  plugins/postcss-todo-or-die/test/issue-open.expect.css
  plugins/postcss-todo-or-die/test/keyword-001.css
  plugins/postcss-todo-or-die/test/keyword-001.expect.css
  plugins/postcss-todo-or-die/test/number-001.css
  plugins/postcss-todo-or-die/test/number-001.expect.css
  plugins/postcss-todo-or-die/test/number-002.css
  plugins/postcss-todo-or-die/test/number-002.expect.css
  plugins/postcss-todo-or-die/test/number-003.css
  plugins/postcss-todo-or-die/test/number-003.expect.css
  plugins/postcss-todo-or-die/test/number-004.css
  plugins/postcss-todo-or-die/test/number-004.expect.css
  plugins/postcss-todo-or-die/tsconfig.json
  rollup/configs/externals.mjs
Labels: common-tools

#839 custom-properties : do not apply fallback values when these contain unresolvable custom properties
  plugins/postcss-custom-properties/.tape.mjs
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/README.md
  plugins/postcss-custom-properties/dist/get-custom-properties-from-root.d.ts
  plugins/postcss-custom-properties/dist/index.cjs
  plugins/postcss-custom-properties/dist/index.mjs
  plugins/postcss-custom-properties/dist/is-var-function.d.ts
  plugins/postcss-custom-properties/dist/toposort.d.ts
  plugins/postcss-custom-properties/docs/README.md
  plugins/postcss-custom-properties/src/get-custom-properties-from-root.ts
  plugins/postcss-custom-properties/src/is-var-function.ts
  plugins/postcss-custom-properties/src/toposort.ts
  plugins/postcss-custom-properties/src/transform-properties.ts
  plugins/postcss-custom-properties/src/transform-value-ast.ts
  plugins/postcss-custom-properties/test/basic.expect.css
  plugins/postcss-custom-properties/test/basic.preserve.expect.css
  plugins/postcss-custom-properties/test/issue-838.css
  plugins/postcss-custom-properties/test/issue-838.expect.css
Labels: plugins/postcss-custom-properties

#841 PostCSS Global Data
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/bin/generate-docs/readme.mjs
  .github/labeler.yml
  package-lock.json
  plugins/postcss-global-data/.gitignore
  plugins/postcss-global-data/.nvmrc
  plugins/postcss-global-data/.tape.mjs
  plugins/postcss-global-data/CHANGELOG.md
  plugins/postcss-global-data/INSTALL.md
  plugins/postcss-global-data/LICENSE.md
  plugins/postcss-global-data/README.md
  plugins/postcss-global-data/dist/index.cjs
  plugins/postcss-global-data/dist/index.d.ts
  plugins/postcss-global-data/dist/index.mjs
  plugins/postcss-global-data/dist/parse-import.d.ts
  plugins/postcss-global-data/docs/README.md
  plugins/postcss-global-data/package.json
  plugins/postcss-global-data/src/index.ts
  plugins/postcss-global-data/src/parse-import.ts
  plugins/postcss-global-data/test/_import.mjs
  plugins/postcss-global-data/test/_require.cjs
  plugins/postcss-global-data/test/basic.css
  plugins/postcss-global-data/test/basic.expect.css
  plugins/postcss-global-data/test/fixtures/fixture.css
  plugins/postcss-global-data/tsconfig.json
  rollup/configs/externals.mjs
Labels: common-tools, plugins/postcss-global-data

#842 fix exceptions from missing graph nodes
  .github/bin/util/toposort.mjs
  plugins/postcss-custom-media/CHANGELOG.md
  plugins/postcss-custom-media/dist/index.cjs
  plugins/postcss-custom-media/dist/index.mjs
  plugins/postcss-custom-media/src/toposort.ts
  plugins/postcss-custom-media/test/basic.css
  plugins/postcss-custom-media/test/basic.with-cloned-declarations.expect.css
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/dist/index.cjs
  plugins/postcss-custom-properties/dist/index.mjs
  plugins/postcss-custom-properties/src/toposort.ts
  plugins/postcss-custom-properties/test/basic.css
  plugins/postcss-custom-properties/test/basic.expect.css
  plugins/postcss-custom-properties/test/basic.preserve.expect.css
Labels: plugins/postcss-custom-media, plugins/postcss-custom-properties, common-tools

#843 Adding CSS Modules disclaimer to custom-media
  plugins/postcss-custom-media/README.md
  plugins/postcss-custom-media/docs/README.md
  plugins/postcss-custom-properties/README.md
  plugins/postcss-custom-properties/docs/README.md
  plugins/postcss-custom-selectors/README.md
  plugins/postcss-custom-selectors/docs/README.md
Labels: plugins/postcss-custom-media, plugins/postcss-custom-properties, plugins/postcss-custom-selectors

#846 postcss-global-data : set postcss 'from' option
  e2e/browserslist/package-json/index.mjs
  e2e/interop/custom-media--design-tokens--global-data/.gitignore
  e2e/interop/custom-media--design-tokens--global-data/.nvmrc
  e2e/interop/custom-media--design-tokens--global-data/expect.css
  e2e/interop/custom-media--design-tokens--global-data/media-queries.css
  e2e/interop/custom-media--design-tokens--global-data/package.json
  e2e/interop/custom-media--design-tokens--global-data/postcss.config.mjs
  e2e/interop/custom-media--design-tokens--global-data/result.css
  e2e/interop/custom-media--design-tokens--global-data/style.css
  e2e/interop/custom-media--design-tokens--global-data/test.mjs
  e2e/interop/custom-media--design-tokens--global-data/tokens.json
  e2e/package-lock.json
  e2e/package.json
  plugins/postcss-global-data/CHANGELOG.md
  plugins/postcss-global-data/dist/index.cjs
  plugins/postcss-global-data/dist/index.mjs
  plugins/postcss-global-data/dist/parse-import.d.ts
  plugins/postcss-global-data/src/index.ts
  plugins/postcss-global-data/src/parse-import.ts
Labels: e2e, plugins/postcss-global-data

#847 Blog post: CSS Nesting updates
  sites/postcss-preset-env/.eleventy.js
  sites/postcss-preset-env/_includes/layouts/base.njk
  sites/postcss-preset-env/_includes/layouts/blog.njk
  sites/postcss-preset-env/blog/upcoming-changes-css-nesting.md
  sites/postcss-preset-env/src/static/css/pages/_blog.css
Labels: sites/postcss-preset-env

#849 add docs for stylelint rule syntax
  plugins/postcss-conditional-values/README.md
  plugins/postcss-conditional-values/docs/README.md
  plugins/postcss-design-tokens/README.md
  plugins/postcss-design-tokens/docs/README.md
Labels: plugins/postcss-design-tokens, plugins/postcss-conditional-values

#850 Adding RSS feed to the blog
  sites/package-lock.json
  sites/postcss-preset-env/.eleventy.js
  sites/postcss-preset-env/feed/feed.njk
  sites/postcss-preset-env/netlify.toml
  sites/postcss-preset-env/package.json
Labels: sites/postcss-preset-env

#851 fix file watching in postcss cli
  e2e/interop/custom-media--design-tokens--global-data/package.json
  plugins/postcss-design-tokens/CHANGELOG.md
  plugins/postcss-design-tokens/dist/data-formats/parse-import.d.ts
  plugins/postcss-design-tokens/dist/index.cjs
  plugins/postcss-design-tokens/dist/index.mjs
  plugins/postcss-design-tokens/src/data-formats/parse-import.ts
  plugins/postcss-design-tokens/src/index.ts
  plugins/postcss-global-data/CHANGELOG.md
  plugins/postcss-global-data/dist/index.cjs
  plugins/postcss-global-data/dist/index.mjs
  plugins/postcss-global-data/dist/parse-import.d.ts
  plugins/postcss-global-data/src/index.ts
  plugins/postcss-global-data/src/parse-import.ts
Labels: plugins/postcss-design-tokens, e2e, plugins/postcss-global-data

#854 postcss-text-decoration-shorthand: set preserve default to true
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugins/postcss-text-decoration-shorthand/.tape.mjs
  plugins/postcss-text-decoration-shorthand/CHANGELOG.md
  plugins/postcss-text-decoration-shorthand/README.md
  plugins/postcss-text-decoration-shorthand/dist/index.cjs
  plugins/postcss-text-decoration-shorthand/dist/index.d.ts
  plugins/postcss-text-decoration-shorthand/dist/index.mjs
  plugins/postcss-text-decoration-shorthand/docs/README.md
  plugins/postcss-text-decoration-shorthand/src/index.ts
  plugins/postcss-text-decoration-shorthand/test/basic.autoprefixer.preserve-false.expect.css
  plugins/postcss-text-decoration-shorthand/test/basic.expect.css
  plugins/postcss-text-decoration-shorthand/test/basic.preserve-false.expect.css
  plugins/postcss-text-decoration-shorthand/test/examples/example.expect.css
  plugins/postcss-text-decoration-shorthand/test/examples/example.preserve-false.expect.css
Labels: plugin-packs/postcss-preset-env, plugins/postcss-text-decoration-shorthand

#855 update dependencies
  e2e/browserslist/package-json/package.json
  e2e/package-lock.json
  package-lock.json
  sites/package-lock.json
  sites/postcss-preset-env/src/static/css/pages/_playground.css
Labels: sites/postcss-preset-env, e2e

#856 css-tokenizer : fix `isToken()`
  packages/css-tokenizer/CHANGELOG.md
  packages/css-tokenizer/dist/index.cjs
  packages/css-tokenizer/dist/index.mjs
  packages/css-tokenizer/src/interfaces/token.ts
  packages/css-tokenizer/test/token/is-token.mjs
Labels: common-tools

#853 postcss-nesting : ampersand everywhere and mixin related fixes
  plugins/postcss-nesting/.tape.mjs
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/dist/index.cjs
  plugins/postcss-nesting/dist/index.mjs
  plugins/postcss-nesting/dist/lib/ampersand-to-scope.d.ts
  plugins/postcss-nesting/src/index.ts
  plugins/postcss-nesting/src/lib/ampersand-to-scope.ts
  plugins/postcss-nesting/src/lib/group-declarations.ts
  plugins/postcss-nesting/test/ampersand-everywhere.css
  plugins/postcss-nesting/test/ampersand-everywhere.expect.css
  plugins/postcss-nesting/test/decl-order.css
  plugins/postcss-nesting/test/decl-order.expect.css
  plugins/postcss-nesting/test/ignore.expect.css
  plugins/postcss-nesting/test/ignore.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/mixin-declaration.expect.css
  plugins/postcss-nesting/test/mixin-declaration.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/spec-examples.expect.css
  plugins/postcss-nesting/test/spec-examples.no-is-pseudo-selector.expect.css
Labels: plugins/postcss-nesting

#857 release-plan : add a bit more feedback
  .github/bin/release-plan/release-plan.mjs
Labels: common-tools

#859 Adding support for max/min-inline/block-size on logical
  plugins/postcss-logical/CHANGELOG.md
  plugins/postcss-logical/README.md
  plugins/postcss-logical/dist/index.cjs
  plugins/postcss-logical/dist/index.mjs
  plugins/postcss-logical/src/index.ts
  plugins/postcss-logical/src/lib/transform-logical-size.ts
  plugins/postcss-logical/test/examples/example.chinese.expect.css
  plugins/postcss-logical/test/examples/example.css
  plugins/postcss-logical/test/examples/example.expect.css
  plugins/postcss-logical/test/logical-size.chinese.expect.css
  plugins/postcss-logical/test/logical-size.css
  plugins/postcss-logical/test/logical-size.expect.css
Labels: plugins/postcss-logical

#861 postcss-nesting : better handling of nested selectors that begin with a letter
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/dist/index.cjs
  plugins/postcss-nesting/dist/index.mjs
  plugins/postcss-nesting/src/lib/merge-selectors/merge-selectors.ts
  plugins/postcss-nesting/src/lib/nest-rule-within-rule.ts
  plugins/postcss-nesting/src/lib/rule-within-rule.ts
  plugins/postcss-nesting/test/ignore.expect.css
  plugins/postcss-nesting/test/ignore.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/invalid-selector.expect.css
Labels: plugins/postcss-nesting

#862 postcss-preset-env : improve docs for enableClientSidePolyfills
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#864 [postcss-global-data] Fix type for files option
  plugins/postcss-global-data/CHANGELOG.md
  plugins/postcss-global-data/dist/index.d.ts
  plugins/postcss-global-data/src/index.ts
Labels: plugins/postcss-global-data

#867 update dependencies
  e2e/package-lock.json
  package-lock.json
  plugins/css-blank-pseudo/dist/browser-global.js.map
  plugins/css-blank-pseudo/dist/browser.cjs.map
  plugins/css-blank-pseudo/dist/browser.mjs.map
  plugins/css-has-pseudo/dist/browser-global.js.map
  plugins/css-has-pseudo/dist/browser.cjs.map
  plugins/css-has-pseudo/dist/browser.mjs.map
  plugins/css-prefers-color-scheme/dist/browser-global.js.map
  plugins/css-prefers-color-scheme/dist/browser.cjs.map
  plugins/css-prefers-color-scheme/dist/browser.mjs.map
  plugins/postcss-focus-within/dist/browser-global.js.map
  plugins/postcss-focus-within/dist/browser.cjs.map
  plugins/postcss-focus-within/dist/browser.mjs.map
  sites/package-lock.json
Labels: plugins/css-has-pseudo, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/css-prefers-color-scheme, e2e

#868 mention restriction about nested rules starting with an identifier
  plugins/postcss-nesting/README.md
  plugins/postcss-nesting/docs/README.md
Labels: plugins/postcss-nesting

#871 custom-properties : fix exception on chained declarations
  plugins/postcss-custom-properties/.tape.mjs
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/dist/index.cjs
  plugins/postcss-custom-properties/dist/index.mjs
  plugins/postcss-custom-properties/src/transform-value-ast.ts
  plugins/postcss-custom-properties/test/chained.css
  plugins/postcss-custom-properties/test/chained.expect.css
Labels: plugins/postcss-custom-properties

#866 css tokenizer : helper function
  packages/css-tokenizer/CHANGELOG.md
  packages/css-tokenizer/dist/index.cjs
  packages/css-tokenizer/dist/index.d.ts
  packages/css-tokenizer/dist/index.mjs
  packages/css-tokenizer/dist/tokenizer.d.ts
  packages/css-tokenizer/src/index.ts
  packages/css-tokenizer/src/tokenizer.ts
  packages/css-tokenizer/test/token/basic.mjs
Labels: common-tools

#872 css-calc : abstract some conditions
  .github/labeler.yml
  packages/css-calc/dist/index.cjs
  packages/css-calc/dist/index.mjs
  packages/css-calc/dist/util/kind-of-number.d.ts
  packages/css-calc/src/functions/abs.ts
  packages/css-calc/src/functions/atan2.ts
  packages/css-calc/src/functions/clamp.ts
  packages/css-calc/src/functions/cos.ts
  packages/css-calc/src/functions/hypot.ts
  packages/css-calc/src/functions/log.ts
  packages/css-calc/src/functions/max.ts
  packages/css-calc/src/functions/min.ts
  packages/css-calc/src/functions/mod.ts
  packages/css-calc/src/functions/pow.ts
  packages/css-calc/src/functions/rem.ts
  packages/css-calc/src/functions/round.ts
  packages/css-calc/src/functions/sign.ts
  packages/css-calc/src/functions/sin.ts
  packages/css-calc/src/functions/tan.ts
  packages/css-calc/src/operation/unary.ts
  packages/css-calc/src/util/kind-of-number.ts
Labels: common-tools

#873 Announcing releases on discord
  .github/bin/release-plan/discord-announce.mjs
  .github/bin/release-plan/release-plan.mjs
Labels: common-tools

#874 postcss-trigonometric-functions : changelog
  plugins/postcss-trigonometric-functions/CHANGELOG.md
  plugins/postcss-trigonometric-functions/test/basic.css
  plugins/postcss-trigonometric-functions/test/basic.expect.css
  plugins/postcss-trigonometric-functions/test/basic.preserve-true.expect.css
Labels: plugins/postcss-trigonometric-functions

#875 css-calc : blog post
  packages/css-calc/README.md
  sites/package-lock.json
  sites/postcss-preset-env/blog/can-use-boolean-custom-media.md
  sites/postcss-preset-env/blog/css-calc-v1.0.0.md
  sites/postcss-preset-env/blog/upcoming-changes-css-nesting.md
  sites/postcss-preset-env/package.json
  sites/postcss-preset-env/rollup.config.mjs
  sites/postcss-preset-env/src/static/js/blog_calc_2023_02_21.js
Labels: common-tools, sites/postcss-preset-env

#878 update dependencies
  e2e/package-lock.json
  package-lock.json
  plugins/css-blank-pseudo/dist/browser-global.js.map
  plugins/css-blank-pseudo/dist/browser.cjs.map
  plugins/css-blank-pseudo/dist/browser.mjs.map
  plugins/css-has-pseudo/dist/browser-global.js.map
  plugins/css-has-pseudo/dist/browser.cjs.map
  plugins/css-has-pseudo/dist/browser.mjs.map
  plugins/postcss-design-tokens/dist/index.cjs
  plugins/postcss-focus-within/dist/browser-global.js.map
  plugins/postcss-focus-within/dist/browser.cjs.map
  plugins/postcss-focus-within/dist/browser.mjs.map
  sites/package-lock.json
Labels: plugins/css-has-pseudo, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-design-tokens, e2e
