Repository csstools/postcss-plugins, pull requests merged in 2023-04, with the labels that each got.

#916 Styles and Suggestions
  sites/postcss-preset-env/blog/postcss-color-mix-function.md
  sites/postcss-preset-env/src/static/css/base/variables.css
  sites/postcss-preset-env/src/static/js/blog_color_mix_2023_03_27.js
Labels: sites/postcss-preset-env

#917 update the cli and dependencies
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/README.md
  cli/csstools-cli/dist/cli.cjs
  cli/csstools-cli/package.json
  cli/csstools-cli/src/cli.ts
  cli/csstools-cli/src/plugins/postcss-color-mix-function.ts
  cli/csstools-cli/src/plugins/postcss-gradients-interpolation-method.ts
  cli/csstools-cli/src/plugins/postcss-media-minmax.ts
  cli/csstools-cli/src/plugins/postcss-media-queries-aspect-ratio-number-values.ts
  cli/csstools-cli/src/plugins/postcss-nested-calc.ts
  cli/csstools-cli/src/plugins/postcss-scope-pseudo-class.ts
  cli/csstools-cli/src/plugins/postcss-text-decoration-shorthand.ts
  e2e/package-lock.json
  package-lock.json
  plugins/postcss-text-decoration-shorthand/CHANGELOG.md
  plugins/postcss-text-decoration-shorthand/package.json
  sites/package-lock.json
  sites/package.json
  sites/postcss-preset-env/package.json
Labels: cli, sites/postcss-preset-env, plugins/postcss-text-decoration-shorthand, e2e

#905 css-color-parser : blog post
  sites/package-lock.json
  sites/postcss-preset-env/blog/css-calc-v1.0.0.md
  sites/postcss-preset-env/blog/css-color-parser-v1.0.0.md
  sites/postcss-preset-env/blog/postcss-color-mix-function.md
  sites/postcss-preset-env/package.json
  sites/postcss-preset-env/rollup.config.mjs
  sites/postcss-preset-env/src/static/css/_global.css
  sites/postcss-preset-env/src/static/css/base/variables.css
  sites/postcss-preset-env/src/static/js/blog_color_mix_2023_03_27.js
  sites/postcss-preset-env/src/static/js/blog_color_parser_2023_03_27.js
Labels: sites/postcss-preset-env

#919 improve detection of calc expressions
  packages/css-calc/CHANGELOG.md
  packages/css-calc/dist/index.cjs
  packages/css-calc/dist/index.d.ts
  packages/css-calc/dist/index.mjs
  packages/css-calc/src/functions/cos.ts
  packages/css-calc/src/functions/sin.ts
  packages/css-calc/src/functions/tan.ts
  packages/css-calc/src/index.ts
  packages/css-calc/test/basic/test.mjs
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/functions/hsl.d.ts
  packages/css-color-parser/dist/functions/rgb.d.ts
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/functions/color-mix.ts
  packages/css-color-parser/src/functions/hsl.ts
  packages/css-color-parser/src/functions/rgb.ts
  packages/css-color-parser/src/functions/three-channel-legacy-syntax.ts
  packages/css-color-parser/src/functions/three-channel-space-separated.ts
  packages/css-color-parser/test/basic/basic.mjs
  packages/media-query-list-parser/CHANGELOG.md
  packages/media-query-list-parser/dist/index.cjs
  packages/media-query-list-parser/dist/index.mjs
  packages/media-query-list-parser/src/util/component-value-is.ts
  packages/media-query-list-parser/test/cases/mf-range/0016.expect.json
  packages/media-query-list-parser/test/cases/mf-range/0016.mjs
  packages/media-query-list-parser/test/test.mjs
  plugins/postcss-media-minmax/CHANGELOG.md
  plugins/postcss-media-minmax/dist/index.cjs
  plugins/postcss-media-minmax/dist/index.mjs
  plugins/postcss-media-minmax/src/transform-single-pair.ts
  plugins/postcss-media-minmax/test/calc.css
  plugins/postcss-media-minmax/test/calc.expect.css
Labels: common-tools, plugins/postcss-media-minmax

#924 improve CI
  .github/bin/list-workspaces/list-workspaces.mjs
  .github/bin/modified-workspaces/modified-workspaces.mjs
  .github/workflows/test.yml
Labels: common-tools

#927 update dependencies
  package-lock.json
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
Labels: plugin-packs/postcss-preset-env

#923 is-pseudo : handle more complex selector patterns
  plugins/postcss-is-pseudo-class/.tape.mjs
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/dist/index.cjs
  plugins/postcss-is-pseudo-class/dist/index.mjs
  plugins/postcss-is-pseudo-class/dist/split-selectors/complex/is-pseudo-in-first-compound.d.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex/child-adjacent-child.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/complex/is-pseudo-in-first-compound.ts
  plugins/postcss-is-pseudo-class/src/split-selectors/compound-selector-order.ts
  plugins/postcss-is-pseudo-class/test/basic.css
  plugins/postcss-is-pseudo-class/test/basic.does-not-exist.expect.css
  plugins/postcss-is-pseudo-class/test/basic.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.no-warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.oncomplex.warning.expect.css
  plugins/postcss-is-pseudo-class/test/basic.preserve.expect.css
  plugins/postcss-is-pseudo-class/test/basic.with-cloned-declarations.expect.css
  plugins/postcss-is-pseudo-class/test/compound-after-complex-is.css
  plugins/postcss-is-pseudo-class/test/compound-after-complex-is.expect.css
Labels: plugins/postcss-is-pseudo-class

#921 add detection for `env()` functions
  packages/media-query-list-parser/CHANGELOG.md
  packages/media-query-list-parser/dist/index.cjs
  packages/media-query-list-parser/dist/index.mjs
  packages/media-query-list-parser/dist/util/component-value-is.d.ts
  packages/media-query-list-parser/src/nodes/media-feature-value.ts
  packages/media-query-list-parser/src/util/component-value-is.ts
  packages/media-query-list-parser/test/cases/mf-plain/0009.expect.json
  packages/media-query-list-parser/test/cases/mf-plain/0009.mjs
  packages/media-query-list-parser/test/cases/mf-range/0017.expect.json
  packages/media-query-list-parser/test/cases/mf-range/0017.mjs
  packages/media-query-list-parser/test/test.mjs
  plugins/postcss-media-minmax/.tape.mjs
  plugins/postcss-media-minmax/dist/index.cjs
  plugins/postcss-media-minmax/dist/index.mjs
  plugins/postcss-media-minmax/src/transform-single-pair.ts
  plugins/postcss-media-minmax/test/env.css
  plugins/postcss-media-minmax/test/env.expect.css
Labels: common-tools, plugins/postcss-media-minmax

#918 postcss-gradients-interpolation-method : fix same color interpolation
  plugins/postcss-gradients-interpolation-method/CHANGELOG.md
  plugins/postcss-gradients-interpolation-method/dist/index.cjs
  plugins/postcss-gradients-interpolation-method/dist/index.mjs
  plugins/postcss-gradients-interpolation-method/src/color-stop-list.ts
  plugins/postcss-gradients-interpolation-method/test/basic.css
  plugins/postcss-gradients-interpolation-method/test/basic.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.preserve-false.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.with-cloned-rules.expect.css
Labels: plugins/postcss-gradients-interpolation-method

#938 add changelog edits to release plan
  .github/bin/release-plan/add-to-changelog.mjs
  .github/bin/release-plan/commit.mjs
  .github/bin/release-plan/discord-announce.mjs
  .github/bin/release-plan/release-plan.mjs
Labels: common-tools

#939 css-tokenizer : documentation
  packages/css-tokenizer/CHANGELOG.md
  packages/css-tokenizer/README.md
Labels: common-tools

#941 css-has-pseudo : document performance implications
  plugins/css-has-pseudo/README.md
  plugins/css-has-pseudo/docs/README.md
Labels: plugins/css-has-pseudo

#947 logical properties : automatic test
  package-lock.json
  plugin-packs/postcss-preset-env/.tape.mjs
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/scripts/update-logical-properties-test.mjs
  plugin-packs/postcss-preset-env/test/logical-properties.css
  plugin-packs/postcss-preset-env/test/logical-properties.expect.css
Labels: plugin-packs/postcss-preset-env

#949 gradient interpolation method : fix infinite loop
  plugins/postcss-gradients-interpolation-method/CHANGELOG.md
  plugins/postcss-gradients-interpolation-method/dist/index.cjs
  plugins/postcss-gradients-interpolation-method/dist/index.mjs
  plugins/postcss-gradients-interpolation-method/src/is-gradient.ts
  plugins/postcss-gradients-interpolation-method/src/modify-gradient-component-values.ts
  plugins/postcss-gradients-interpolation-method/test/basic.css
  plugins/postcss-gradients-interpolation-method/test/basic.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.preserve-false.expect.css
  plugins/postcss-gradients-interpolation-method/test/basic.with-cloned-rules.expect.css
Labels: plugins/postcss-gradients-interpolation-method

#950 postcss-debug-logger
  .github/labeler.yml
  package-lock.json
  package.json
  plugins/postcss-debug-logger/.gitignore
  plugins/postcss-debug-logger/.nvmrc
  plugins/postcss-debug-logger/.tape.mjs
  plugins/postcss-debug-logger/CHANGELOG.md
  plugins/postcss-debug-logger/INSTALL.md
  plugins/postcss-debug-logger/LICENSE.md
  plugins/postcss-debug-logger/README.md
  plugins/postcss-debug-logger/dist/index.cjs
  plugins/postcss-debug-logger/dist/index.d.ts
  plugins/postcss-debug-logger/dist/index.mjs
  plugins/postcss-debug-logger/docs/README.md
  plugins/postcss-debug-logger/package.json
  plugins/postcss-debug-logger/src/index.ts
  plugins/postcss-debug-logger/test/_import.mjs
  plugins/postcss-debug-logger/test/_require.cjs
  plugins/postcss-debug-logger/test/basic.css
  plugins/postcss-debug-logger/test/basic.expect.css
  plugins/postcss-debug-logger/test/document.expect.html
  plugins/postcss-debug-logger/test/document.html
  plugins/postcss-debug-logger/tsconfig.json
Labels: common-tools

#943 clarify browser polyfills
  plugins/css-blank-pseudo/README.md
  plugins/css-blank-pseudo/docs/README.md
  plugins/css-has-pseudo/README.md
  plugins/css-has-pseudo/docs/README.md
  plugins/css-prefers-color-scheme/README.md
  plugins/css-prefers-color-scheme/docs/README.md
  plugins/postcss-focus-visible/README.md
  plugins/postcss-focus-visible/docs/README.md
  plugins/postcss-focus-within/README.md
  plugins/postcss-focus-within/docs/README.md
Labels: plugins/css-has-pseudo, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-focus-visible, plugins/css-prefers-color-scheme

#952 postcss-preset-env : plugin order
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/src/lib/ids-by-execution-order.mjs
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
Labels: plugin-packs/postcss-preset-env
