Repository csstools/postcss-plugins, pull requests merged in 2023-01, with the labels that each got.

#768 reduce `CssSyntaxError` log size
  packages/postcss-tape/dist/index.cjs
  packages/postcss-tape/dist/index.mjs
  packages/postcss-tape/dist/reduce-css-syntax-error.d.ts
  packages/postcss-tape/src/index.ts
  packages/postcss-tape/src/reduce-css-syntax-error.ts
Labels: common-tools

#771 update dependencies
  e2e/package-lock.json
  sites/postcss-preset-env/package-lock.json
  sites/postcss-preset-env/package.json
Labels: sites/postcss-preset-env

#772 site : update download count
  sites/postcss-preset-env/index.njk
Labels: sites/postcss-preset-env

#773 feature/logical-revamp-v8 : feedback
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/css-has-pseudo/test/plugin-order-logical.after.preserve.expect.css
  plugins/css-has-pseudo/test/plugin-order-logical.before.preserve.expect.css
  plugins/postcss-logical/dist/index.cjs
  plugins/postcss-logical/dist/index.mjs
  plugins/postcss-logical/dist/lib/clone-declaration.d.ts
  plugins/postcss-logical/src/index.ts
  plugins/postcss-logical/src/lib/clone-declaration.ts
  plugins/postcss-logical/src/lib/transform-borders.ts
  plugins/postcss-logical/src/lib/transform-inset.ts
  plugins/postcss-logical/src/lib/transform-logical-size.ts
  plugins/postcss-logical/src/lib/transform-resize.ts
  plugins/postcss-logical/src/lib/transform-side.ts
  plugins/postcss-logical/src/lib/transform-text-align.ts
  plugins/postcss-logical/src/lib/transform-value.ts
  plugins/postcss-logical/src/lib/types.ts
  plugins/postcss-logical/src/utils/parse-value-couple.ts
  plugins/postcss-logical/test/offsets.chinese.expect.css
  plugins/postcss-logical/test/offsets.css
  plugins/postcss-logical/test/offsets.expect.css
Labels: plugins/css-has-pseudo, plugins/postcss-logical, plugin-packs/postcss-preset-env

#775 add a few abstract tests with various configs
  plugins/postcss-logical/.tape.mjs
  plugins/postcss-logical/test/abstract.bt.expect.css
  plugins/postcss-logical/test/abstract.chinese.expect.css
  plugins/postcss-logical/test/abstract.css
  plugins/postcss-logical/test/abstract.expect.css
  plugins/postcss-logical/test/abstract.rtl-and-bt.expect.css
  plugins/postcss-logical/test/abstract.rtl.expect.css
Labels: plugins/postcss-logical

#776 logical : border radius
  plugins/postcss-logical/dist/index.cjs
  plugins/postcss-logical/dist/index.mjs
  plugins/postcss-logical/dist/lib/transform-borders.d.ts
  plugins/postcss-logical/src/index.ts
  plugins/postcss-logical/src/lib/transform-borders.ts
  plugins/postcss-logical/test/abstract.bt.expect.css
  plugins/postcss-logical/test/abstract.chinese.expect.css
  plugins/postcss-logical/test/abstract.css
  plugins/postcss-logical/test/abstract.expect.css
  plugins/postcss-logical/test/abstract.rtl-and-bt.expect.css
  plugins/postcss-logical/test/abstract.rtl.expect.css
  plugins/postcss-logical/test/border.chinese.expect.css
Labels: plugins/postcss-logical

#779 css-tokenizer : remove `commentsAreTokens`
  packages/cascade-layer-name-parser/dist/index.cjs
  packages/cascade-layer-name-parser/dist/index.mjs
  packages/cascade-layer-name-parser/src/parser/parse.ts
  packages/cascade-layer-name-parser/test/util/run-test.mjs
  packages/css-parser-algorithms/README.md
  packages/css-parser-algorithms/test/util/run-test.mjs
  packages/css-tokenizer/CHANGELOG.md
  packages/css-tokenizer/README.md
  packages/css-tokenizer/dist/index.cjs
  packages/css-tokenizer/dist/index.mjs
  packages/css-tokenizer/dist/tokenizer.d.ts
  packages/css-tokenizer/src/tokenizer.ts
  packages/css-tokenizer/test/community/postcss-parser-tests.mjs
  packages/css-tokenizer/test/community/token-types.mjs
  packages/css-tokenizer/test/complex/at-media-params.mjs
  packages/css-tokenizer/test/css-tokenizer-tests/test.mjs
  packages/css-tokenizer/test/inspect.mjs
  packages/css-tokenizer/test/token/comment.mjs
  packages/media-query-list-parser/dist/index.cjs
  packages/media-query-list-parser/dist/index.mjs
  packages/media-query-list-parser/src/parser/parse-custom-media.ts
  packages/media-query-list-parser/src/parser/parse.ts
  plugins/postcss-custom-media/dist/index.cjs
  plugins/postcss-custom-media/dist/index.mjs
  plugins/postcss-custom-media/src/transform-at-media/at-media-params-tokens.ts
  plugins/postcss-design-tokens/dist/index.cjs
  plugins/postcss-design-tokens/dist/index.mjs
  plugins/postcss-design-tokens/src/parse-component-values.ts
Labels: plugins/postcss-custom-media, plugins/postcss-design-tokens

#787 fix(postcss-cascade-layers): fix example of `postcss-cascade-layers`
  plugins/postcss-cascade-layers/README.md
  plugins/postcss-cascade-layers/docs/README.md
Labels: plugins/postcss-cascade-layers

#780 postcss-logical-viewport-units
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-logical-viewport-units/.gitignore
  plugins/postcss-logical-viewport-units/.nvmrc
  plugins/postcss-logical-viewport-units/.tape.mjs
  plugins/postcss-logical-viewport-units/CHANGELOG.md
  plugins/postcss-logical-viewport-units/INSTALL.md
  plugins/postcss-logical-viewport-units/LICENSE.md
  plugins/postcss-logical-viewport-units/README.md
  plugins/postcss-logical-viewport-units/dist/has-feature.d.ts
  plugins/postcss-logical-viewport-units/dist/has-supports-at-rule-ancestor.d.ts
  plugins/postcss-logical-viewport-units/dist/index.cjs
  plugins/postcss-logical-viewport-units/dist/index.d.ts
  plugins/postcss-logical-viewport-units/dist/index.mjs
  plugins/postcss-logical-viewport-units/dist/lib/types.d.ts
  plugins/postcss-logical-viewport-units/dist/transform.d.ts
  plugins/postcss-logical-viewport-units/docs/README.md
  plugins/postcss-logical-viewport-units/package.json
  plugins/postcss-logical-viewport-units/src/has-feature.ts
  plugins/postcss-logical-viewport-units/src/has-supports-at-rule-ancestor.ts
  plugins/postcss-logical-viewport-units/src/index.ts
  plugins/postcss-logical-viewport-units/src/lib/types.ts
  plugins/postcss-logical-viewport-units/src/transform.ts
  plugins/postcss-logical-viewport-units/test/_import.mjs
  plugins/postcss-logical-viewport-units/test/_require.cjs
  plugins/postcss-logical-viewport-units/test/basic.css
  plugins/postcss-logical-viewport-units/test/basic.expect.css
  plugins/postcss-logical-viewport-units/test/basic.hebrew.expect.css
  plugins/postcss-logical-viewport-units/test/basic.vertical.expect.css
  plugins/postcss-logical-viewport-units/test/examples/example.css
  plugins/postcss-logical-viewport-units/test/examples/example.expect.css
  plugins/postcss-logical-viewport-units/test/examples/example.preserve-false.expect.css
  plugins/postcss-logical-viewport-units/test/examples/example.vertical.expect.css
  plugins/postcss-logical-viewport-units/tsconfig.json
Labels: common-tools, plugins/postcss-logical-viewport-units

#793 post release patches
  package-lock.json
  plugins/postcss-custom-media/package.json
  plugins/postcss-custom-properties/package.json
  plugins/postcss-custom-selectors/package.json
  plugins/postcss-design-tokens/package.json
  plugins/postcss-logical-viewport-units/package.json
  plugins/postcss-media-queries-aspect-ratio-number-values/package.json
Labels: plugins/postcss-custom-media, plugins/postcss-custom-properties, plugins/postcss-custom-selectors, plugins/postcss-design-tokens, plugins/media-queries-aspect-ratio-number-values, plugins/postcss-logical-viewport-units

#795 remove deno support from postcss-nesting
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/README.md
  plugins/postcss-nesting/mod.js
  plugins/postcss-nesting/package.json
  plugins/postcss-nesting/test/deno/test.js
  rollup/configs/externals.mjs
  rollup/default.mjs
  rollup/presets/deno-javascript.mjs
Labels: plugins/postcss-nesting, common-tools

#794 text-decoration : fix shorthand in Safari with single node values
  package-lock.json
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/css-has-pseudo/README.md
  plugins/css-has-pseudo/package.json
  plugins/postcss-text-decoration-shorthand/CHANGELOG.md
  plugins/postcss-text-decoration-shorthand/dist/index.cjs
  plugins/postcss-text-decoration-shorthand/dist/index.mjs
  plugins/postcss-text-decoration-shorthand/src/index.ts
  plugins/postcss-text-decoration-shorthand/test/basic.autoprefixer.expect.css
  plugins/postcss-text-decoration-shorthand/test/basic.expect.css
  plugins/postcss-text-decoration-shorthand/test/basic.preserve-true.expect.css
Labels: plugins/css-has-pseudo, plugin-packs/postcss-preset-env, plugins/postcss-text-decoration-shorthand

#799 design tokens : fix documentation and unit conversion
  plugins/postcss-design-tokens/CHANGELOG.md
  plugins/postcss-design-tokens/README.md
  plugins/postcss-design-tokens/dist/index.cjs
  plugins/postcss-design-tokens/dist/index.mjs
  plugins/postcss-design-tokens/src/data-formats/style-dictionary/v3/value.ts
  plugins/postcss-design-tokens/test/examples/example.css
  plugins/postcss-design-tokens/test/examples/example.expect.css
  plugins/postcss-design-tokens/test/examples/example.rootFontSize-20.expect.css
  plugins/postcss-design-tokens/test/examples/tokens.json
  plugins/postcss-design-tokens/test/units.expect.css
  plugins/postcss-design-tokens/test/units.rootFontSize-NaN.expect.css
  plugins/postcss-design-tokens/test/units.rootFontSize-invalid.expect.css
Labels: plugins/postcss-design-tokens

#802 Updating site to V8 and also updating all deps
  package-lock.json
  plugins/postcss-logical-viewport-units/CHANGELOG.md
  plugins/postcss-logical-viewport-units/package.json
  sites/package.json
  sites/postcss-preset-env/package.json
Labels: sites/postcss-preset-env, plugins/postcss-logical-viewport-units

#801 cli : add the latest release for postcss-preset-env
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/dist/cli.cjs
  cli/csstools-cli/package.json
  cli/csstools-cli/src/plugins/postcss-preset-env.ts
  package-lock.json
Labels: cli

#804 changelogs : add missing items and formatting
  packages/cascade-layer-name-parser/CHANGELOG.md
  packages/css-parser-algorithms/CHANGELOG.md
  packages/css-tokenizer/CHANGELOG.md
  packages/media-query-list-parser/CHANGELOG.md
  plugins/postcss-design-tokens/CHANGELOG.md
  plugins/postcss-media-queries-aspect-ratio-number-values/CHANGELOG.md
Labels: common-tools, plugins/postcss-design-tokens, plugins/media-queries-aspect-ratio-number-values

#806 Compatible with ts NodeNext module resolution
  plugin-packs/postcss-preset-env/package.json
  plugins/css-blank-pseudo/package.json
  plugins/css-has-pseudo/package.json
  plugins/css-prefers-color-scheme/package.json
  plugins/postcss-attribute-case-insensitive/package.json
  plugins/postcss-base-plugin/package.json
  plugins/postcss-cascade-layers/package.json
  plugins/postcss-color-function/package.json
  plugins/postcss-color-functional-notation/package.json
  plugins/postcss-color-hex-alpha/package.json
  plugins/postcss-color-rebeccapurple/package.json
  plugins/postcss-conditional-values/package.json
  plugins/postcss-custom-media/package.json
  plugins/postcss-custom-properties/package.json
  plugins/postcss-custom-selectors/package.json
  plugins/postcss-design-tokens/package.json
  plugins/postcss-dir-pseudo-class/package.json
  plugins/postcss-double-position-gradients/package.json
  plugins/postcss-env-function/package.json
  plugins/postcss-extract/package.json
  plugins/postcss-focus-visible/package.json
  plugins/postcss-focus-within/package.json
  plugins/postcss-font-format-keywords/package.json
  plugins/postcss-gap-properties/package.json
  plugins/postcss-gradients-interpolation-method/package.json
  plugins/postcss-hwb-function/package.json
  plugins/postcss-ic-unit/package.json
  plugins/postcss-image-set-function/package.json
  plugins/postcss-is-pseudo-class/package.json
  plugins/postcss-lab-function/package.json
  plugins/postcss-logical-float-and-clear/package.json
  plugins/postcss-logical-resize/package.json
  plugins/postcss-logical-viewport-units/package.json
  plugins/postcss-logical/package.json
  plugins/postcss-media-queries-aspect-ratio-number-values/package.json
  plugins/postcss-nested-calc/package.json
  plugins/postcss-nesting/package.json
  plugins/postcss-normalize-display-values/package.json
  plugins/postcss-oklab-function/package.json
  plugins/postcss-overflow-shorthand/package.json
  plugins/postcss-place/package.json
  plugins/postcss-progressive-custom-properties/package.json
  plugins/postcss-pseudo-class-any-link/package.json
  plugins/postcss-scope-pseudo-class/package.json
  plugins/postcss-selector-not/package.json
  plugins/postcss-stepped-value-functions/package.json
  plugins/postcss-text-decoration-shorthand/package.json
  plugins/postcss-trigonometric-functions/package.json
  plugins/postcss-unset-value/package.json
Labels: plugins/postcss-dir-pseudo-class, plugins/css-has-pseudo, plugins/postcss-env-function, plugins/postcss-double-position-gradients, plugins/postcss-color-functional-notation, plugins/css-blank-pseudo, plugins/postcss-focus-within, plugins/postcss-pseudo-class-any-link, plugins/postcss-attribute-case-insensitive, plugins/postcss-custom-media, plugins/postcss-custom-properties, plugins/postcss-custom-selectors, plugins/postcss-focus-visible, plugins/postcss-gap-properties, plugins/postcss-color-hex-alpha, plugins/postcss-image-set-function, plugins/postcss-lab-function, plugins/postcss-logical, plugins/postcss-nesting, plugins/postcss-selector-not, plugins/postcss-overflow-shorthand, plugins/postcss-place, plugin-packs/postcss-preset-env, plugins/css-prefers-color-scheme, common-tools, plugins/postcss-is-pseudo-class, plugins/postcss-hwb-function, plugins/postcss-font-format-keywords, plugins/postcss-normalize-display-values, plugins/postcss-color-function, plugins/postcss-progressive-custom-properties, plugins/postcss-oklab-function, plugins/postcss-cascade-layers, plugins/postcss-ic-unit, plugins/postcss-unset-value, plugins/postcss-gradients-interpolation-method, plugins/postcss-stepped-value-functions, plugins/postcss-trigonometric-functions, plugins/postcss-nested-calc, plugins/postcss-text-decoration-shorthand, plugins/postcss-design-tokens, plugins/postcss-color-rebeccapurple, plugins/postcss-extract, plugins/postcss-scope-pseudo-class, plugins/media-queries-aspect-ratio-number-values, plugins/postcss-logical-viewport-units, plugins/postcss-logical-float-and-clear, plugins/postcss-logical-resize, plugins/postcss-conditional-values

#810 text-decoration-shorthand: multiple line values
  plugins/postcss-text-decoration-shorthand/CHANGELOG.md
  plugins/postcss-text-decoration-shorthand/dist/index.cjs
  plugins/postcss-text-decoration-shorthand/dist/index.mjs
  plugins/postcss-text-decoration-shorthand/src/index.ts
  plugins/postcss-text-decoration-shorthand/test/basic.autoprefixer.expect.css
  plugins/postcss-text-decoration-shorthand/test/basic.css
  plugins/postcss-text-decoration-shorthand/test/basic.expect.css
  plugins/postcss-text-decoration-shorthand/test/basic.preserve-true.expect.css
Labels: plugins/postcss-text-decoration-shorthand

#812 update lockfile version
  .nvmrc
  e2e/.nvmrc
  e2e/browserslist/package-json/.nvmrc
  e2e/browserslist/package-json/package.json
  e2e/package-lock.json
  e2e/package.json
  e2e/postcss-cli/commonjs/.nvmrc
  e2e/postcss-cli/commonjs/package.json
  e2e/postcss-cli/esm/.nvmrc
  e2e/postcss-cli/esm/package.json
  e2e/typescript/commonjs/.nvmrc
  e2e/typescript/commonjs/package.json
  e2e/typescript/esm/.nvmrc
  e2e/typescript/esm/package.json
  e2e/webpack/bundle-through/.nvmrc
  e2e/webpack/bundle-through/package.json
  e2e/webpack/postcss-loader/.nvmrc
  e2e/webpack/postcss-loader/package.json
  package-lock.json
  package.json
  plugin-packs/postcss-preset-env/FEATURES.md
  sites/postcss-preset-env/.nvmrc
  sites/postcss-preset-env/package.json
Labels: plugin-packs/postcss-preset-env, sites/postcss-preset-env, e2e

#814 try edge functions
  sites/postcss-preset-env/edge-functions/hello.js
  sites/postcss-preset-env/netlify.toml
Labels: sites/postcss-preset-env

#815 Revert "try edge functions"
  sites/postcss-preset-env/edge-functions/hello.js
  sites/postcss-preset-env/netlify.toml
Labels: sites/postcss-preset-env

#818 Adding Logical Options to the Playground
  sites/postcss-preset-env/playground.njk
  sites/postcss-preset-env/src/static/css/pages/_playground.css
  sites/postcss-preset-env/src/static/js/playground.js
Labels: sites/postcss-preset-env

#811 nesting : specification rework
  package-lock.json
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/postcss-nesting/.tape.mjs
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/README.md
  plugins/postcss-nesting/dist/index.cjs
  plugins/postcss-nesting/dist/index.mjs
  plugins/postcss-nesting/dist/lib/group-declarations.d.ts
  plugins/postcss-nesting/dist/lib/merge-selectors/merge-selectors.d.ts
  plugins/postcss-nesting/docs/README.md
  plugins/postcss-nesting/package.json
  plugins/postcss-nesting/src/lib/atrule-within-atrule.ts
  plugins/postcss-nesting/src/lib/atrule-within-rule.ts
  plugins/postcss-nesting/src/lib/group-declarations.ts
  plugins/postcss-nesting/src/lib/merge-selectors/merge-selectors.ts
  plugins/postcss-nesting/src/lib/nest-rule-within-rule.ts
  plugins/postcss-nesting/src/lib/rule-within-rule.ts
  plugins/postcss-nesting/test/_browser.mjs
  plugins/postcss-nesting/test/basic.css
  plugins/postcss-nesting/test/basic.expect.css
  plugins/postcss-nesting/test/basic.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/direct.expect.css
  plugins/postcss-nesting/test/direct.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/empty.expect.css
  plugins/postcss-nesting/test/empty.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/examples/example.css
  plugins/postcss-nesting/test/examples/example.expect.css
  plugins/postcss-nesting/test/ignore.expect.css
  plugins/postcss-nesting/test/ignore.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/invalid-selector.expect.css
  plugins/postcss-nesting/test/mixin-declaration.expect.css
  plugins/postcss-nesting/test/mixin-declaration.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/relative-selectors.css
  plugins/postcss-nesting/test/relative-selectors.expect.css
  plugins/postcss-nesting/test/spec-examples.expect.css
  plugins/postcss-nesting/test/spec-examples.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/wpt/conditional.html
  plugins/postcss-nesting/test/wpt/implicit-nesting.html
  plugins/postcss-nesting/test/wpt/nest-containing.html
  plugins/postcss-nesting/test/wpt/nesting-basics.html
Labels: plugins/postcss-nesting, plugin-packs/postcss-preset-env

#820 always set `--access public` when publishing
  .github/bin/release-plan/npm-publish.mjs
Labels: common-tools

#821 update nested CSS on the site and playground
  sites/postcss-preset-env/index.njk
  sites/postcss-preset-env/src/static/css/pages/_playground.css
  sites/postcss-preset-env/src/static/js/playground.js
Labels: sites/postcss-preset-env
