Repository csstools/postcss-plugins, pull requests merged in 2024-03, with the labels that each got.

#1307 blog : relative color syntax channel values
  sites/postcss-preset-env/blog/relative-color-syntax-channel-values.md
  sites/postcss-preset-env/rollup.config.mjs
  sites/postcss-preset-env/src/static/js/blog_relative_color_syntax_channel_values_2024_03_02.js
Labels: sites/postcss-preset-env

#1314 `stylelint-at-risk`
  package-lock.json
  plugins-stylelint/at-risk/CHANGELOG.md
  plugins-stylelint/at-risk/LICENSE.md
  plugins-stylelint/at-risk/README.md
  plugins-stylelint/at-risk/index.mjs
  plugins-stylelint/at-risk/index.test.mjs
  plugins-stylelint/at-risk/package.json
Labels: stylelint-plugin

#1316 Fix typo in `postcss-nesting` documentation
  plugins/postcss-nesting/README.md
  plugins/postcss-nesting/docs/README.md
Labels: plugins/postcss-nesting

#1306 tokenizer and calc updates
  package-lock.json
  packages/css-calc/CHANGELOG.md
  packages/css-calc/dist/index.cjs
  packages/css-calc/dist/index.mjs
  packages/css-calc/src/functions/calc.ts
  packages/css-calc/src/util/is-none.ts
  packages/css-calc/src/util/minus-zero.ts
  packages/css-calc/test/additional/mod-rem-infinity.mjs
  packages/css-calc/test/basic/none-in-clamp.mjs
  packages/css-calc/test/postcss-calc/tests.mjs
  packages/css-calc/test/test.mjs
  packages/css-calc/test/wpt/invalid.mjs
  packages/css-calc/test/wpt/round-function.mjs
  packages/css-calc/test/wpt/round-mod-rem-invalid.mjs
  packages/css-calc/test/wpt/signs-abs-computed.mjs
  packages/css-tokenizer/CHANGELOG.md
  packages/css-tokenizer/dist/index.cjs
  packages/css-tokenizer/dist/index.mjs
  packages/css-tokenizer/src/consume/numeric-token.ts
  packages/css-tokenizer/test/token/numeric.mjs
  plugins/postcss-trigonometric-functions/test/basic.expect.css
  plugins/postcss-trigonometric-functions/test/basic.preserve-true.expect.css
Labels: common-tools, plugins/postcss-trigonometric-functions

#1186 test for mixed components
  package-lock.json
  plugin-packs/postcss-preset-env/FEATURES.md
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.remove.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.all-browsers-have-support.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.supports-query.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/insert.after.match-result.feature-is-skipped.expect.css
  plugin-packs/postcss-preset-env/test/insert.before.match-result.feature-is-skipped.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/postcss-color-function/README.md
  plugins/postcss-color-function/test/basic.preserve-true.expect.css
  plugins/postcss-color-function/test/basic.with-cloned-rules.expect.css
  plugins/postcss-color-function/test/examples/example.preserve-true.expect.css
  plugins/postcss-color-function/test/variables.preserve-true.expect.css
  plugins/postcss-color-mix-function/test/variables.expect.css
  plugins/postcss-color-mix-function/test/variables.preserve-true.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.preserve-false.expect.css
  plugins/postcss-gradients-interpolation-method/test/variables.preserve-true.expect.css
  plugins/postcss-lab-function/test/basic.display-p3-false.preserve-true.expect.css
  plugins/postcss-lab-function/test/basic.preserve-true.expect.css
  plugins/postcss-lab-function/test/basic.with-cloned-rules.expect.css
  plugins/postcss-lab-function/test/variables.display-p3-false.preserve-true.expect.css
  plugins/postcss-lab-function/test/variables.expect.css
  plugins/postcss-lab-function/test/variables.preserve-true.expect.css
  plugins/postcss-oklab-function/test/basic.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.display-p3-false.expect.css
  plugins/postcss-oklab-function/test/basic.preserve-true.expect.css
  plugins/postcss-oklab-function/test/variables.expect.css
  plugins/postcss-oklab-function/test/variables.preserve-true.display-p3-false.expect.css
  plugins/postcss-oklab-function/test/variables.preserve-true.expect.css
  plugins/postcss-progressive-custom-properties/CHANGELOG.md
  plugins/postcss-progressive-custom-properties/dist/index.cjs
  plugins/postcss-progressive-custom-properties/dist/index.mjs
  plugins/postcss-progressive-custom-properties/scripts/color.mjs
  plugins/postcss-progressive-custom-properties/scripts/relative-color-syntax.mjs
  plugins/postcss-progressive-custom-properties/src/matchers.ts
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
  plugins/postcss-relative-color-syntax/test/basic.expect.css
  plugins/postcss-relative-color-syntax/test/basic.preserve-true.expect.css
Labels: plugins/postcss-color-functional-notation, plugins/postcss-lab-function, plugin-packs/postcss-preset-env, plugins/postcss-hwb-function, plugins/postcss-color-function, plugins/postcss-progressive-custom-properties, plugins/postcss-oklab-function, plugins/postcss-gradients-interpolation-method, plugins/postcss-color-mix-function, plugins/postcss-relative-color-syntax

#1321 Allow relative color syntax in `rgba()` and `hsla()` color notations
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/functions/three-channel-space-separated.ts
  packages/css-color-parser/test/basic/relative-color.mjs
  packages/css-color-parser/test/wpt/color-invalid-relative-color.mjs
  plugins/postcss-progressive-custom-properties/CHANGELOG.md
  plugins/postcss-progressive-custom-properties/dist/index.cjs
  plugins/postcss-progressive-custom-properties/dist/index.mjs
  plugins/postcss-progressive-custom-properties/scripts/relative-color-syntax.mjs
  plugins/postcss-progressive-custom-properties/src/matchers.ts
  plugins/postcss-progressive-custom-properties/test/basic.css
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
  plugins/postcss-relative-color-syntax/CHANGELOG.md
  plugins/postcss-relative-color-syntax/dist/index.cjs
  plugins/postcss-relative-color-syntax/dist/index.mjs
  plugins/postcss-relative-color-syntax/src/index.ts
  plugins/postcss-relative-color-syntax/test/basic.css
  plugins/postcss-relative-color-syntax/test/basic.expect.css
  plugins/postcss-relative-color-syntax/test/basic.preserve-true.expect.css
Labels: common-tools, plugins/postcss-progressive-custom-properties, plugins/postcss-relative-color-syntax

#1237 `contrast-color()`
  packages/color-helpers/dist/index.cjs
  packages/color-helpers/dist/index.mjs
  packages/color-helpers/src/calculations/binary-search-gamut.ts
  packages/color-helpers/src/calculations/map-gamut.ts
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.d.ts
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/docs/css-color-parser.api.json
  packages/css-color-parser/docs/css-color-parser.syntaxflag.md
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/src/functions/constrast-color.ts
  packages/css-color-parser/src/index.ts
  packages/css-color-parser/test/basic/contrast-color-function.mjs
  packages/css-color-parser/test/test.mjs
Labels: common-tools

#1325 hsl `none` saturation
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/test/basic/basic.mjs
  packages/css-color-parser/test/basic/color-mix-function.mjs
  packages/css-color-parser/test/wpt/color-computed-color-mix-function.mjs
Labels: common-tools

#1327 `lch`/`oklch` none chroma
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/test/basic/color-mix-function-oklch.mjs
  packages/css-color-parser/test/wpt/color-computed-color-mix-function.mjs
Labels: common-tools

#1317 `postcss-rewrite-url`
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  plugins/postcss-rewrite-url/.gitignore
  plugins/postcss-rewrite-url/.nvmrc
  plugins/postcss-rewrite-url/CHANGELOG.md
  plugins/postcss-rewrite-url/INSTALL.md
  plugins/postcss-rewrite-url/LICENSE.md
  plugins/postcss-rewrite-url/README.md
  plugins/postcss-rewrite-url/api-extractor.json
  plugins/postcss-rewrite-url/dist/index.cjs
  plugins/postcss-rewrite-url/dist/index.d.ts
  plugins/postcss-rewrite-url/dist/index.mjs
  plugins/postcss-rewrite-url/docs/README.md
  plugins/postcss-rewrite-url/package.json
  plugins/postcss-rewrite-url/src/index.ts
  plugins/postcss-rewrite-url/src/serialize-string.ts
  plugins/postcss-rewrite-url/test/_import.mjs
  plugins/postcss-rewrite-url/test/_require.cjs
  plugins/postcss-rewrite-url/test/_tape.mjs
  plugins/postcss-rewrite-url/test/basic.css
  plugins/postcss-rewrite-url/test/basic.expect.css
  plugins/postcss-rewrite-url/test/examples/example.css
  plugins/postcss-rewrite-url/test/examples/example.expect.css
  plugins/postcss-rewrite-url/tsconfig.json
Labels: common-tools, plugins/postcss-rewrite-url

#1334 postcss-rewrite-url: once hook
  plugins/postcss-rewrite-url/CHANGELOG.md
  plugins/postcss-rewrite-url/dist/index.cjs
  plugins/postcss-rewrite-url/dist/index.mjs
  plugins/postcss-rewrite-url/src/index.ts
Labels: plugins/postcss-rewrite-url

#1341 css-color-parser: fixes
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/src/functions/color-mix.ts
  packages/css-color-parser/test/basic/color-mix-function.mjs
  packages/css-color-parser/test/wpt/color-computed-color-mix-function.mjs
Labels: common-tools

#1324 selector-specificity: view-transitions-2
  packages/selector-specificity/CHANGELOG.md
  packages/selector-specificity/dist/index.cjs
  packages/selector-specificity/dist/index.mjs
  packages/selector-specificity/src/index.ts
  packages/selector-specificity/test/test.mjs
Labels: common-tools

#1343 update dependencies
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
Labels: plugin-packs/postcss-preset-env

#1344 `postcss-contrast-color-function`
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  packages/color-helpers/CHANGELOG.md
  packages/color-helpers/dist/index.cjs
  packages/color-helpers/dist/index.d.ts
  packages/color-helpers/dist/index.mjs
  packages/color-helpers/docs/color-helpers.api.json
  packages/color-helpers/docs/color-helpers.contrast_ratio_wcag_2_1.md
  packages/color-helpers/docs/color-helpers.md
  packages/color-helpers/src/calculations/contrast-ratio-wcag-2-1.ts
  packages/color-helpers/src/index.ts
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/functions/contrast-color.ts
  packages/css-color-parser/src/index.ts
  packages/css-color-parser/src/serialize/rgb.ts
  plugins/postcss-contrast-color-function/.gitignore
  plugins/postcss-contrast-color-function/.nvmrc
  plugins/postcss-contrast-color-function/CHANGELOG.md
  plugins/postcss-contrast-color-function/INSTALL.md
  plugins/postcss-contrast-color-function/LICENSE.md
  plugins/postcss-contrast-color-function/README.md
  plugins/postcss-contrast-color-function/api-extractor.json
  plugins/postcss-contrast-color-function/dist/index.cjs
  plugins/postcss-contrast-color-function/dist/index.d.ts
  plugins/postcss-contrast-color-function/dist/index.mjs
  plugins/postcss-contrast-color-function/docs/README.md
  plugins/postcss-contrast-color-function/package.json
  plugins/postcss-contrast-color-function/src/index.ts
  plugins/postcss-contrast-color-function/src/parse-contrast-color.ts
  plugins/postcss-contrast-color-function/src/transform-contrast-color.ts
  plugins/postcss-contrast-color-function/test/_import.mjs
  plugins/postcss-contrast-color-function/test/_require.cjs
  plugins/postcss-contrast-color-function/test/_tape.mjs
  plugins/postcss-contrast-color-function/test/basic.css
  plugins/postcss-contrast-color-function/test/basic.expect.css
  plugins/postcss-contrast-color-function/test/examples/example.css
  plugins/postcss-contrast-color-function/test/examples/example.expect.css
  plugins/postcss-contrast-color-function/test/examples/example.preserve-false.expect.css
  plugins/postcss-contrast-color-function/test/variables.css
  plugins/postcss-contrast-color-function/test/variables.expect.css
  plugins/postcss-contrast-color-function/test/variables.preserve-false.expect.css
  plugins/postcss-contrast-color-function/tsconfig.json
  plugins/postcss-light-dark-function/dist/index.cjs
  plugins/postcss-light-dark-function/dist/index.mjs
  plugins/postcss-light-dark-function/src/parse-light-dark.ts
  plugins/postcss-progressive-custom-properties/CHANGELOG.md
  plugins/postcss-progressive-custom-properties/dist/index.cjs
  plugins/postcss-progressive-custom-properties/dist/index.mjs
  plugins/postcss-progressive-custom-properties/scripts/contrast-color.mjs
  plugins/postcss-progressive-custom-properties/scripts/matchers.mjs
  plugins/postcss-progressive-custom-properties/src/matchers.ts
  plugins/postcss-progressive-custom-properties/test/basic.css
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
Labels: common-tools, plugins/postcss-progressive-custom-properties, plugins/postcss-light-dark-function, plugins/postcss-contrast-color-function

#1345 improve gamut mapping
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/gamut-mapping/p3.ts
  packages/css-color-parser/src/serialize/p3.ts
  packages/css-color-parser/test/basic/basic.mjs
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.remove.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.supports-query.expect.css
  plugin-packs/postcss-preset-env/test/layers-basic.preserve.true.expect.css
  plugins/postcss-gamut-mapping/CHANGELOG.md
  plugins/postcss-gamut-mapping/dist/index.cjs
  plugins/postcss-gamut-mapping/dist/index.mjs
  plugins/postcss-gamut-mapping/src/has-override-decl.ts
  plugins/postcss-gamut-mapping/src/index.ts
  plugins/postcss-gamut-mapping/src/same-property.ts
  plugins/postcss-gamut-mapping/test/basic.css
  plugins/postcss-gamut-mapping/test/basic.expect.css
Labels: plugin-packs/postcss-preset-env, common-tools, plugins/postcss-gamut-mapping
