Repository csstools/postcss-plugins, pull requests merged in 2024-02, with the labels that each got.

#1271 fix types
  package-lock.json
  plugins/postcss-cascade-layers/dist/index.cjs
  plugins/postcss-cascade-layers/dist/index.mjs
  plugins/postcss-cascade-layers/src/desugar-nested-layers.ts
  plugins/postcss-cascade-layers/src/index.ts
  plugins/postcss-cascade-layers/src/sort-root-nodes.ts
  plugins/postcss-image-set-function/dist/index.cjs
  plugins/postcss-image-set-function/dist/index.mjs
  plugins/postcss-image-set-function/src/lib/process-image-set.ts
  plugins/postcss-todo-or-die/dist/index.cjs
  plugins/postcss-todo-or-die/dist/index.mjs
  plugins/postcss-todo-or-die/src/index.ts
Labels: plugins/postcss-image-set-function, common-tools, plugins/postcss-cascade-layers

#1284 update `cssdb`
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
Labels: plugin-packs/postcss-preset-env

#1283 postcss-light-dark-function
  .github/ISSUE_TEMPLATE/css-issue.yml
  .github/ISSUE_TEMPLATE/plugin-issue.yml
  .github/labeler.yml
  package-lock.json
  packages/css-parser-algorithms/CHANGELOG.md
  packages/css-parser-algorithms/dist/index.cjs
  packages/css-parser-algorithms/dist/index.d.ts
  packages/css-parser-algorithms/dist/index.mjs
  packages/css-parser-algorithms/docs/css-parser-algorithms.api.json
  packages/css-parser-algorithms/docs/css-parser-algorithms.replacecomponentvalues.md
  packages/css-parser-algorithms/src/util/replace-component-values.ts
  packages/css-parser-algorithms/test/cases/replacer/0001.mjs
  plugins/postcss-light-dark-function/.gitignore
  plugins/postcss-light-dark-function/.nvmrc
  plugins/postcss-light-dark-function/CHANGELOG.md
  plugins/postcss-light-dark-function/INSTALL.md
  plugins/postcss-light-dark-function/LICENSE.md
  plugins/postcss-light-dark-function/README.md
  plugins/postcss-light-dark-function/api-extractor.json
  plugins/postcss-light-dark-function/dist/index.cjs
  plugins/postcss-light-dark-function/dist/index.d.ts
  plugins/postcss-light-dark-function/dist/index.mjs
  plugins/postcss-light-dark-function/docs/README.md
  plugins/postcss-light-dark-function/package.json
  plugins/postcss-light-dark-function/src/color-schemes.ts
  plugins/postcss-light-dark-function/src/has-fallback-decl.ts
  plugins/postcss-light-dark-function/src/has-supports-at-rule-ancestor.ts
  plugins/postcss-light-dark-function/src/index.ts
  plugins/postcss-light-dark-function/src/parse-light-dark.ts
  plugins/postcss-light-dark-function/src/props.ts
  plugins/postcss-light-dark-function/src/transform-light-dark.ts
  plugins/postcss-light-dark-function/test/_browser.mjs
  plugins/postcss-light-dark-function/test/_import.mjs
  plugins/postcss-light-dark-function/test/_require.cjs
  plugins/postcss-light-dark-function/test/_tape.mjs
  plugins/postcss-light-dark-function/test/basic.css
  plugins/postcss-light-dark-function/test/basic.expect.css
  plugins/postcss-light-dark-function/test/basic.preserve-false.expect.css
  plugins/postcss-light-dark-function/test/examples/example.css
  plugins/postcss-light-dark-function/test/examples/example.expect.css
  plugins/postcss-light-dark-function/test/examples/example.preserve-false.expect.css
  plugins/postcss-light-dark-function/test/ignore.css
  plugins/postcss-light-dark-function/test/ignore.expect.css
  plugins/postcss-light-dark-function/test/variables.css
  plugins/postcss-light-dark-function/test/variables.expect.css
  plugins/postcss-light-dark-function/test/wpt/light-dark-basic.html
  plugins/postcss-light-dark-function/test/wpt/light-dark-currentcolor-in-color.html
  plugins/postcss-light-dark-function/test/wpt/light-dark-inherited.html
  plugins/postcss-light-dark-function/tsconfig.json
  plugins/postcss-progressive-custom-properties/CHANGELOG.md
  plugins/postcss-progressive-custom-properties/dist/index.cjs
  plugins/postcss-progressive-custom-properties/dist/index.mjs
  plugins/postcss-progressive-custom-properties/scripts/light-dark.mjs
  plugins/postcss-progressive-custom-properties/scripts/matchers.mjs
  plugins/postcss-progressive-custom-properties/src/matchers.ts
  plugins/postcss-progressive-custom-properties/test/basic.css
  plugins/postcss-progressive-custom-properties/test/basic.expect.css
Labels: common-tools, plugins/postcss-progressive-custom-properties, plugins/postcss-light-dark-function

#1287 Fix specificity calculation of any pseudo classes
  packages/selector-specificity/CHANGELOG.md
  packages/selector-specificity/dist/index.cjs
  packages/selector-specificity/dist/index.mjs
  packages/selector-specificity/src/index.ts
  packages/selector-specificity/test/test.mjs
  packages/selector-specificity/test/tests-from-bramus-specificity.mjs
Labels: common-tools

#1289 postcss-hwb-function : maintenance
  package-lock.json
  plugin-packs/postcss-preset-env/test/progressive-custom-properties.expect.css
  plugins/postcss-hwb-function/README.md
  plugins/postcss-hwb-function/dist/index.cjs
  plugins/postcss-hwb-function/dist/index.d.ts
  plugins/postcss-hwb-function/dist/index.mjs
  plugins/postcss-hwb-function/docs/README.md
  plugins/postcss-hwb-function/package.json
  plugins/postcss-hwb-function/src/has-supports-at-rule-ancestor.ts
  plugins/postcss-hwb-function/src/index.ts
  plugins/postcss-hwb-function/test/_tape.mjs
  plugins/postcss-hwb-function/test/basic.preserve-true.expect.css
  plugins/postcss-hwb-function/test/basic.with-cloned-rules.expect.css
  plugins/postcss-hwb-function/test/examples/example.css
  plugins/postcss-hwb-function/test/examples/example.expect.css
  plugins/postcss-hwb-function/test/examples/example.preserve-true.expect.css
  plugins/postcss-hwb-function/test/variables.preserve-true.expect.css
Labels: plugin-packs/postcss-preset-env, plugins/postcss-hwb-function

#1294 add `light-dark` to `postcss-preset-env`
  cli/csstools-cli/CHANGELOG.md
  cli/csstools-cli/README.md
  cli/csstools-cli/dist/cli.cjs
  cli/csstools-cli/package.json
  cli/csstools-cli/src/cli.ts
  cli/csstools-cli/src/plugins/postcss-light-dark-function.ts
  package-lock.json
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/FEATURES.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.d.ts
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/package.json
  plugin-packs/postcss-preset-env/scripts/plugins-data.json
  plugin-packs/postcss-preset-env/src/lib/ids-by-execution-order.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-by-id.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-data.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-options.ts
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.remove.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.all-browsers-have-support.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.noIsPseudoSelector.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.supports-query.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-3.expect.css
  rollup/configs/externals.mjs
Labels: plugin-packs/postcss-preset-env, common-tools, cli

#1302 improve the regex for gradient function detection
  plugins/postcss-gradients-interpolation-method/CHANGELOG.md
  plugins/postcss-gradients-interpolation-method/dist/index.cjs
  plugins/postcss-gradients-interpolation-method/dist/index.mjs
  plugins/postcss-gradients-interpolation-method/src/index.ts
  plugins/postcss-gradients-interpolation-method/src/is-gradient.ts
Labels: plugins/postcss-gradients-interpolation-method

#1298 Fix/nested mixins reorder
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/dist/index.cjs
  plugins/postcss-nesting/dist/index.mjs
  plugins/postcss-nesting/src/lib/group-declarations.ts
  plugins/postcss-nesting/test/_tape.mjs
  plugins/postcss-nesting/test/at-nest.expect.css
  plugins/postcss-nesting/test/at-nest.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/at-nest.silent.expect.css
  plugins/postcss-nesting/test/mixin-nested-rules.css
  plugins/postcss-nesting/test/mixin-nested-rules.expect.css
  plugins/postcss-nesting/test/mixin-rule.expect.css
  plugins/postcss-nesting/test/mixin-rule.no-is-pseudo-selector.expect.css
  plugins/postcss-nesting/test/spec-examples.expect.css
  plugins/postcss-nesting/test/spec-examples.no-is-pseudo-selector.expect.css
Labels: plugins/postcss-nesting

#1304 `postcss-preset-env` : array options
  e2e/typescript/esm--node-next/index.ts
  plugin-packs/postcss-preset-env/CHANGELOG.md
  plugin-packs/postcss-preset-env/README.md
  plugin-packs/postcss-preset-env/dist/index.cjs
  plugin-packs/postcss-preset-env/dist/index.d.ts
  plugin-packs/postcss-preset-env/dist/index.mjs
  plugin-packs/postcss-preset-env/scripts/generate-plugins-data.mjs
  plugin-packs/postcss-preset-env/src/index.ts
  plugin-packs/postcss-preset-env/src/lib/format-feature.mjs
  plugin-packs/postcss-preset-env/src/lib/list-features.mjs
  plugin-packs/postcss-preset-env/src/patch/postcss-system-ui-font-family.mjs
  plugin-packs/postcss-preset-env/src/plugins/plugins-options.ts
  plugin-packs/postcss-preset-env/src/test/lib/list-features/array-options.mjs
  plugin-packs/postcss-preset-env/src/test/lib/list-features/list-features.mjs
  plugin-packs/postcss-preset-env/test/_tape.mjs
Labels: plugin-packs/postcss-preset-env, e2e
