Repository csstools/postcss-plugins, pull requests merged in 2024-04, with the labels that each got.

#1349 `postcss-light-dark-function`: fix cascade layers
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.remove.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78-saf10.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch88-ff78.no-is-pseudo.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.all-browsers-have-support.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.safari15.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff49.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0-ff66.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.supports-query.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugins/postcss-light-dark-function/CHANGELOG.md
  plugins/postcss-light-dark-function/README.md
  plugins/postcss-light-dark-function/dist/index.cjs
  plugins/postcss-light-dark-function/dist/index.mjs
  plugins/postcss-light-dark-function/package.json
  plugins/postcss-light-dark-function/src/index.ts
  plugins/postcss-light-dark-function/src/props.ts
  plugins/postcss-light-dark-function/src/transform-light-dark.ts
  plugins/postcss-light-dark-function/test/_browser.mjs
  plugins/postcss-light-dark-function/test/_tape.mjs
  plugins/postcss-light-dark-function/test/basic.css
  plugins/postcss-light-dark-function/test/basic.expect.css
  plugins/postcss-light-dark-function/test/basic.preserve-false.expect.css
  plugins/postcss-light-dark-function/test/both-in-root.css
  plugins/postcss-light-dark-function/test/both-in-root.expect.css
  plugins/postcss-light-dark-function/test/cascade-layers-a.css
  plugins/postcss-light-dark-function/test/cascade-layers-a.expect.css
  plugins/postcss-light-dark-function/test/cascade-layers-b.css
  plugins/postcss-light-dark-function/test/cascade-layers-b.expect.css
  plugins/postcss-light-dark-function/test/cascade-layers-c.css
  plugins/postcss-light-dark-function/test/cascade-layers-c.expect.css
  plugins/postcss-light-dark-function/test/cascade-layers-d.css
  plugins/postcss-light-dark-function/test/cascade-layers-d.expect.css
  plugins/postcss-light-dark-function/test/examples/example.expect.css
  plugins/postcss-light-dark-function/test/examples/example.preserve-false.expect.css
  plugins/postcss-light-dark-function/test/variables.expect.css
  plugins/postcss-light-dark-function/test/wpt/light-dark-basic.html
  plugins/postcss-light-dark-function/test/wpt/light-dark-currentcolor-in-color.html
  plugins/postcss-light-dark-function/test/wpt/light-dark-inherited.html
Labels: plugin-packs/postcss-preset-env, plugins/postcss-light-dark-function

#1357 Improve handling of cross references between computed values of custom properties
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.autoprefixer.remove.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.ch38.expect.css
  plugin-packs/postcss-preset-env/test/basic.expect.css
  plugin-packs/postcss-preset-env/test/basic.hebrew.expect.css
  plugin-packs/postcss-preset-env/test/basic.ie10.expect.css
  plugin-packs/postcss-preset-env/test/basic.nesting.false.expect.css
  plugin-packs/postcss-preset-env/test/basic.op_mini.expect.css
  plugin-packs/postcss-preset-env/test/basic.preserve.true.expect.css
  plugin-packs/postcss-preset-env/test/basic.stage0.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-1.expect.css
  plugin-packs/postcss-preset-env/test/basic.vendors-2.expect.css
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/dist/index.cjs
  plugins/postcss-custom-properties/dist/index.mjs
  plugins/postcss-custom-properties/src/build-custom-properties-map.ts
  plugins/postcss-custom-properties/src/get-custom-properties-from-root.ts
  plugins/postcss-custom-properties/src/get-custom-properties-from-siblings.ts
  plugins/postcss-custom-properties/src/index.ts
  plugins/postcss-custom-properties/src/is-initial.ts
  plugins/postcss-custom-properties/src/parse-var-function.ts
  plugins/postcss-custom-properties/src/toposort.ts
  plugins/postcss-custom-properties/src/transform-properties.ts
  plugins/postcss-custom-properties/src/transform-value-ast.ts
  plugins/postcss-custom-properties/test/_tape.mjs
  plugins/postcss-custom-properties/test/basic.css
  plugins/postcss-custom-properties/test/basic.expect.css
  plugins/postcss-custom-properties/test/basic.preserve.expect.css
  plugins/postcss-custom-properties/test/cyclic-on-different-element-1.css
  plugins/postcss-custom-properties/test/cyclic-on-different-element-1.expect.css
  plugins/postcss-custom-properties/test/cyclic-on-different-element-2.css
  plugins/postcss-custom-properties/test/cyclic-on-different-element-2.expect.css
Labels: plugins/postcss-custom-properties, plugin-packs/postcss-preset-env

#1366 fix possibly undefined property accessor
  plugins/css-blank-pseudo/CHANGELOG.md
  plugins/css-blank-pseudo/dist/browser-global.js
  plugins/css-blank-pseudo/dist/browser-global.js.map
  plugins/css-blank-pseudo/dist/browser.cjs
  plugins/css-blank-pseudo/dist/browser.cjs.map
  plugins/css-blank-pseudo/dist/browser.mjs
  plugins/css-blank-pseudo/dist/browser.mjs.map
  plugins/css-blank-pseudo/src/browser.js
  plugins/css-blank-pseudo/test/_browser.html
  plugins/css-blank-pseudo/test/_browser.mjs
Labels: plugins/css-blank-pseudo

#1368 postcss-nesting: nested conditionals
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/dist/index.cjs
  plugins/postcss-nesting/dist/index.mjs
  plugins/postcss-nesting/src/editions/2024-02/lib/atrule-within-rule.ts
  plugins/postcss-nesting/test/media.edition-2024-02.expect.css
  plugins/postcss-nesting/test/spec-examples.css
  plugins/postcss-nesting/test/spec-examples.edition-2024-02.expect.css
  plugins/postcss-nesting/test/spec-examples.expect.css
  plugins/postcss-nesting/test/spec-examples.no-is-pseudo-selector.expect.css
Labels: plugins/postcss-nesting

#1359 css-color-parser : undo `none` to zero conversion in RCS
  packages/css-color-parser/CHANGELOG.md
  packages/css-color-parser/dist/index.cjs
  packages/css-color-parser/dist/index.mjs
  packages/css-color-parser/src/color-data.ts
  packages/css-color-parser/test/basic/color-mix-function.mjs
  packages/css-color-parser/test/basic/relative-color.mjs
Labels: common-tools

#1373 `postcss-pseudo-class-any-link`: ignore `:not()` pseudos
  plugins/postcss-pseudo-class-any-link/CHANGELOG.md
  plugins/postcss-pseudo-class-any-link/dist/index.cjs
  plugins/postcss-pseudo-class-any-link/dist/index.mjs
  plugins/postcss-pseudo-class-any-link/src/replace-any-link.ts
  plugins/postcss-pseudo-class-any-link/test/basic.css
  plugins/postcss-pseudo-class-any-link/test/basic.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.preserve-false.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.sub-features-area-href.expect.css
  plugins/postcss-pseudo-class-any-link/test/basic.with-cloned-declarations.expect.css
  plugins/postcss-pseudo-class-any-link/test/generated-selector-cases.expect.css
  plugins/postcss-pseudo-class-any-link/test/generated-selector-cases.sub-features-area-href.expect.css
Labels: plugins/postcss-pseudo-class-any-link

#1378 `postcss-custom-properties`: prevent errors when a custom property has multiple dependencies and one of them is undefined
  plugins/postcss-custom-properties/CHANGELOG.md
  plugins/postcss-custom-properties/dist/index.cjs
  plugins/postcss-custom-properties/dist/index.mjs
  plugins/postcss-custom-properties/src/build-custom-properties-map.ts
  plugins/postcss-custom-properties/test/_tape.mjs
  plugins/postcss-custom-properties/test/issue-1377.css
  plugins/postcss-custom-properties/test/issue-1377.expect.css
Labels: plugins/postcss-custom-properties

#1380 Fix typo in code example of css-parser-algorithms
  packages/css-parser-algorithms/dist/index.d.ts
  packages/css-parser-algorithms/docs/css-parser-algorithms.api.json
  packages/css-parser-algorithms/docs/css-parser-algorithms.md
  packages/css-parser-algorithms/src/index.ts
Labels: common-tools
