Repository csstools/postcss-plugins, pull requests merged in 2025-06, with the labels that each got.

#1624 `postcss-preset-env`: fix broken link to `postcss-logical-float-and-clear` in `README.md`
  plugin-packs/postcss-preset-env/README.md
Labels: plugin-packs/postcss-preset-env

#1629 release
  package-lock.json
  packages/selector-resolve-nested/CHANGELOG.md
  packages/selector-resolve-nested/package.json
  plugins/postcss-nesting/CHANGELOG.md
  plugins/postcss-nesting/package.json
Labels: plugins/postcss-nesting, common-tools

#1632 fix #1631
  plugins/postcss-is-pseudo-class/CHANGELOG.md
  plugins/postcss-is-pseudo-class/dist/index.cjs
  plugins/postcss-is-pseudo-class/dist/index.mjs
  plugins/postcss-is-pseudo-class/src/split-selectors/complex/same-preceding-element.ts
  plugins/postcss-is-pseudo-class/test/complex.css
  plugins/postcss-is-pseudo-class/test/complex.expect.css
Labels: plugins/postcss-is-pseudo-class
